{"openapi":"3.1.0","info":{"title":"Telematics Integrations Service - REST API","description":"Integrations Service REST API.","version":"0.1.0"},"servers":[{"url":"https://api.catenatelematics.com","description":"Catena Telematics API"}],"paths":{"/v2/integrations/connections/resource-operations":{"get":{"tags":["Resource Operations"],"summary":"List Resource Operations","description":"Get a paginated list of resource operations.\n\nSupports flexible filtering by date range, resource type, connection, source, fleet reference,\noperation type, and source ID. Use `source_id` together with `resource` to target a specific\nrecord in the TSP.","operationId":"list_resource_operations","security":[{"Bearer":["resource_operation:read"]}],"parameters":[{"name":"resource","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ResourceEnum"},{"type":"null"}],"description":"Filter resource operations by resource type (e.g., `vehicle`, `user`, `fuel_charge`).","title":"Resource"},"description":"Filter resource operations by resource type (e.g., `vehicle`, `user`, `fuel_charge`)."},{"name":"connection_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"description":"Filter resource operations by connection ID.","title":"Connection Id"},"description":"Filter resource operations by connection ID."},{"name":"source_name","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/TspEnum"},{"type":"null"}],"description":"Filter resource operations by source name.","title":"Source Name"},"description":"Filter resource operations by source name."},{"name":"fleet_refs","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"},"maxItems":100},{"type":"null"}],"description":"Filter resource operations by one or more fleet references. **Maximum:** 100 values. To specify multiple values, repeat the parameter for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`).","title":"Fleet Refs"},"description":"Filter resource operations by one or more fleet references. **Maximum:** 100 values. To specify multiple values, repeat the parameter for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."},{"name":"operation","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ResourceOperationTypeEnum"},{"type":"null"}],"description":"Filter resource operations by operation type (e.g., `create`, `update`).","title":"Operation"},"description":"Filter resource operations by operation type (e.g., `create`, `update`)."},{"name":"source_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter resource operations by source ID in the TSP. Requires the `resource` parameter.","title":"Source Id"},"description":"Filter resource operations by source ID in the TSP. Requires the `resource` parameter."},{"name":"from_datetime","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 45 days","examples":["2026-05-03T18:39:46.530411Z"],"title":"From Datetime"},"description":"Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 45 days"},{"name":"to_datetime","in":"query","required":false,"schema":{"type":"string","format":"date-time","description":"Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 45 days","examples":["2026-05-04T18:39:46.530723Z"],"title":"To Datetime"},"description":"Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 45 days"},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":300,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPage_TypeVar_Customized_ResourceOperationRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-mint":{"metadata":{"title":"🧪 List Resource Operations"},"content":"<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional endpoint</strong><br/>This endpoint is available for early access. The core schema is stable, but minor details — such as field names or added fields — may change before it becomes generally available. Backward compatibility is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\">API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"}}},"/v2/integrations/connections/{connection_id}/resource-operations/{resource_operation_id}":{"get":{"tags":["Resource Operations"],"summary":"Get Resource Operation","description":"Get a single resource operation and its logs by ID.","operationId":"get_resource_operation","security":[{"Bearer":["resource_operation:read"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"The unique identifier of the connection.","title":"Connection Id"},"description":"The unique identifier of the connection."},{"name":"resource_operation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"The unique identifier of the resource operation.","title":"Resource Operation Id"},"description":"The unique identifier of the resource operation."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceOperationRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-mint":{"metadata":{"title":"🧪 Get Resource Operation"},"content":"<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional endpoint</strong><br/>This endpoint is available for early access. The core schema is stable, but minor details — such as field names or added fields — may change before it becomes generally available. Backward compatibility is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\">API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"}}},"/v2/integrations/connections":{"get":{"tags":["Connections"],"summary":"List Connections","description":"Get a paginated list of all connections accessible to your organization.","operationId":"list_connections","security":[{"Bearer":["connection:read"]}],"parameters":[{"name":"tsp_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Tsp Id"}},{"name":"fleet_ids","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string","format":"uuid"},"maxItems":100},{"type":"null"}],"description":"Limit results to specific fleets. **Maximum:** 100 IDs. To specify multiple values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`).","title":"Fleet Ids"},"description":"Limit results to specific fleets. **Maximum:** 100 IDs. To specify multiple values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."},{"name":"fleet_refs","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"},"maxItems":100},{"type":"null"}],"description":"Limit results to specific fleet references. **Maximum:** 100 references. To specify multiple values, repeat the parameter for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`).","title":"Fleet Refs"},"description":"Limit results to specific fleet references. **Maximum:** 100 references. To specify multiple values, repeat the parameter for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":300,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPage_TypeVar_Customized_ConnectionRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}},"post":{"tags":["Connections"],"summary":"Create Connection","description":"Create a new connection.\n\nThis will validate the credentials with the TSP before creating the connection.\nIf the credentials are invalid, the connection will not be created and an error will be returned.\n\nIt also creates a schedule to refresh or exchanged the coneection details\nfor a short lived credential, shuch as an access token.","operationId":"create_connection","security":[{"Bearer":["connection:create"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true"}},"/v2/integrations/connections/data-freshness":{"get":{"tags":["Connections"],"summary":"Get Data Freshness","description":"Get a summary of data freshness for a fleet's telematics connections.","operationId":"get_data_freshness","security":[{"Bearer":["connection:read"]}],"parameters":[{"name":"fleet_ids","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string","format":"uuid"},"maxItems":100},{"type":"null"}],"description":"Limit results to specific fleets. **Maximum:** 100 IDs. To specify multiple values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`).","title":"Fleet Ids"},"description":"Limit results to specific fleets. **Maximum:** 100 IDs. To specify multiple values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."},{"name":"fleet_refs","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"},"maxItems":100},{"type":"null"}],"description":"Limit results to specific fleet references. **Maximum:** 100 references. To specify multiple values, repeat the parameter for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`).","title":"Fleet Refs"},"description":"Limit results to specific fleet references. **Maximum:** 100 references. To specify multiple values, repeat the parameter for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DataFreshness"},"title":"Response Get Data Freshness"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}}},"/v2/integrations/connections/{connection_id}":{"get":{"tags":["Connections"],"summary":"Get Connection","description":"Get detailed information about a specific connection.","operationId":"get_connection","security":[{"Bearer":["connection:read"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}},"patch":{"tags":["Connections"],"summary":"Update Connection","description":"Update a connection by its ID.\n\nThe repository handles validation, authentication, and SLC creation when credentials are updated.","operationId":"update_connection","security":[{"Bearer":["connection:update"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true","x-mint":{"content":"<Info>Updating connections is only available to fleets.</Info>"}},"delete":{"tags":["Connections"],"summary":"Delete Connection","description":"Delete a connection by its ID.","operationId":"delete_connection","security":[{"Bearer":["connection:delete"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}}],"responses":{"204":{"description":"Successful Response"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true","x-mint":{"content":"<Info>Deleting connections is only available to fleets.</Info>"}}},"/v2/integrations/connections/schedules/backfill":{"post":{"tags":["Connections"],"summary":"Backfill Schedules","description":"Backfill schedules for existing connections when new resources are added to the system.\n\nWhen a new resource type is registered in the integrations service (e.g., a new TSP adapter\nis deployed or an existing adapter adds support for a new resource), existing connections\ndon't automatically receive schedules for that resource. This creates a gap where connections\ncan't collect data for newly supported resource types until schedules are manually created.\n\nThis endpoint addresses that operational gap by creating the missing schedules across all\naffected connections in a single atomic operation, ensuring fleets can immediately benefit\nfrom newly supported resources without recreating connections or manual schedule management.\n\nThe endpoint only creates schedules where none currently exist - deleted or disabled schedules\nare intentionally ignored to preserve deliberate administrative decisions (e.g., a fleet may\nhave explicitly disabled a resource they don't need).\n\nArgs:\n    request: Backfill request containing resource type and optional filters\n    session: Database session\n    eventbridge: EventBridge client\n    is_catena_admin: Admin authorization check\n\nReturns:\n    ScheduleBackfillResponse: List of connection IDs where schedules were created","operationId":"backfill_schedules","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleBackfillRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleBackfillResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}}}},"security":[{"Bearer":["schedule:create"]}],"x-excluded":"true"}},"/v2/integrations/connection-pre-auths":{"post":{"tags":["Connections"],"summary":"Create Connection Pre Auth","description":"Create a new connection pre-auth record.\n\nThis endpoint stores pre-authentication credentials (e.g., username/password)\nbefore initiating an OAuth flow. The returned ID should be provided when\ncreating the connection after the OAuth redirect completes.\n\nPre-auth records are single-use and can only be used by the same fleet and TSP.","operationId":"create_connection_pre_auth","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionPreAuthCreate"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"string","format":"uuid","title":"Response Create Connection Pre Auth"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}}},"429":{"description":"Too Many Requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}}}},"security":[{"Bearer":["connection:create"]}],"x-excluded":"true"}},"/v2/integrations/connections/{connection_id}/schedules":{"get":{"tags":["Connections"],"summary":"List Schedules","description":"Get a paginated list of all schedules for a given connection.","operationId":"list_schedules","security":[{"Bearer":["schedule:read"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}},{"name":"resource","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ResourceEnum"},{"type":"null"}],"title":"Resource"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":300,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPage_TypeVar_Customized_ScheduleRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}},"post":{"tags":["Connections"],"summary":"Create Schedule","description":"Create a new schedule.\n\nThis will create a schedule to fetch data from the TSP.\n\nIt also creates a schedule to refresh or exchange the connection details\nfor a short lived credential, such as an access token.\n\nFor now only Catena admins can create schedules.","operationId":"create_schedule","security":[{"Bearer":["schedule:create"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true"}},"/v2/integrations/connections/{connection_id}/schedules/{schedule_id}":{"get":{"tags":["Connections"],"summary":"Get Schedule","description":"Get detailed information about a specific schedule.","operationId":"get_schedule","security":[{"Bearer":["schedule:read"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}},{"name":"schedule_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Schedule Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}},"patch":{"tags":["Connections"],"summary":"Update Schedule","description":"Update a schedule by its ID.","operationId":"update_schedule","security":[{"Bearer":["schedule:update"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}},{"name":"schedule_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Schedule Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true"},"delete":{"tags":["Connections"],"summary":"Delete Schedule","description":"Delete a schedule by its ID.","operationId":"delete_schedule","security":[{"Bearer":["schedule:delete"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}},{"name":"schedule_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Schedule Id"}}],"responses":{"204":{"description":"Successful Response"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true"}},"/v2/integrations/connections/{connection_id}/schedules/activate-schedules":{"post":{"tags":["Connections"],"summary":"Activate Schedules","description":"Activate PAUSED or INACTIVE schedules for a connection.\n\nAll eligible schedules for the connection are activated.","operationId":"activate_schedules","security":[{"Bearer":["schedule:update"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScheduleRead"},"title":"Response Activate Schedules"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true"}},"/v2/integrations/connections/{connection_id}/schedules/{schedule_id}/activate":{"post":{"tags":["Connections"],"summary":"Activate Schedule","description":"Activate a specific PAUSED or INACTIVE schedule.","operationId":"activate_schedule","security":[{"Bearer":["schedule:update"]}],"parameters":[{"name":"schedule_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Schedule Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true"}},"/v2/integrations/connections/{connection_id}/schedules/{schedule_id}/executions":{"get":{"tags":["Connections"],"summary":"List Executions","description":"Get a paginated list of all executions for a given schedule.\n\n**Note:** Executions are retained for 7 days. After this period, they are\nautomatically removed and will no longer appear in this list.","operationId":"list_executions","security":[{"Bearer":["execution:read"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}},{"name":"schedule_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Schedule Id"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":300,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPage_TypeVar_Customized_ExecutionRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}}},"/v2/integrations/tsps":{"get":{"tags":["TSP Integrations"],"summary":"List Integrations Per Tsp","description":"List all TSPs and the supported integrations for each TSP with cursor pagination.","operationId":"list_integrations_per_tsp","parameters":[{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":300,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPage_TypeVar_Customized_TspIntegrationsRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}}},"/v2/integrations/tsps/{tsp_id}":{"get":{"tags":["TSP Integrations"],"summary":"Get Integrations Per Tsp","description":"Get one TSP by id with its supported integrations.","operationId":"get_integrations_per_tsp","parameters":[{"name":"tsp_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Tsp Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TspIntegrationsRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}}}},"components":{"schemas":{"AccessTokenCreds-Input":{"properties":{"access_token":{"type":"string","title":"Access Token"},"token_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Type"},"expires_in":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Expires In"},"refresh_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Refresh Token"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id"},"account_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Id"},"host":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Host"}},"type":"object","required":["access_token"],"title":"AccessTokenCreds","description":"Access Token Credentials"},"AccessTokenCreds-Output":{"properties":{"access_token":{"title":"Access Token"},"token_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Type"},"expires_in":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Expires In"},"refresh_token":{"title":"Refresh Token"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id"},"account_id":{"title":"Account Id"},"host":{"title":"Host"}},"type":"object","required":["access_token"],"title":"AccessTokenCreds","description":"Access Token Credentials"},"ApiAuthCreds-Input":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"api_key":{"type":"string","title":"Api Key"}},"type":"object","required":["username","password","api_key"],"title":"ApiAuthCreds","description":"API Auth Connection model"},"ApiAuthCreds-Output":{"properties":{"username":{"title":"Username"},"password":{"title":"Password"},"api_key":{"title":"Api Key"}},"type":"object","required":["username","password","api_key"],"title":"ApiAuthCreds","description":"API Auth Connection model"},"ApiBasicCreds-Input":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"auth_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Auth Code"},"host":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Host"}},"type":"object","required":["username","password"],"title":"ApiBasicCreds","description":"API Basic Connection model"},"ApiBasicCreds-Output":{"properties":{"username":{"title":"Username"},"password":{"title":"Password"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"auth_code":{"title":"Auth Code"},"host":{"title":"Host"}},"type":"object","required":["username","password"],"title":"ApiBasicCreds","description":"API Basic Connection model"},"ApiKeyCreds-Input":{"properties":{"api_key":{"type":"string","title":"Api Key"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id"}},"type":"object","required":["api_key"],"title":"ApiKeyCreds","description":"API Key Connection model"},"ApiKeyCreds-Output":{"properties":{"api_key":{"title":"Api Key"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id"}},"type":"object","required":["api_key"],"title":"ApiKeyCreds","description":"API Key Connection model"},"AzugaSLC-Input":{"properties":{"api_key":{"type":"string","title":"Api Key"},"token":{"type":"string","title":"Token"}},"type":"object","required":["api_key","token"],"title":"AzugaSLC","description":"Azuga Short-lived Credentials model"},"AzugaSLC-Output":{"properties":{"api_key":{"title":"Api Key"},"token":{"title":"Token"}},"type":"object","required":["api_key","token"],"title":"AzugaSLC","description":"Azuga Short-lived Credentials model"},"BadRequest":{"properties":{"code":{"type":"integer","title":"Code","default":400},"message":{"type":"string","title":"Message","default":"Bad Request"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"BadRequest"},"BouncieCreds-Input":{"properties":{"auth_code":{"type":"string","title":"Auth Code"},"redirect_uri":{"type":"string","title":"Redirect Uri"},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Secret"}},"type":"object","required":["auth_code","redirect_uri"],"title":"BouncieCreds","description":"Bouncie Credentials model"},"BouncieCreds-Output":{"properties":{"auth_code":{"title":"Auth Code"},"redirect_uri":{"type":"string","title":"Redirect Uri"},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret":{"title":"Client Secret"}},"type":"object","required":["auth_code","redirect_uri"],"title":"BouncieCreds","description":"Bouncie Credentials model"},"ClientIdSecretCreds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"account_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Id"}},"type":"object","required":["client_id","client_secret"],"title":"ClientIdSecretCreds","description":"Client ID Secret Connection model"},"ClientIdSecretCreds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"title":"Client Secret"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"account_id":{"title":"Account Id"}},"type":"object","required":["client_id","client_secret"],"title":"ClientIdSecretCreds","description":"Client ID Secret Connection model"},"CompanyAccessCreds-Input":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"company_id":{"type":"string","title":"Company Id"}},"type":"object","required":["username","password","company_id"],"title":"CompanyAccessCreds","description":"Company Access Credentials model"},"CompanyAccessCreds-Output":{"properties":{"username":{"title":"Username"},"password":{"title":"Password"},"company_id":{"title":"Company Id"}},"type":"object","required":["username","password","company_id"],"title":"CompanyAccessCreds","description":"Company Access Credentials model"},"CompanyIdCreds-Input":{"properties":{"company_id":{"type":"string","title":"Company Id"}},"type":"object","required":["company_id"],"title":"CompanyIdCreds","description":"Company ID Credentials model"},"CompanyIdCreds-Output":{"properties":{"company_id":{"title":"Company Id"}},"type":"object","required":["company_id"],"title":"CompanyIdCreds","description":"Company ID Credentials model"},"Conflict":{"properties":{"code":{"type":"integer","title":"Code","default":409},"message":{"type":"string","title":"Message","default":"Conflict"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"Conflict"},"ConnectionCreate":{"properties":{"tsp_id":{"type":"string","format":"uuid","title":"TSP ID","description":"The ID of the Telematics Service Provider (TSP) that the fleet uses."},"credentials":{"anyOf":[{"$ref":"#/components/schemas/AccessTokenCreds-Input"},{"$ref":"#/components/schemas/ApiAuthCreds-Input"},{"$ref":"#/components/schemas/ApiBasicCreds-Input"},{"$ref":"#/components/schemas/ApiKeyCreds-Input"},{"$ref":"#/components/schemas/AzugaSLC-Input"},{"$ref":"#/components/schemas/BouncieCreds-Input"},{"$ref":"#/components/schemas/ClientIdSecretCreds-Input"},{"$ref":"#/components/schemas/CompanyAccessCreds-Input"},{"$ref":"#/components/schemas/CompanyIdCreds-Input"},{"$ref":"#/components/schemas/DatabaseCreds-Input"},{"$ref":"#/components/schemas/EZLynkAccessCreds-Input"},{"$ref":"#/components/schemas/EZLynkCreds"},{"$ref":"#/components/schemas/EzlogzCreds"},{"$ref":"#/components/schemas/FactorEldCreds-Input"},{"$ref":"#/components/schemas/FleetupCreds-Input"},{"$ref":"#/components/schemas/FleetupSLC-Input"},{"$ref":"#/components/schemas/GeotabCreds-Input"},{"$ref":"#/components/schemas/IsaacCreds-Input"},{"$ref":"#/components/schemas/MotiveCreds-Input"},{"$ref":"#/components/schemas/OAuth1Creds-Input"},{"$ref":"#/components/schemas/OAuth2Creds-Input"},{"$ref":"#/components/schemas/OAuth2InitiateCreds-Input"},{"$ref":"#/components/schemas/OAuth2PrivateKeyCreds-Input"},{"$ref":"#/components/schemas/OntimeEldCreds-Input"},{"$ref":"#/components/schemas/PrivateKeyCreds-Input"},{"$ref":"#/components/schemas/S3Creds-Input"},{"$ref":"#/components/schemas/SamsaraCreds-Input"},{"$ref":"#/components/schemas/SftpCreds-Input"},{"$ref":"#/components/schemas/SpireonSLC-Input"},{"$ref":"#/components/schemas/SwitchBoardCreds-Input"},{"$ref":"#/components/schemas/TokenCreds-Input"},{"$ref":"#/components/schemas/TruckXCreds-Input"},{"$ref":"#/components/schemas/TruckXSLC-Input"},{"$ref":"#/components/schemas/TTCreds-Input"},{"$ref":"#/components/schemas/VerizonConnectCreds-Input"},{"$ref":"#/components/schemas/VerizonConnectSLC-Input"},{"$ref":"#/components/schemas/ZubieCreds-Input"}],"title":"Credentials","description":"The connection credentials required to authenticate with the TSP on behalf of the fleet."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of the connection. Useful when the fleet has multiple accounts with the same TSP."}},"type":"object","required":["tsp_id","credentials"],"title":"ConnectionCreate","description":"API Model for creating a connection"},"ConnectionPreAuthCreate":{"properties":{"tsp_id":{"type":"string","format":"uuid","title":"TSP ID","description":"The ID of the Telematics Service Provider (TSP) that the fleet uses."},"pre_auth_credentials":{"$ref":"#/components/schemas/ApiBasicCreds-Input","title":"Pre-Auth Credentials","description":"The pre-authentication credentials required to authenticate with the TSP on behalf of the fleet."}},"type":"object","required":["tsp_id","pre_auth_credentials"],"title":"ConnectionPreAuthCreate","description":"API Model for creating a connection pre-authentication record"},"ConnectionRead":{"properties":{"id":{"type":"string","format":"uuid","title":"Connection ID","description":"Unique identifier for the connection."},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Timestamp when the connection was created."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Timestamp when the connection was last updated."},"fleet_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Fleet ID","description":"The Catena ID of the fleet that owns this connection."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Reference","description":"The reference of the fleet in the partner's system"},"tsp_id":{"type":"string","format":"uuid","title":"TSP ID","description":"The ID of the Telematics Service Provider (TSP)."},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the TSP integration used for this connection."},"credentials":{"anyOf":[{"$ref":"#/components/schemas/AccessTokenCreds-Output"},{"$ref":"#/components/schemas/ApiAuthCreds-Output"},{"$ref":"#/components/schemas/ApiBasicCreds-Output"},{"$ref":"#/components/schemas/ApiKeyCreds-Output"},{"$ref":"#/components/schemas/AzugaSLC-Output"},{"$ref":"#/components/schemas/BouncieCreds-Output"},{"$ref":"#/components/schemas/ClientIdSecretCreds-Output"},{"$ref":"#/components/schemas/CompanyAccessCreds-Output"},{"$ref":"#/components/schemas/CompanyIdCreds-Output"},{"$ref":"#/components/schemas/DatabaseCreds-Output"},{"$ref":"#/components/schemas/EZLynkAccessCreds-Output"},{"$ref":"#/components/schemas/EZLynkCreds"},{"$ref":"#/components/schemas/EzlogzCreds"},{"$ref":"#/components/schemas/FactorEldCreds-Output"},{"$ref":"#/components/schemas/FleetupCreds-Output"},{"$ref":"#/components/schemas/FleetupSLC-Output"},{"$ref":"#/components/schemas/GeotabCreds-Output"},{"$ref":"#/components/schemas/IsaacCreds-Output"},{"$ref":"#/components/schemas/MotiveCreds-Output"},{"$ref":"#/components/schemas/OAuth1Creds-Output"},{"$ref":"#/components/schemas/OAuth2Creds-Output"},{"$ref":"#/components/schemas/OAuth2InitiateCreds-Output"},{"$ref":"#/components/schemas/OAuth2PrivateKeyCreds-Output"},{"$ref":"#/components/schemas/OntimeEldCreds-Output"},{"$ref":"#/components/schemas/PrivateKeyCreds-Output"},{"$ref":"#/components/schemas/S3Creds-Output"},{"$ref":"#/components/schemas/SamsaraCreds-Output"},{"$ref":"#/components/schemas/SftpCreds-Output"},{"$ref":"#/components/schemas/SpireonSLC-Output"},{"$ref":"#/components/schemas/SwitchBoardCreds-Output"},{"$ref":"#/components/schemas/TokenCreds-Output"},{"$ref":"#/components/schemas/TruckXCreds-Output"},{"$ref":"#/components/schemas/TruckXSLC-Output"},{"$ref":"#/components/schemas/TTCreds-Output"},{"$ref":"#/components/schemas/VerizonConnectCreds-Output"},{"$ref":"#/components/schemas/VerizonConnectSLC-Output"},{"$ref":"#/components/schemas/ZubieCreds-Output"}],"title":"Credentials","description":"The connection credentials used to authenticate with the TSP."},"status":{"$ref":"#/components/schemas/ConnectionStatusEnum","title":"Connection Status","description":"The current status of the connection."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of the connection. Useful when the fleet has multiple accounts with the same TSP."}},"type":"object","required":["id","created_at","updated_at","fleet_id","tsp_id","source_name","credentials","status","description"],"title":"ConnectionRead","description":"API Model for reading a connection","example":{"credentials":{"api_key":"*****"},"description":"Eroad connection for fleet 1234","source_name":"eroad"}},"ConnectionStatusEnum":{"type":"string","enum":["active","failed","cancelled","paused","stale","deleted"],"title":"ConnectionStatusEnum","description":"Enum representing the possible statuses of a connection."},"ConnectionUpdate":{"properties":{"credentials":{"anyOf":[{"$ref":"#/components/schemas/AccessTokenCreds-Input"},{"$ref":"#/components/schemas/ApiAuthCreds-Input"},{"$ref":"#/components/schemas/ApiBasicCreds-Input"},{"$ref":"#/components/schemas/ApiKeyCreds-Input"},{"$ref":"#/components/schemas/AzugaSLC-Input"},{"$ref":"#/components/schemas/BouncieCreds-Input"},{"$ref":"#/components/schemas/ClientIdSecretCreds-Input"},{"$ref":"#/components/schemas/CompanyAccessCreds-Input"},{"$ref":"#/components/schemas/CompanyIdCreds-Input"},{"$ref":"#/components/schemas/DatabaseCreds-Input"},{"$ref":"#/components/schemas/EZLynkAccessCreds-Input"},{"$ref":"#/components/schemas/EZLynkCreds"},{"$ref":"#/components/schemas/EzlogzCreds"},{"$ref":"#/components/schemas/FactorEldCreds-Input"},{"$ref":"#/components/schemas/FleetupCreds-Input"},{"$ref":"#/components/schemas/FleetupSLC-Input"},{"$ref":"#/components/schemas/GeotabCreds-Input"},{"$ref":"#/components/schemas/IsaacCreds-Input"},{"$ref":"#/components/schemas/MotiveCreds-Input"},{"$ref":"#/components/schemas/OAuth1Creds-Input"},{"$ref":"#/components/schemas/OAuth2Creds-Input"},{"$ref":"#/components/schemas/OAuth2InitiateCreds-Input"},{"$ref":"#/components/schemas/OAuth2PrivateKeyCreds-Input"},{"$ref":"#/components/schemas/OntimeEldCreds-Input"},{"$ref":"#/components/schemas/PrivateKeyCreds-Input"},{"$ref":"#/components/schemas/S3Creds-Input"},{"$ref":"#/components/schemas/SamsaraCreds-Input"},{"$ref":"#/components/schemas/SftpCreds-Input"},{"$ref":"#/components/schemas/SpireonSLC-Input"},{"$ref":"#/components/schemas/SwitchBoardCreds-Input"},{"$ref":"#/components/schemas/TokenCreds-Input"},{"$ref":"#/components/schemas/TruckXCreds-Input"},{"$ref":"#/components/schemas/TruckXSLC-Input"},{"$ref":"#/components/schemas/TTCreds-Input"},{"$ref":"#/components/schemas/VerizonConnectCreds-Input"},{"$ref":"#/components/schemas/VerizonConnectSLC-Input"},{"$ref":"#/components/schemas/ZubieCreds-Input"},{"type":"null"}],"title":"Credentials","description":"The connection credentials to authenticate with the TSP. Update these if the fleet's TSP account credentials have changed."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of the connection. Useful when the fleet has multiple accounts with the same TSP."},"status":{"anyOf":[{"$ref":"#/components/schemas/ConnectionStatusEnum"},{"type":"null"}],"title":"Connection Status","description":"The status of the connection."}},"type":"object","title":"ConnectionUpdate","description":"API Model for updating a connection"},"DataFreshness":{"properties":{"resource":{"$ref":"#/components/schemas/ResourceEnum","title":"Resource Type","description":"The telematics resource type this entry describes."},"share_level":{"anyOf":[{"$ref":"#/components/schemas/ShareLevelEnum"},{"type":"null"}],"title":"Share Level","description":"The permission level granted by the fleet for this resource."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"Unique identifier of the fleet this freshness record applies to."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Reference","description":"Partner's reference for the fleet in their system."},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"Unique identifier of the telematics provider connection that supplies this resource's data."},"connection_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Connection Description","description":"Optional user-provided description of the connection. Useful when the fleet has multiple accounts with the same TSP."},"schedule_id":{"type":"string","format":"uuid","title":"Schedule ID","description":"Unique identifier of the schedule that controls automatic data fetching for this resource."},"source_name":{"type":"string","title":"Telematics Provider","description":"Name of the telematics provider (e.g., geotab, samsara, motive)."},"tsp_id":{"type":"string","format":"uuid","title":"TSP ID","description":"Unique identifier of the telematics service provider (TSP) at Catena."},"tsp_slug":{"type":"string","title":"TSP Slug","description":"Human-readable identifier of the telematics service provider (TSP) at Catena."},"last_successful_execution_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Successful Execution","description":"Timestamp of the most recent successful data fetch from the telematics provider for this resource. This is the primary data-freshness indicator. Null means no data has been fetched yet."},"next_execution_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Next Scheduled Execution","description":"Timestamp of the next automatic data fetch."},"schedule_status":{"anyOf":[{"$ref":"#/components/schemas/ScheduleStatusEnum"},{"type":"null"}],"title":"Schedule Status","description":"Current state of the automatic data-fetch schedule."}},"type":"object","required":["resource","fleet_id","connection_id","schedule_id","source_name","tsp_id","tsp_slug","last_successful_execution_at","next_execution_at","schedule_status"],"title":"DataFreshness","description":"Freshness and scheduling details for a single resource type within a share agreement.","example":{"connection_description":"My fleet ELD connection","connection_id":"123e4567-e89b-12d3-a456-426614174000","fleet_id":"123e4567-e89b-12d3-a456-426614173999","fleet_ref":"my-fleet-ref","last_successful_execution_at":"2024-01-01T12:00:00Z","next_execution_at":"2024-01-01T13:00:00Z","resource":"vehicle","schedule_id":"123e4567-e89b-12d3-a456-426614174002","schedule_status":"active","share_level":"read_write","source_name":"geotab","tsp_id":"123e4567-e89b-12d3-a456-426614174001","tsp_slug":"geotab"}},"DatabaseCreds-Input":{"properties":{"drivername":{"$ref":"#/components/schemas/DatabaseDriverEnum"},"host":{"type":"string","title":"Host"},"port":{"type":"integer","title":"Port"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"database":{"type":"string","title":"Database"}},"type":"object","required":["drivername","host","port","username","password","database"],"title":"DatabaseCreds","description":"Database Connection model"},"DatabaseCreds-Output":{"properties":{"drivername":{"$ref":"#/components/schemas/DatabaseDriverEnum"},"host":{"title":"Host"},"port":{"type":"integer","title":"Port"},"username":{"title":"Username"},"password":{"title":"Password"},"database":{"type":"string","title":"Database"}},"type":"object","required":["drivername","host","port","username","password","database"],"title":"DatabaseCreds","description":"Database Connection model"},"DatabaseDriverEnum":{"type":"string","enum":["postgresql+psycopg2","cockroachdb","mongodb","mysql","mariadb","snowflake","clickhouse"],"title":"DatabaseDriverEnum","description":"Database Driver"},"EZLynkAccessCreds-Input":{"properties":{"access_token":{"type":"string","title":"Access Token"},"carrier_identifier":{"type":"string","title":"Carrier Identifier"},"carrier_identifier_type":{"type":"string","enum":["dot","cvor"],"title":"Carrier Identifier Type"}},"type":"object","required":["access_token","carrier_identifier","carrier_identifier_type"],"title":"EZLynkAccessCreds","description":"EZ Lynk Access Credentials model"},"EZLynkAccessCreds-Output":{"properties":{"access_token":{"title":"Access Token"},"carrier_identifier":{"type":"string","title":"Carrier Identifier"},"carrier_identifier_type":{"type":"string","enum":["dot","cvor"],"title":"Carrier Identifier Type"}},"type":"object","required":["access_token","carrier_identifier","carrier_identifier_type"],"title":"EZLynkAccessCreds","description":"EZ Lynk Access Credentials model"},"EZLynkCreds":{"properties":{"carrier_identifier":{"type":"string","title":"Carrier Identifier"},"carrier_identifier_type":{"type":"string","enum":["dot","cvor"],"title":"Carrier Identifier Type"}},"type":"object","required":["carrier_identifier","carrier_identifier_type"],"title":"EZLynkCreds","description":"EZ Lynk Credentials model for initial onboard"},"ExecutionRead":{"properties":{"id":{"type":"string","format":"uuid","title":"Execution ID","description":"Unique identifier for the execution. Use this ID to trace which execution ingested specific data."},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Timestamp when the execution was created."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Timestamp when the execution was last updated."},"schedule_id":{"type":"string","format":"uuid","title":"Schedule ID","description":"The ID of the schedule that this execution belongs to."},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The ID of the connection used for this execution."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The ID of the fleet that owns this execution."},"status":{"$ref":"#/components/schemas/ExecutionStatusEnum","title":"Execution Status","description":"The current status of the execution."},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the TSP integration used for this execution."},"resource":{"$ref":"#/components/schemas/ResourceEnum","title":"Resource Type","description":"The type of resource being fetched (e.g., VEHICLE, DRIVER, HOS, IFTA)."},"cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cursor","description":"Resource-specific state used to resume incremental fetching."},"response":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Response","description":"Raw API response for failed executions."},"last_data_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Data At","description":"Timestamp of the most recent data point received from the TSP."}},"type":"object","required":["id","created_at","updated_at","schedule_id","connection_id","fleet_id","status","source_name","resource"],"title":"ExecutionRead","description":"API Model for reading an execution.\n\nExecutions are retained for 7 days. After this period, they are automatically\nremoved and will no longer be accessible via the API.","example":{"resource":"vehicle","source_name":"geotab","status":"success"}},"ExecutionStatusEnum":{"type":"string","enum":["failed","pending","scheduled","success"],"title":"ExecutionStatusEnum","description":"Enum representing the possible statuses of an execution."},"EzlogzCreds":{"properties":{"app_id":{"type":"string","title":"App Id"},"app_key":{"type":"string","title":"App Key"},"client_key":{"type":"string","title":"Client Key"}},"type":"object","required":["app_id","app_key","client_key"],"title":"EzlogzCreds","description":"Ezlogz Connection model"},"FactorEldCreds-Input":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"api_key":{"type":"string","title":"Api Key"}},"type":"object","required":["username","password","api_key"],"title":"FactorEldCreds","description":"Factor ELD Connection model"},"FactorEldCreds-Output":{"properties":{"username":{"title":"Username"},"password":{"title":"Password"},"api_key":{"title":"Api Key"}},"type":"object","required":["username","password","api_key"],"title":"FactorEldCreds","description":"Factor ELD Connection model"},"FleetupCreds-Input":{"properties":{"account_id":{"type":"string","title":"Account Id"},"secret_key":{"type":"string","title":"Secret Key"},"api_key":{"type":"string","title":"Api Key"}},"type":"object","required":["account_id","secret_key","api_key"],"title":"FleetupCreds","description":"Fleetup Connection model"},"FleetupCreds-Output":{"properties":{"account_id":{"title":"Account Id"},"secret_key":{"title":"Secret Key"},"api_key":{"title":"Api Key"}},"type":"object","required":["account_id","secret_key","api_key"],"title":"FleetupCreds","description":"Fleetup Connection model"},"FleetupSLC-Input":{"properties":{"account_id":{"type":"string","title":"Account Id"},"api_key":{"type":"string","title":"Api Key"},"token":{"type":"string","title":"Token"}},"type":"object","required":["account_id","api_key","token"],"title":"FleetupSLC","description":"Fleetup SLC Connection model"},"FleetupSLC-Output":{"properties":{"account_id":{"title":"Account Id"},"api_key":{"title":"Api Key"},"token":{"title":"Token"}},"type":"object","required":["account_id","api_key","token"],"title":"FleetupSLC","description":"Fleetup SLC Connection model"},"Forbidden":{"properties":{"code":{"type":"integer","title":"Code","default":403},"message":{"type":"string","title":"Message","default":"Forbidden"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"Forbidden"},"GatewayTimeout":{"properties":{"code":{"type":"integer","title":"Code","default":504},"message":{"type":"string","title":"Message","default":"Gateway Timeout"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"GatewayTimeout"},"GeotabCreds-Input":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"database":{"type":"string","title":"Database"},"session_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session Id"}},"type":"object","required":["username","password","database"],"title":"GeotabCreds","description":"Geotab Connection model"},"GeotabCreds-Output":{"properties":{"username":{"title":"Username"},"password":{"title":"Password"},"database":{"type":"string","title":"Database"},"session_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session Id"}},"type":"object","required":["username","password","database"],"title":"GeotabCreds","description":"Geotab Connection model"},"IntegrationStatusEnum":{"type":"string","enum":["implemented","not_implemented","not_supported"],"title":"IntegrationStatusEnum","description":"Support status for a given TSP/resource pair."},"InternalServerError":{"properties":{"message":{"type":"string","title":"Message","default":"Internal Server Error"}},"type":"object","title":"InternalServerError"},"IsaacCreds-Input":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"auth_code":{"type":"string","title":"Auth Code"},"host":{"type":"string","title":"Host"}},"type":"object","required":["username","password","auth_code","host"],"title":"IsaacCreds","description":"Isaac Connection model"},"IsaacCreds-Output":{"properties":{"username":{"title":"Username"},"password":{"title":"Password"},"auth_code":{"title":"Auth Code"},"host":{"title":"Host"}},"type":"object","required":["username","password","auth_code","host"],"title":"IsaacCreds","description":"Isaac Connection model"},"MethodNotAllowed":{"properties":{"code":{"type":"integer","title":"Code","default":405},"message":{"type":"string","title":"Message","default":"Method Not Allowed"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"MethodNotAllowed"},"MotiveCreds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"auth_code":{"type":"string","title":"Auth Code"},"redirect_uri":{"type":"string","title":"Redirect Uri"}},"type":"object","required":["client_id","client_secret","auth_code","redirect_uri"],"title":"MotiveCreds","description":"Motive Connection model"},"MotiveCreds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"title":"Client Secret"},"auth_code":{"title":"Auth Code"},"redirect_uri":{"type":"string","title":"Redirect Uri"}},"type":"object","required":["client_id","client_secret","auth_code","redirect_uri"],"title":"MotiveCreds","description":"Motive Connection model"},"NotFound":{"properties":{"code":{"type":"integer","title":"Code","default":404},"message":{"type":"string","title":"Message","default":"Not Found"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"NotFound"},"OAuth1Creds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"resource_owner_id":{"type":"string","title":"Resource Owner Id"},"resource_owner_secret":{"type":"string","title":"Resource Owner Secret"},"signature_method":{"type":"string","title":"Signature Method"},"realm":{"type":"string","title":"Realm"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","client_secret","resource_owner_id","resource_owner_secret","signature_method","realm","url"],"title":"OAuth1Creds","description":"OAuth1 Connection model"},"OAuth1Creds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"title":"Client Secret"},"resource_owner_id":{"type":"string","title":"Resource Owner Id"},"resource_owner_secret":{"title":"Resource Owner Secret"},"signature_method":{"type":"string","title":"Signature Method"},"realm":{"type":"string","title":"Realm"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","client_secret","resource_owner_id","resource_owner_secret","signature_method","realm","url"],"title":"OAuth1Creds","description":"OAuth1 Connection model"},"OAuth2Creds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"refresh_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Refresh Token"},"token_url":{"type":"string","title":"Token Url"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","client_secret","token_url","url"],"title":"OAuth2Creds","description":"OAuth2 Connection model"},"OAuth2Creds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"title":"Client Secret"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"refresh_token":{"title":"Refresh Token"},"token_url":{"type":"string","title":"Token Url"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","client_secret","token_url","url"],"title":"OAuth2Creds","description":"OAuth2 Connection model"},"OAuth2InitiateCreds-Input":{"properties":{"code":{"type":"string","title":"Code"},"grant_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Grant Type"},"token_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Url"},"redirect_uri":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Redirect Uri"}},"type":"object","required":["code"],"title":"OAuth2InitiateCreds","description":"OAuth2 Initiate Connection model"},"OAuth2InitiateCreds-Output":{"properties":{"code":{"title":"Code"},"grant_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Grant Type"},"token_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Url"},"redirect_uri":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Redirect Uri"}},"type":"object","required":["code"],"title":"OAuth2InitiateCreds","description":"OAuth2 Initiate Connection model"},"OAuth2PrivateKeyCreds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"private_key":{"type":"string","title":"Private Key"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"token_url":{"type":"string","title":"Token Url"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","private_key","token_url","url"],"title":"OAuth2PrivateKeyCreds","description":"OAuth2 Private Key Connection model"},"OAuth2PrivateKeyCreds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"private_key":{"title":"Private Key"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"token_url":{"type":"string","title":"Token Url"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","private_key","token_url","url"],"title":"OAuth2PrivateKeyCreds","description":"OAuth2 Private Key Connection model"},"OntimeEldCreds-Input":{"properties":{"api_key":{"type":"string","title":"Api Key"},"provider_token":{"type":"string","title":"Provider Token"},"dot_number":{"type":"string","title":"Dot Number"}},"type":"object","required":["api_key","provider_token","dot_number"],"title":"OntimeEldCreds","description":"Ontime ELD Connection model"},"OntimeEldCreds-Output":{"properties":{"api_key":{"title":"Api Key"},"provider_token":{"title":"Provider Token"},"dot_number":{"type":"string","title":"Dot Number"}},"type":"object","required":["api_key","provider_token","dot_number"],"title":"OntimeEldCreds","description":"Ontime ELD Connection model"},"PrivateKeyCreds-Input":{"properties":{"private_key":{"type":"string","title":"Private Key"},"consumer_key":{"type":"string","title":"Consumer Key"},"username":{"type":"string","title":"Username"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"token_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Url"}},"type":"object","required":["private_key","consumer_key","username"],"title":"PrivateKeyCreds","description":"Private Key Connection model"},"PrivateKeyCreds-Output":{"properties":{"private_key":{"title":"Private Key"},"consumer_key":{"title":"Consumer Key"},"username":{"title":"Username"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"token_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Url"}},"type":"object","required":["private_key","consumer_key","username"],"title":"PrivateKeyCreds","description":"Private Key Connection model"},"ResourceEnum":{"type":"string","enum":["asset","driver_association","driver_vehicle_association","driver_event_log","driver_safety_event","dvir_log","dvir_log_defect","engine_log","engine_status","fuel_transaction","hos_availability","hos_daily_snapshot","hos_event","hos_event_annotation","hos_event_attachment","hos_violation","ifta_summary","location_segment","message","group_message","user","vehicle","vehicle_location","vehicle_sensor","vehicle_region_segment","trailer","trailer_association","trailer_vehicle_association","trailer_location","trailer_status","workflow"],"title":"ResourceEnum","description":"Enum for resources"},"ResourceOperationErrorTypeEnum":{"type":"string","enum":["auth","validation","network","tsp"],"title":"ResourceOperationErrorTypeEnum","description":"Enum for the type of error that occurred during a resource operation."},"ResourceOperationLogRead":{"properties":{"id":{"type":"string","format":"uuid","title":"Log ID","description":"Unique identifier for the log entry."},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Timestamp when the log entry was created."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Timestamp when the log entry was last updated."},"resource_operation_id":{"type":"string","format":"uuid","title":"Resource Operation ID","description":"The ID of the resource operation this log entry belongs to."},"status":{"$ref":"#/components/schemas/ResourceOperationLogStatusEnum","title":"Status","description":"The status of the operation attempt."},"error_type":{"anyOf":[{"$ref":"#/components/schemas/ResourceOperationErrorTypeEnum"},{"type":"null"}],"title":"Error Type","description":"The type of error that occurred, if any."},"error_details":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error Details","description":"Detailed information about the error, if any."},"response_status_code":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Response Status Code","description":"HTTP status code returned by the TSP, if available."},"response_headers":{"anyOf":[{"additionalProperties":{"type":"string"},"type":"object"},{"type":"null"}],"title":"Response Headers","description":"Safe TSP response headers: rate-limit (Retry-After, X-RateLimit-*, RateLimit-*) and request IDs (X-Request-Id, X-Correlation-Id, X-Trace-Id). Other headers are redacted."}},"type":"object","required":["id","created_at","updated_at","resource_operation_id","status"],"title":"ResourceOperationLogRead","description":"API response model for a resource operation log entry."},"ResourceOperationLogStatusEnum":{"type":"string","enum":["success","failed"],"title":"ResourceOperationLogStatusEnum","description":"Enum for the status of a resource operation log entry."},"ResourceOperationRead":{"properties":{"id":{"type":"string","format":"uuid","title":"Operation ID","description":"Unique identifier for the resource operation."},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Timestamp when the resource operation was created."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Timestamp when the resource operation was last updated."},"partner_id":{"type":"string","format":"uuid","title":"Partner ID","description":"The ID of the partner that owns this operation."},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The ID of the connection associated with this operation."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Reference","description":"The reference of the fleet in the partner's system."},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The source name of the operation."},"resource":{"$ref":"#/components/schemas/ResourceEnum","title":"Resource Type","description":"The type of resource to operate on (e.g., vehicle, driver, hos_event)."},"resource_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Resource ID","description":"Unique identifier of the resource in Catena Telematics. Can be `null` if the operation is pending or failed."},"source_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source ID","description":"Unique identifier of the record in the TSP. Can be `null` if the operation is pending or failed."},"operation_type":{"$ref":"#/components/schemas/ResourceOperationTypeEnum","title":"Operation Type","description":"The type of operation to perform (e.g., create, update)."},"status":{"$ref":"#/components/schemas/ResourceOperationStatusEnum","title":"Operation Status","description":"The current status of the operation."},"payload":{"additionalProperties":true,"type":"object","title":"Operation Payload","description":"The payload of the operation, containing the resource attributes to be created or updated."},"logs":{"items":{"$ref":"#/components/schemas/ResourceOperationLogRead"},"type":"array","title":"Logs","description":"Log entries for each attempt to execute this operation."}},"type":"object","required":["id","created_at","updated_at","partner_id","connection_id","source_name","resource","operation_type","status","payload"],"title":"ResourceOperationRead","description":"API response model for a resource operation, including its logs."},"ResourceOperationStatusEnum":{"type":"string","enum":["pending","success","failed"],"title":"ResourceOperationStatusEnum","description":"Enum for the status of a resource operation."},"ResourceOperationTypeEnum":{"type":"string","enum":["create","update"],"title":"ResourceOperationTypeEnum","description":"Enum for the type of operation to perform on a resource."},"RetryAfterDetail":{"properties":{"retry_after_seconds":{"type":"integer","title":"Retry After Seconds"},"message":{"type":"string","title":"Message"}},"type":"object","required":["retry_after_seconds","message"],"title":"RetryAfterDetail"},"S3Creds-Input":{"properties":{"access_key":{"type":"string","title":"Access Key"},"secret_key":{"type":"string","title":"Secret Key"},"bucket_name":{"type":"string","title":"Bucket Name"},"region":{"type":"string","title":"Region"}},"type":"object","required":["access_key","secret_key","bucket_name","region"],"title":"S3Creds","description":"S3 Connection model"},"S3Creds-Output":{"properties":{"access_key":{"type":"string","title":"Access Key"},"secret_key":{"title":"Secret Key"},"bucket_name":{"type":"string","title":"Bucket Name"},"region":{"type":"string","title":"Region"}},"type":"object","required":["access_key","secret_key","bucket_name","region"],"title":"S3Creds","description":"S3 Connection model"},"SamsaraCreds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"auth_code":{"type":"string","title":"Auth Code"}},"type":"object","required":["client_id","client_secret","auth_code"],"title":"SamsaraCreds","description":"Samsara Connection model"},"SamsaraCreds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"title":"Client Secret"},"auth_code":{"title":"Auth Code"}},"type":"object","required":["client_id","client_secret","auth_code"],"title":"SamsaraCreds","description":"Samsara Connection model"},"ScheduleBackfillRequest":{"properties":{"resource":{"$ref":"#/components/schemas/ResourceEnum","title":"Resource Type","description":"The type of resource to backfill schedules for (e.g., VEHICLE, DRIVER, HOS, IFTA)."},"tsp_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"TSP ID","description":"Optional filter to backfill schedules only for connections with this TSP."},"connection_ids":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Connection IDs","description":"Optional filter to backfill schedules only for specific connections."}},"type":"object","required":["resource"],"title":"ScheduleBackfillRequest","description":"API Model for backfilling schedules across connections"},"ScheduleBackfillResponse":{"properties":{"connection_ids":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Connection IDs","description":"List of connection IDs where schedules were created."}},"type":"object","required":["connection_ids"],"title":"ScheduleBackfillResponse","description":"API Model for backfill response"},"ScheduleCreate":{"properties":{"resource":{"$ref":"#/components/schemas/ResourceEnum","title":"Resource Type","description":"The type of resource to fetch on this schedule (e.g., VEHICLE, DRIVER, HOS, IFTA)."},"execution_interval_seconds":{"type":"integer","title":"Execution Interval","description":"The interval between scheduled executions in seconds. Defaults to 10 minutes (600 seconds).","default":600},"consecutive_error_threshold":{"type":"integer","title":"Consecutive Error Threshold","description":"The number of consecutive errors allowed before the schedule is automatically set to INACTIVE. Defaults to 15.","default":15},"max_concurrent_executions":{"type":"integer","title":"Max Concurrent Executions","description":"The maximum number of concurrent executions allowed for this schedule. Defaults to 1.","default":1},"status":{"$ref":"#/components/schemas/ScheduleStatusEnum","title":"Schedule Status","description":"The initial status of the schedule. Defaults to ACTIVE.","default":"active"},"cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cursor","description":"Resource-specific state used to resume incremental fetching."},"last_data_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Data At","description":"Timestamp of the most recent data point received from the TSP."}},"type":"object","required":["resource"],"title":"ScheduleCreate","description":"API Model for creating a schedule"},"ScheduleRead":{"properties":{"id":{"type":"string","format":"uuid","title":"Schedule ID","description":"Unique identifier for the schedule."},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The ID of the connection that this schedule belongs to."},"resource":{"$ref":"#/components/schemas/ResourceEnum","title":"Resource Type","description":"The type of resource being fetched on this schedule (e.g., VEHICLE, DRIVER, HOS, IFTA)."},"execution_interval_seconds":{"type":"integer","title":"Execution Interval","description":"The interval between scheduled executions in seconds."},"status":{"$ref":"#/components/schemas/ScheduleStatusEnum","title":"Schedule Status","description":"The current status of the schedule (ACTIVE, INACTIVE)."},"consecutive_error_count":{"type":"integer","title":"Consecutive Error Count","description":"The number of consecutive errors that have occurred for this schedule."},"consecutive_error_threshold":{"type":"integer","title":"Consecutive Error Threshold","description":"The number of consecutive errors allowed before the schedule is automatically set to INACTIVE."},"max_concurrent_executions":{"type":"integer","title":"Max Concurrent Executions","description":"The maximum number of concurrent executions allowed for this schedule."},"cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cursor","description":"Resource-specific state used to resume incremental fetching."},"last_data_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Data At","description":"Timestamp of the most recent data point received from the TSP."}},"type":"object","required":["id","connection_id","resource","execution_interval_seconds","status","consecutive_error_count","consecutive_error_threshold","max_concurrent_executions"],"title":"ScheduleRead","description":"API Model for reading a schedule","example":{"consecutive_error_count":0,"consecutive_error_threshold":15,"cursor":"cursor-1","execution_interval_seconds":600,"max_concurrent_executions":1,"resource":"vehicle"}},"ScheduleStatusEnum":{"type":"string","enum":["inactive","active","paused","stale","deleted","cancelled","cancelled_insufficient_scope"],"title":"ScheduleStatusEnum","description":"Enum representing the possible statuses of a schedule."},"ScheduleUpdate":{"properties":{"status":{"anyOf":[{"$ref":"#/components/schemas/ScheduleStatusEnum"},{"type":"null"}],"title":"Schedule Status","description":"Update the status of the schedule (ACTIVE, INACTIVE)."},"execution_interval_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Execution Interval","description":"Update the interval between scheduled executions in seconds."},"consecutive_error_threshold":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Consecutive Error Threshold","description":"Update the number of consecutive errors allowed before the schedule is automatically set to INACTIVE."},"consecutive_error_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Consecutive Error Count","description":"Reset or update the consecutive error count for this schedule."},"max_concurrent_executions":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Max Concurrent Executions","description":"Update the maximum number of concurrent executions allowed for this schedule."},"next_execution_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Next Execution At","description":"Update the timestamp for the next scheduled execution."},"cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cursor","description":"Update the resource-specific state used to resume incremental fetching."},"last_data_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Data At","description":"Update the timestamp of the most recent data point received from the TSP."}},"type":"object","title":"ScheduleUpdate","description":"API Model for updating a schedule"},"SftpCreds-Input":{"properties":{"host":{"type":"string","title":"Host"},"port":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Port","default":22},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"}},"type":"object","required":["host","username","password"],"title":"SftpCreds","description":"SFTP Connection model"},"SftpCreds-Output":{"properties":{"host":{"title":"Host"},"port":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Port","default":22},"username":{"title":"Username"},"password":{"title":"Password"}},"type":"object","required":["host","username","password"],"title":"SftpCreds","description":"SFTP Connection model"},"ShareLevelEnum":{"type":"string","enum":["read","read_write"],"title":"ShareLevelEnum","description":"Enum for the level of access granted"},"SpireonSLC-Input":{"properties":{"access_token":{"type":"string","title":"Access Token"},"auth_code":{"type":"string","title":"Auth Code"}},"type":"object","required":["access_token","auth_code"],"title":"SpireonSLC","description":"Spireon Short-lived Credentials model"},"SpireonSLC-Output":{"properties":{"access_token":{"title":"Access Token"},"auth_code":{"title":"Auth Code"}},"type":"object","required":["access_token","auth_code"],"title":"SpireonSLC","description":"Spireon Short-lived Credentials mode
[...]
