{
  "openapi": "3.1.0",
  "info": {
    "title": "Telematics Integrations Service - REST API",
    "description": "Integrations Service REST API.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.catenatelematics.com",
      "description": "Catena Telematics API"
    }
  ],
  "paths": {
    "/v2/integrations/connections": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "List Connections",
        "description": "Get a paginated list of all connections accessible to your organization.",
        "operationId": "list_connections",
        "security": [
          {
            "Bearer": [
              "connection:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "tsp_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Tsp Id"
            }
          },
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets. **Maximum:** 100 IDs",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets. **Maximum:** 100 IDs"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleet references. **Maximum:** 100 references",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleet references. **Maximum:** 100 references"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_ConnectionRead_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        }
      },
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Create Connection",
        "description": "Create a new connection.\n\nThis will validate the credentials with the TSP before creating the connection.\nIf the credentials are invalid, the connection will not be created and an error will be returned.\n\nIt also creates a schedule to refresh or exchanged the coneection details\nfor a short lived credential, shuch as an access token.",
        "operationId": "create_connection",
        "security": [
          {
            "Bearer": [
              "connection:create"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionRead"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        },
        "x-excluded": "true",
        "x-mint": {
          "content": "<Info>Creating connections is only available to fleets.</Info>"
        }
      }
    },
    "/v2/integrations/connections/{connection_id}": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Get Connection",
        "description": "Get detailed information about a specific connection.",
        "operationId": "get_connection",
        "security": [
          {
            "Bearer": [
              "connection:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Connection Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionRead"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        }
      },
      "patch": {
        "tags": [
          "Connections"
        ],
        "summary": "Update Connection",
        "description": "Update a connection by its ID.\n\nThe repository handles validation, authentication, and SLC creation when credentials are updated.",
        "operationId": "update_connection",
        "security": [
          {
            "Bearer": [
              "connection:update"
            ]
          }
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Connection Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionRead"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        },
        "x-excluded": "true",
        "x-mint": {
          "content": "<Info>Updating connections is only available to fleets.</Info>"
        }
      },
      "delete": {
        "tags": [
          "Connections"
        ],
        "summary": "Delete Connection",
        "description": "Delete a connection by its ID.",
        "operationId": "delete_connection",
        "security": [
          {
            "Bearer": [
              "connection:delete"
            ]
          }
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Connection Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        },
        "x-excluded": "true",
        "x-mint": {
          "content": "<Info>Deleting connections is only available to fleets.</Info>"
        }
      }
    },
    "/v2/integrations/connections/schedules/backfill": {
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Backfill Schedules",
        "description": "Backfill schedules for existing connections when new resources are added to the system.\n\nWhen a new resource type is registered in the integrations service (e.g., a new TSP adapter\nis deployed or an existing adapter adds support for a new resource), existing connections\ndon't automatically receive schedules for that resource. This creates a gap where connections\ncan't collect data for newly supported resource types until schedules are manually created.\n\nThis endpoint addresses that operational gap by creating the missing schedules across all\naffected connections in a single atomic operation, ensuring fleets can immediately benefit\nfrom newly supported resources without recreating connections or manual schedule management.\n\nThe endpoint only creates schedules where none currently exist - deleted or disabled schedules\nare intentionally ignored to preserve deliberate administrative decisions (e.g., a fleet may\nhave explicitly disabled a resource they don't need).\n\nArgs:\n    request: Backfill request containing resource type and optional filters\n    session: Database session\n    eventbridge: EventBridge client\n    is_catena_admin: Admin authorization check\n\nReturns:\n    ScheduleBackfillResponse: List of connection IDs where schedules were created",
        "operationId": "backfill_schedules",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleBackfillRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleBackfillResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [
              "schedule:create"
            ]
          }
        ],
        "x-excluded": "true"
      }
    },
    "/v2/integrations/connections/{connection_id}/schedules": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "List Schedules",
        "description": "Get a paginated list of all schedules for a given connection.",
        "operationId": "list_schedules",
        "security": [
          {
            "Bearer": [
              "schedule:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Connection Id"
            }
          },
          {
            "name": "resource",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/ResourceEnum"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Resource"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_ScheduleRead_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        }
      },
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Create Schedule",
        "description": "Create a new schedule.\n\nThis will create a schedule to fetch data from the TSP.\n\nIt also creates a schedule to refresh or exchange the connection details\nfor a short lived credential, such as an access token.\n\nFor now only Catena admins can create schedules.",
        "operationId": "create_schedule",
        "security": [
          {
            "Bearer": [
              "schedule:create"
            ]
          }
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Connection Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleRead"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        },
        "x-excluded": "true"
      }
    },
    "/v2/integrations/connections/{connection_id}/schedules/{schedule_id}": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "Get Schedule",
        "description": "Get detailed information about a specific schedule.",
        "operationId": "get_schedule",
        "security": [
          {
            "Bearer": [
              "schedule:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Connection Id"
            }
          },
          {
            "name": "schedule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Schedule Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleRead"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        }
      },
      "patch": {
        "tags": [
          "Connections"
        ],
        "summary": "Update Schedule",
        "description": "Update a schedule by its ID.",
        "operationId": "update_schedule",
        "security": [
          {
            "Bearer": [
              "schedule:update"
            ]
          }
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Connection Id"
            }
          },
          {
            "name": "schedule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Schedule Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleRead"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        },
        "x-excluded": "true"
      },
      "delete": {
        "tags": [
          "Connections"
        ],
        "summary": "Delete Schedule",
        "description": "Delete a schedule by its ID.",
        "operationId": "delete_schedule",
        "security": [
          {
            "Bearer": [
              "schedule:delete"
            ]
          }
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Connection Id"
            }
          },
          {
            "name": "schedule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Schedule Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        },
        "x-excluded": "true"
      }
    },
    "/v2/integrations/connections/{connection_id}/schedules/{schedule_id}/executions": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "List Executions",
        "description": "Get a paginated list of all executions for a given schedule.",
        "operationId": "list_executions",
        "security": [
          {
            "Bearer": [
              "execution:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "connection_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Connection Id"
            }
          },
          {
            "name": "schedule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Schedule Id"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_ExecutionRead_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        }
      }
    },
    "/v2/integrations/tsps": {
      "get": {
        "tags": [
          "TSP Integrations"
        ],
        "summary": "List Integrations Per Tsp",
        "description": "List all TSPs and the supported integrations for each TSP with cursor pagination.",
        "operationId": "list_integrations_per_tsp",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_TspIntegrationsRead_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        }
      }
    },
    "/v2/integrations/tsps/{tsp_id}": {
      "get": {
        "tags": [
          "TSP Integrations"
        ],
        "summary": "Get Integrations Per Tsp",
        "description": "Get one TSP by id with its supported integrations.",
        "operationId": "get_integrations_per_tsp",
        "parameters": [
          {
            "name": "tsp_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Tsp Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TspIntegrationsRead"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "405": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MethodNotAllowed"
                }
              }
            },
            "description": "Method Not Allowed"
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conflict"
                }
              }
            },
            "description": "Conflict"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayTimeout"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccessTokenCreds-Input": {
        "properties": {
          "access_token": {
            "type": "string",
            "title": "Access Token"
          },
          "token_type": {
            "type": "string",
            "title": "Token Type"
          },
          "expires_in": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires In"
          },
          "refresh_token": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Refresh Token"
          },
          "scope": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scope"
          },
          "user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id"
          },
          "host": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Host"
          }
        },
        "type": "object",
        "required": [
          "access_token",
          "token_type"
        ],
        "title": "AccessTokenCreds",
        "description": "Access Token Credentials"
      },
      "AccessTokenCreds-Output": {
        "properties": {
          "access_token": {
            "title": "Access Token"
          },
          "token_type": {
            "type": "string",
            "title": "Token Type"
          },
          "expires_in": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Expires In"
          },
          "refresh_token": {
            "title": "Refresh Token"
          },
          "scope": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Scope"
          },
          "user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id"
          },
          "host": {
            "title": "Host"
          }
        },
        "type": "object",
        "required": [
          "access_token",
          "token_type"
        ],
        "title": "AccessTokenCreds",
        "description": "Access Token Credentials"
      },
      "ApiAuthCreds-Input": {
        "properties": {
          "username": {
            "type": "string",
            "title": "Username"
          },
          "password": {
            "type": "string",
            "title": "Password"
          },
          "api_key": {
            "type": "string",
            "title": "Api Key"
          }
        },
        "type": "object",
        "required": [
          "username",
          "password",
          "api_key"
        ],
        "title": "ApiAuthCreds",
        "description": "API Auth Connection model"
      },
      "ApiAuthCreds-Output": {
        "properties": {
          "username": {
            "title": "Username"
          },
          "password": {
            "title": "Password"
          },
          "api_key": {
            "title": "Api Key"
          }
        },
        "type": "object",
        "required": [
          "username",
          "password",
          "api_key"
        ],
        "title": "ApiAuthCreds",
        "description": "API Auth Connection model"
      },
      "ApiBasicCreds-Input": {
        "properties": {
          "username": {
            "type": "string",
            "title": "Username"
          },
          "password": {
            "type": "string",
            "title": "Password"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "auth_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Auth Code"
          },
          "host": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Host"
          }
        },
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "title": "ApiBasicCreds",
        "description": "API Basic Connection model"
      },
      "ApiBasicCreds-Output": {
        "properties": {
          "username": {
            "title": "Username"
          },
          "password": {
            "title": "Password"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "auth_code": {
            "title": "Auth Code"
          },
          "host": {
            "title": "Host"
          }
        },
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "title": "ApiBasicCreds",
        "description": "API Basic Connection model"
      },
      "ApiKeyCreds-Input": {
        "properties": {
          "api_key": {
            "type": "string",
            "title": "Api Key"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id"
          }
        },
        "type": "object",
        "required": [
          "api_key"
        ],
        "title": "ApiKeyCreds",
        "description": "API Key Connection model"
      },
      "ApiKeyCreds-Output": {
        "properties": {
          "api_key": {
            "title": "Api Key"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url"
          },
          "user_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User Id"
          }
        },
        "type": "object",
        "required": [
          "api_key"
        ],
        "title": "ApiKeyCreds",
        "description": "API Key Connection model"
      },
      "AzugaSLC-Input": {
        "properties": {
          "api_key": {
            "type": "string",
            "title": "Api Key"
          },
          "token": {
            "type": "string",
            "title": "Token"
          }
        },
        "type": "object",
        "required": [
          "api_key",
          "token"
        ],
        "title": "AzugaSLC",
        "description": "Azuga Short-lived Credentials model"
      },
      "AzugaSLC-Output": {
        "properties": {
          "api_key": {
            "title": "Api Key"
          },
          "token": {
            "title": "Token"
          }
        },
        "type": "object",
        "required": [
          "api_key",
          "token"
        ],
        "title": "AzugaSLC",
        "description": "Azuga Short-lived Credentials model"
      },
      "BadRequest": {
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "default": 400
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": "Bad Request"
          },
          "detail": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "BadRequest"
      },
      "BouncieCreds-Input": {
        "properties": {
          "auth_code": {
            "type": "string",
            "title": "Auth Code"
          },
          "redirect_uri": {
            "type": "string",
            "title": "Redirect Uri"
          },
          "client_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Client Id"
          },
          "client_secret": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Client Secret"
          }
        },
        "type": "object",
        "required": [
          "auth_code",
          "redirect_uri"
        ],
        "title": "BouncieCreds",
        "description": "Bouncie Credentials model"
      },
      "BouncieCreds-Output": {
        "properties": {
          "auth_code": {
            "title": "Auth Code"
          },
          "redirect_uri": {
            "type": "string",
            "title": "Redirect Uri"
          },
          "client_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Client Id"
          },
          "client_secret": {
            "title": "Client Secret"
          }
        },
        "type": "object",
        "required": [
          "auth_code",
          "redirect_uri"
        ],
        "title": "BouncieCreds",
        "description": "Bouncie Credentials model"
      },
      "ClientIdSecretCreds-Input": {
        "properties": {
          "client_id": {
            "type": "string",
            "title": "Client Id"
          },
          "client_secret": {
            "type": "string",
            "title": "Client Secret"
          },
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "type": "object",
        "required": [
          "client_id",
          "client_secret",
          "url"
        ],
        "title": "ClientIdSecretCreds",
        "description": "Client ID Secret Connection model"
      },
      "ClientIdSecretCreds-Output": {
        "properties": {
          "client_id": {
            "type": "string",
            "title": "Client Id"
          },
          "client_secret": {
            "title": "Client Secret"
          },
          "url": {
            "type": "string",
            "title": "Url"
          }
        },
        "type": "object",
        "required": [
          "client_id",
          "client_secret",
          "url"
        ],
        "title": "ClientIdSecretCreds",
        "description": "Client ID Secret Connection model"
      },
      "CompanyAccessCreds-Input": {
        "properties": {
          "username": {
            "type": "string",
            "title": "Username"
          },
          "password": {
            "type": "string",
            "title": "Password"
          },
          "company_id": {
            "type": "string",
            "title": "Company Id"
          }
        },
        "type": "object",
        "required": [
          "username",
          "password",
          "company_id"
        ],
        "title": "CompanyAccessCreds",
        "description": "Company Access Credentials model"
      },
      "CompanyAccessCreds-Output": {
        "properties": {
          "username": {
            "title": "Username"
          },
          "password": {
            "title": "Password"
          },
          "company_id": {
            "title": "Company Id"
          }
        },
        "type": "object",
        "required": [
          "username",
          "password",
          "company_id"
        ],
        "title": "CompanyAccessCreds",
        "description": "Company Access Credentials model"
      },
      "CompanyIdCreds-Input": {
        "properties": {
          "company_id": {
            "type": "string",
            "title": "Company Id"
          }
        },
        "type": "object",
        "required": [
          "company_id"
        ],
        "title": "CompanyIdCreds",
        "description": "Company ID Credentials model"
      },
      "CompanyIdCreds-Output": {
        "properties": {
          "company_id": {
            "title": "Company Id"
          }
        },
        "type": "object",
        "required": [
          "company_id"
        ],
        "title": "CompanyIdCreds",
        "description": "Company ID Credentials model"
      },
      "Conflict": {
        "properties": {
          "code": {
            "type": "integer",
            "title": "Code",
            "default": 409
          },
          "message": {
            "type": "string",
            "title": "Message",
            "default": "Conflict"
          },
          "detail": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "Conflict"
      },
      "ConnectionCreate": {
        "properties": {
          "tsp_id": {
            "type": "string",
            "format": "uuid",
            "title": "TSP ID",
            "description": "The ID of the Telematics Service Provider (TSP) that the fleet uses."
          },
          "credentials": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DatabaseCreds-Input"
              },
              {
                "$ref": "#/components/schemas/ApiAuthCreds-Input"
              },
              {
                "$ref": "#/components/schemas/ApiKeyCreds-Input"
              },
              {
                "$ref": "#/components/schemas/ApiBasicCreds-Input"
              },
              {
                "$ref": "#/components/schemas/AzugaSLC-Input"
              },
              {
                "$ref": "#/components/schemas/BouncieCreds-Input"
              },
              {
                "$ref": "#/components/schemas/CompanyIdCreds-Input"
              },
              {
                "$ref": "#/components/schemas/FactorEldCreds-Input"
              },
              {
                "$ref": "#/components/schemas/OAuth1Creds-Input"
              },
              {
                "$ref": "#/components/schemas/OAuth2Creds-Input"
              },
              {
                "$ref": "#/components/schemas/OAuth2PrivateKeyCreds-Input"
              },
              {
                "$ref": "#/components/schemas/SftpCreds-Input"
              },
              {
                "$ref": "#/components/schemas/TokenCreds-Input"
              },
              {
                "$ref": "#/components/schemas/PrivateKeyCreds-Input"
              },
              {
                "$ref": "#/components/schemas/S3Creds-Input"
              },
              {
                "$ref": "#/components/schemas/ClientIdSecretCreds-Input"
              },
              {
                "$ref": "#/components/schemas/AccessTokenCreds-Input"
              },
              {
                "$ref": "#/components/schemas/GeotabCreds-Input"
              },
              {
                "$ref": "#/components/schemas/IsaacCreds-Input"
              },
              {
                "$ref": "#/components/schemas/OAuth2InitiateCreds-Input"
              },
              {
                "$ref": "#/components/schemas/EzlogzCreds"
              },
              {
                "$ref": "#/components/schemas/FleetupCreds-Input"
              },
              {
                "$ref": "#/components/schemas/FleetupSLC-Input"
              },
              {
                "$ref": "#/components/schemas/SpireonSLC-Input"
              },
              {
                "$ref": "#/components/schemas/TTCreds-Input"
              },
              {
                "$ref": "#/components/schemas/SamsaraCreds-Input"
              },
              {
                "$ref": "#/components/schemas/SwitchBoardCreds-Input"
              },
              {
                "$ref": "#/components/schemas/TruckXCreds-Input"
              },
              {
                "$ref": "#/components/schemas/TruckXSLC-Input"
              },
              {
                "$ref": "#/components/schemas/MotiveCreds-Input"
              },
              {
                "$ref": "#/components/schemas/CompanyAccessCreds-Input"
              },
              {
                "$ref": "#/components/schemas/OntimeEldCreds-Input"
              },
              {
                "$ref": "#/components/schemas/ZubieCreds-Input"
              }
            ],
            "title": "Credentials",
            "description": "The connection credentials required to authenticate with the TSP on behalf of the fleet."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "A description of the connection. Useful when the fleet has multiple accounts with the same TSP."
          }
        },
        "type": "object",
        "required": [
          "tsp_id",
          "credentials"
        ],
        "title": "ConnectionCreate",
        "description": "API Model for creating a connection"
      },
      "ConnectionRead": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Connection ID",
            "description": "Unique identifier for the connection."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Timestamp when the connection was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Timestamp when the connection was last updated."
          },
          "fleet_id": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fleet ID",
            "description": "The Catena ID of the fleet that owns this connection."
          },
          "fleet_ref": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fleet Reference",
            "description": "The reference of the fleet in the partner's system"
          },
          "tsp_id": {
            "type": "string",
            "format": "uuid",
            "title": "TSP ID",
            "description": "The ID of the Telematics Service Provider (TSP)."
          },
          "source_name": {
            "$ref": "#/components/schemas/TspEnum",
            "title": "Source Name",
            "description": "The name of the TSP integration used for this connection."
          },
          "credentials": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DatabaseCreds-Output"
              },
              {
                "$ref": "#/components/schemas/ApiAuthCreds-Output"
              },
              {
                "$ref": "#/components/schemas/ApiKeyCreds-Output"
              },
              {
                "$ref": "#/components/schemas/ApiBasicCreds-Output"
              },
              {
                "$ref": "#/components/schemas/AzugaSLC-Output"
              },
              {
                "$ref": "#/components/schemas/BouncieCreds-Output"
              },
              {
                "$ref": "#/components/schemas/CompanyIdCreds-Output"
              },
              {
                "$ref": "#/components/schemas/FactorEldCreds-Output"
              },
              {
                "$ref": "#/components/schemas/OAuth1Creds-Output"
              },
              {
                "$ref": "#/components/schemas/OAuth2Creds-Output"
              },
              {
                "$ref": "#/components/schemas/OAuth2PrivateKeyCreds-Output"
              },
              {
                "$ref": "#/components/schemas/SftpCreds-Output"
              },
              {
                "$ref": "#/components/schemas/TokenCreds-Output"
              },
              {
                "$ref": "#/components/schemas/PrivateKeyCreds-Output"
              },
              {
                "$ref": "#/components/schemas/S3Creds-Output"
              },
              {
                "$ref": "#/components/schemas/ClientIdSecretCreds-Output"
              },
              {
                "$ref": "#/components/schemas/AccessTokenCreds-Output"
              },
              {
                "$ref": "#/components/schemas/GeotabCreds-Output"
              },
              {
                "$ref": "#/components/schemas/IsaacCreds-Output"
              },
              {
                "$ref": "#/components/schemas/OAuth2InitiateCreds-Output"
              },
              {
                "$ref": "#/components/schemas/EzlogzCreds"
              },
              {
                "$ref": "#/components/schemas/FleetupCreds-Output"
              },
              {
                "$ref": "#/components/schemas/FleetupSLC-Output"
              },
              {
                "$ref": "#/components/schemas/SpireonSLC-Output"
              },
              {
                "$ref": "#/components/schemas/TTCreds-Output"
              },
              {
                "$ref": "#/components/schemas/SamsaraCreds-Output"
              },
              {
                "$ref": "#/components/schemas/SwitchBoardCreds-Output"
              },
              {
                "$ref": "#/components/schemas/TruckXCreds-Output"
              },
              {
                "$ref": "#/components/schemas/TruckXSLC-Output"
              },
              {
                "$ref": "#/components/schemas/MotiveCreds-Output"
              },
              {
                "$ref": "#/components/schemas/CompanyAccessCreds-Output"
              },
              {
                "$ref": "#/components/schemas/OntimeEldCreds-Output"
              },
              {
                "$ref": "#/components/schemas/ZubieCreds-Output"
              }
            ],
            "title": "Credentials",
            "description": "The connection credentials used to authenticate with the TSP."
          },
          "status": {
            "$ref": "#/components/schemas/StatusEnum",
            "title": "Connection Status",
            "description": "The current status of the connection."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "A description of the connection. Useful when the fleet has multiple accounts with the same TSP."
          }
        },
        "type": "object",
        "required": [
          "id",
          "created_at",
          "updated_at",
          "fleet_id",
          "tsp_id",
          "source_name",
          "credentials",
          "status",
          "description"
        ],
        "title": "ConnectionRead",
        "description": "API Model for reading a connection",
        "example": {
          "credentials": {
            "api_key": "*****"
          },
          "description": "Eroad connection for fleet 1234",
          "source_name": "eroad"
        }
      },
      "ConnectionUpdate": {
        "properties": {
          "credentials": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DatabaseCreds-Input"
              },
              {
                "$ref": "#/components/schemas/ApiAuthCreds-Input"
              },
              {
                "$ref": "#/components/schemas/ApiKeyCreds-Input"
              },
              {
                "$ref": "#/components/schemas/ApiBasicCreds-Input"
              },
              {
                "$ref": "#/components/schemas/AzugaSLC-Input"
              },
              {
                "$ref": "#/components/schemas/BouncieCreds-Input"
              },
              {
                "$ref": "#/components/schemas/CompanyIdCreds-Input"
              },
              {
                "$ref": "#/components/schemas/FactorEldCreds-Input"
              },
              {
                "$ref": "#/components/schemas/OAuth1Creds-Input"
              },
              {
                "$ref": "#/components/schemas/OAuth2Creds-Input"
              },
              {
                "$ref": "#/components/schemas/OAuth2PrivateKeyCreds-Input"
              },
              {
                "$ref": "#/components/schemas/SftpCreds-Input"
              },
              {
                "$ref": "#/components/schemas/TokenCreds-Input"
              },
              {
                "$ref": "#/components/schemas/PrivateKeyCreds-Input"
              },
              {
                "$ref": "#/components/schemas/S3Creds-Input"
              },
              {
                "$ref": "#/components/schemas/ClientIdSecretCreds-Input"
              },
              {
                "$ref": "#/components/schemas/AccessTokenCreds-Input"
              },
              {
                "$ref": "#/components/schemas/GeotabCreds-Input"
              },
              {
                "$ref": "#/components/schemas/IsaacCreds-Input"
              },
              {
                "$ref": "#/components/schemas/OAuth2InitiateCreds-Input"
              },
              {
                "$ref": "#/components/schemas/EzlogzCreds"
              },
              {
                "$ref": "#/components/schemas/FleetupCreds-Input"
              },
              {
                "$ref": "#/components/schemas/FleetupSLC-Input"
              },
              {
                "$ref": "#/components/schemas/SpireonSLC-Input"
              },
              {
                "$ref": "#/components/schemas/TTCreds-Input"
              },
              {
                "$ref": "#/components/schemas/SamsaraCreds-Input"
              },
              {
                "$ref": "#/components/schemas/SwitchBoardCreds-Input"
              },
              {
                "$ref": "#/components/schemas/TruckXCreds-Input"
              },
              {
                "$ref": "#/components/schemas/TruckXSLC-Input"
              },
              {
                "$ref": "#/components/schemas/MotiveCreds-Input"
              },
              {
                "$ref": "#/components/schemas/CompanyAccessCreds-Input"
              },
              {
                "$ref": "#/components/schemas/OntimeEldCreds-Input"
              },
              {
                "$ref": "#/components/schemas/ZubieCreds-Input"
              },
              {
                "type": "null"
              }
            ],
            "title": "Credentials",
            "description": "The connection credentials to authenticate with the TSP. Update these if the fleet's TSP account credentials have changed."
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description",
            "description": "A description of the connection. Useful when the fleet has multiple accounts with the same TSP."
          },
          "status": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StatusEnum"
              },
              {
                "type": "null"
              }
            ],
            "title": "Connection Status",
            "description": "The status of the connection."
          }
        },
        "type": "object",
        "title": "ConnectionUpdate",
        "description": "API Model for updating a connection"
      },
      "DatabaseCreds-Input": {
        "properties": {
          "drivername": {
            "$ref": "#/components/schemas/DatabaseDriverEnum"
          },
          "host": {
            "type": "string",
            "title": "Host"
          },
          "port": {
            "type": "integer",
            "title": "Port"
          },
          "username": {
            "type": "string",
            "title": "Username"
          },
          "password": {
            "type": "string",
            "title": "Password"
          },
          "database": {
            "type": "string",
            "title": "Database"
          }
        },
        "type": "object",
        "required": [
          "drivername",
          "host",
          "port",
          "username",
          "password",
          "database"
        ],
        "title": "DatabaseCreds",
        "description": "Database Connection model"
      },
      "DatabaseCreds-Output": {
        "properties": {
          "drivername": {
            "$ref": "#/components/schemas/DatabaseDriverEnum"
          },
          "host": {
            "title": "Host"
          },
          "port": {
            "type": "integer",
            "title": "Port"
          },
          "username": {
            "title": "Username"
          },
          "password": {
            "title": "Password"
          },
          "database": {
            "type": "string",
            "title": "Database"
          }
        },
        "type": "object",
        "required": [
          "drivername",
          "host",
          "port",
          "username",
          "password",
          "database"
        ],
        "title": "DatabaseCreds",
        "description": "Database Connection model"
      },
      "DatabaseDriverEnum": {
        "type": "string",
        "enum": [
          "postgresql+psycopg2",
          "cockroachdb",
          "mongodb",
          "mysql",
          "mariadb",
          "snowflake",
          "clickhouse"
        ],
        "title": "DatabaseDriverEnum",
        "description": "Database Driver"
      },
      "ExecutionRead": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Execution ID",
            "description": "Unique identifier for the execution. Use this ID to trace which execution ingested specific data."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At",
            "description": "Timestamp when the execution was created."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At",
            "description": "Timestamp when the execution was last updated."
          },
          "schedule_id": {
            "type": "string",
            "format": "uuid",
            "title": "Schedule ID",
            "description": "The ID of the schedule that this execution belongs to."
          },
          "connection_id": {
            "type": "string",
            "format": "uuid",
            "title": "Connection ID",
            "description": "The ID of the connection used for this execution."
          },
          "fleet_id": {
            "type": "string",
            "format": "uuid",
            "title": "Fleet ID",
            "description": "The ID of the fleet that owns this execution."
          },
          "status": {
            "$ref": "#/components/schemas/StatusEnum",
            "title": "Execution Status",
            "description": "The current status of the execution."
          },
          "source_name": {
            "$ref": "#/components/schemas/TspEnum",
            "title": "Source Name",
            "description": "The name of the TSP integration used for this execution."
          },
          "resource": {
            "$ref": "#/components/schemas/ResourceEnum",
            "title": "Resource Type",
            "description": "The type of resource being fetched (e.g., VEHICLE, DRIVER, HOS, IFTA)."
          },
          "cursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Cursor",
            "description": "Resource-specific state used to resume incremental fetching."
          }
        },
        "type": "object",
        "required": [
          "id",
          "created_at",
          "updated_at",
          "schedule_id",
          "connection_id",
          "fleet_id",
          "status",
          "source_name",
          "resource"
        ],
        "title": "ExecutionRead",
        "description": "API Model for reading an execution",
        "example": {
          "resource": "vehicle",
          "source_name": "geotab",
          "status": "success"
        }
      },
      "EzlogzCreds": {
        "properties": {
          "app_id": {
            "type": "string",
            "title": "App Id"
          },
          "app_key": {
            "type": "string",
            "title": "App Key"
          },
          "client_key": {
            "type": "string",
            "title": "Client Key"
          }
        },
        "type": "object",
        "required": [
          "app_id",
          "app_key",
          "client_key"
        ],
        "title": "EzlogzCreds",
        "description": "Ezlogz Connection model"
      },
      "FactorEldCreds-Input": {
        "properties": {
          "username": {
            "type": "string",
            "title": "Username"
          },
          "password": {
            "type": "string",
            "title": "Password"
          },
          "api_key": {
            "type": "string",
            "title": "Api Key"
          }
        },
        "type": "object",
        "required": [
          "username",
          "password",
          "api_key"
        ],
        "title": "FactorEldCreds",
        "description": "Factor ELD Connection model"
      },
      "FactorEldCreds-Output": {
        "properties": {
          "username": {
            "title": "Username"
          },
          "password": {
            "title": "Password"
          },
          "api_key": {
            "title": "Api Key"
          }
        },
        "type": "object",
        "required": [
          "username",
          "password",
          "api_key"
        ],
        "title": "FactorEldCreds",
        "description": "Factor ELD Connection model"
      },
      "FleetupCreds-Input": {
        "properties": {
          "account_id": {
            "type": "string",
            "title": "Account Id"
          },
          "secret_key": {
            "type": "string",
            "title": "Secret Key"
          },
          "api_key": {
            "type": "string",
            "title": "Api Key"
          }
        },
        "type": "object",
        "required": [
          "account_id",
          "secret_key",
          "api_key"
        ],
        "title": "FleetupCreds",
        "description": "Fleetup Connection model"
      },
      "FleetupCreds-Output": {
        "properties": {
          "account_id": {
            "type": "string",
            "title": "Account Id"
          },
          "secret_key": {
            "title": "Secret Key"
          },
          "api_key": {
            "title": "Api Key"
          }
        },
        "type": "object",
        "required": [
          "account_id",
          "secret_key",
          "api_key"
        ],
        "title": "FleetupCreds",
        "description": "Fleetup Connection model"
      },
      "FleetupSLC-Input": {
        "properties": {
          "account_id": {
            "type": "string",
            "title": "Account Id"
          },
          "api_key": {
            "type": "string",
            "title": "Api Key"
          },
          "token": {
            "type": "string",
            "title": "Token"
          }
        },
        "type": "object",
        "required": [
          "account_id",
          "api_key",
          "token"
        ],
        "title": "FleetupSLC",
        "description": "Fleetup SLC Connection model"
      },
      "FleetupSLC-Output": {
        "properties": {
          "account_id": {
            "type": "string",
            "title": "Account Id"
          },
          "api_key": {
            "title": "Api Key"
          },
          "token": {
            "title": "Token"
          }
[...]
