{"openapi":"3.1.0","info":{"title":"Telematics Integrations Service - REST API","description":"Integrations Service REST API.","version":"0.1.0"},"servers":[{"url":"https://api.catenatelematics.com","description":"Catena Telematics API"}],"paths":{"/v2/integrations/connections":{"get":{"tags":["Connections"],"summary":"List Connections","description":"Get a paginated list of all connections accessible to your organization.","operationId":"list_connections","security":[{"Bearer":["connection:read"]}],"parameters":[{"name":"tsp_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Tsp Id"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":300,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPage_TypeVar_Customized_ConnectionRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}},"post":{"tags":["Connections"],"summary":"Create Connection","description":"Create a new connection.\n\nThis will validate the credentials with the TSP before creating the connection.\nIf the credentials are invalid, the connection will not be created and an error will be returned.\n\nIt also creates a schedule to refresh or exchanged the coneection details\nfor a short lived credential, shuch as an access token.","operationId":"create_connection","security":[{"Bearer":["connection:create"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true","x-mint":{"content":"<Info>Creating connections is only available to fleets.</Info>"}}},"/v2/integrations/connections/{connection_id}":{"get":{"tags":["Connections"],"summary":"Get Connection","description":"Get detailed information about a specific connection.","operationId":"get_connection","security":[{"Bearer":["connection:read"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}},"patch":{"tags":["Connections"],"summary":"Update Connection","description":"Update a connection by its ID.\n\nThe repository handles validation, authentication, and SLC creation when credentials are updated.","operationId":"update_connection","security":[{"Bearer":["connection:update"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true","x-mint":{"content":"<Info>Updating connections is only available to fleets.</Info>"}},"delete":{"tags":["Connections"],"summary":"Delete Connection","description":"Delete a connection by its ID.","operationId":"delete_connection","security":[{"Bearer":["connection:delete"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}}],"responses":{"204":{"description":"Successful Response"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true","x-mint":{"content":"<Info>Deleting connections is only available to fleets.</Info>"}}},"/v2/integrations/connections/{connection_id}/schedules":{"get":{"tags":["Connections"],"summary":"List Schedules","description":"Get a paginated list of all schedules for a given connection.","operationId":"list_schedules","security":[{"Bearer":["schedule:read"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}},{"name":"resource","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ResourceEnum"},{"type":"null"}],"title":"Resource"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":300,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPage_TypeVar_Customized_ScheduleRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}},"post":{"tags":["Connections"],"summary":"Create Schedule","description":"Create a new schedule.\n\nThis will create a schedule to fetch data from the TSP.\n\nIt also creates a schedule to refresh or exchange the connection details\nfor a short lived credential, such as an access token.\n\nFor now only Catena admins can create schedules.","operationId":"create_schedule","security":[{"Bearer":["schedule:create"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true"}},"/v2/integrations/connections/{connection_id}/schedules/{schedule_id}":{"get":{"tags":["Connections"],"summary":"Get Schedule","description":"Get detailed information about a specific schedule.","operationId":"get_schedule","security":[{"Bearer":["schedule:read"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}},{"name":"schedule_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Schedule Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}},"patch":{"tags":["Connections"],"summary":"Update Schedule","description":"Update a schedule by its ID.","operationId":"update_schedule","security":[{"Bearer":["schedule:update"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}},{"name":"schedule_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Schedule Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true"},"delete":{"tags":["Connections"],"summary":"Delete Schedule","description":"Delete a schedule by its ID.","operationId":"delete_schedule","security":[{"Bearer":["schedule:delete"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}},{"name":"schedule_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Schedule Id"}}],"responses":{"204":{"description":"Successful Response"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}},"x-excluded":"true"}},"/v2/integrations/connections/{connection_id}/schedules/{schedule_id}/executions":{"get":{"tags":["Connections"],"summary":"List Executions","description":"Get a paginated list of all executions for a given schedule.","operationId":"list_executions","security":[{"Bearer":["execution:read"]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Connection Id"}},{"name":"schedule_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Schedule Id"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":300,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPage_TypeVar_Customized_ExecutionRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"},"504":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatewayTimeout"}}},"description":"Gateway Timeout"}}}}},"components":{"schemas":{"AccessTokenCreds-Input":{"properties":{"access_token":{"type":"string","title":"Access Token"},"token_type":{"type":"string","title":"Token Type"},"expires_in":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Expires In"},"refresh_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Refresh Token"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id"},"host":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Host"}},"type":"object","required":["access_token","token_type"],"title":"AccessTokenCreds","description":"Access Token Credentials"},"AccessTokenCreds-Output":{"properties":{"access_token":{"title":"Access Token"},"token_type":{"type":"string","title":"Token Type"},"expires_in":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Expires In"},"refresh_token":{"title":"Refresh Token"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id"},"host":{"title":"Host"}},"type":"object","required":["access_token","token_type"],"title":"AccessTokenCreds","description":"Access Token Credentials"},"ApiBasicCreds-Input":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"auth_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Auth Code"},"host":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Host"}},"type":"object","required":["username","password"],"title":"ApiBasicCreds","description":"API Basic Connection model"},"ApiBasicCreds-Output":{"properties":{"username":{"title":"Username"},"password":{"title":"Password"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"auth_code":{"title":"Auth Code"},"host":{"title":"Host"}},"type":"object","required":["username","password"],"title":"ApiBasicCreds","description":"API Basic Connection model"},"ApiKeyCreds-Input":{"properties":{"api_key":{"type":"string","title":"Api Key"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id"}},"type":"object","required":["api_key"],"title":"ApiKeyCreds","description":"API Key Connection model"},"ApiKeyCreds-Output":{"properties":{"api_key":{"title":"Api Key"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"user_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Id"}},"type":"object","required":["api_key"],"title":"ApiKeyCreds","description":"API Key Connection model"},"AzugaSLC-Input":{"properties":{"api_key":{"type":"string","title":"Api Key"},"token":{"type":"string","title":"Token"}},"type":"object","required":["api_key","token"],"title":"AzugaSLC","description":"Azuga Short-lived Credentials model"},"AzugaSLC-Output":{"properties":{"api_key":{"title":"Api Key"},"token":{"title":"Token"}},"type":"object","required":["api_key","token"],"title":"AzugaSLC","description":"Azuga Short-lived Credentials model"},"BadRequest":{"properties":{"code":{"type":"integer","title":"Code","default":400},"message":{"type":"string","title":"Message","default":"Bad Request"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"BadRequest"},"BouncieCreds-Input":{"properties":{"auth_code":{"type":"string","title":"Auth Code"},"redirect_uri":{"type":"string","title":"Redirect Uri"},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Secret"}},"type":"object","required":["auth_code","redirect_uri"],"title":"BouncieCreds","description":"Bouncie Credentials model"},"BouncieCreds-Output":{"properties":{"auth_code":{"title":"Auth Code"},"redirect_uri":{"type":"string","title":"Redirect Uri"},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret":{"title":"Client Secret"}},"type":"object","required":["auth_code","redirect_uri"],"title":"BouncieCreds","description":"Bouncie Credentials model"},"ClientIdSecretCreds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","client_secret","url"],"title":"ClientIdSecretCreds","description":"Client ID Secret Connection model"},"ClientIdSecretCreds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"title":"Client Secret"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","client_secret","url"],"title":"ClientIdSecretCreds","description":"Client ID Secret Connection model"},"CompanyAccessCreds-Input":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"company_id":{"type":"string","title":"Company Id"}},"type":"object","required":["username","password","company_id"],"title":"CompanyAccessCreds","description":"Company Access Credentials model"},"CompanyAccessCreds-Output":{"properties":{"username":{"title":"Username"},"password":{"title":"Password"},"company_id":{"title":"Company Id"}},"type":"object","required":["username","password","company_id"],"title":"CompanyAccessCreds","description":"Company Access Credentials model"},"CompanyIdCreds-Input":{"properties":{"company_id":{"type":"string","title":"Company Id"}},"type":"object","required":["company_id"],"title":"CompanyIdCreds","description":"Company ID Credentials model"},"CompanyIdCreds-Output":{"properties":{"company_id":{"title":"Company Id"}},"type":"object","required":["company_id"],"title":"CompanyIdCreds","description":"Company ID Credentials model"},"Conflict":{"properties":{"code":{"type":"integer","title":"Code","default":409},"message":{"type":"string","title":"Message","default":"Conflict"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"Conflict"},"ConnectionCreate":{"properties":{"tsp_id":{"type":"string","format":"uuid","title":"TSP ID","description":"The ID of the Telematics Service Provider (TSP) that the fleet uses."},"credentials":{"anyOf":[{"$ref":"#/components/schemas/DatabaseCreds-Input"},{"$ref":"#/components/schemas/ApiKeyCreds-Input"},{"$ref":"#/components/schemas/ApiBasicCreds-Input"},{"$ref":"#/components/schemas/AzugaSLC-Input"},{"$ref":"#/components/schemas/BouncieCreds-Input"},{"$ref":"#/components/schemas/CompanyIdCreds-Input"},{"$ref":"#/components/schemas/FactorEldCreds-Input"},{"$ref":"#/components/schemas/OAuth1Creds-Input"},{"$ref":"#/components/schemas/OAuth2Creds-Input"},{"$ref":"#/components/schemas/OAuth2PrivateKeyCreds-Input"},{"$ref":"#/components/schemas/SftpCreds-Input"},{"$ref":"#/components/schemas/TokenCreds-Input"},{"$ref":"#/components/schemas/PrivateKeyCreds-Input"},{"$ref":"#/components/schemas/S3Creds-Input"},{"$ref":"#/components/schemas/ClientIdSecretCreds-Input"},{"$ref":"#/components/schemas/AccessTokenCreds-Input"},{"$ref":"#/components/schemas/GeotabCreds-Input"},{"$ref":"#/components/schemas/IsaacCreds-Input"},{"$ref":"#/components/schemas/OAuth2InitiateCreds-Input"},{"$ref":"#/components/schemas/EzlogzCreds"},{"$ref":"#/components/schemas/FleetupCreds-Input"},{"$ref":"#/components/schemas/FleetupSLC-Input"},{"$ref":"#/components/schemas/SpireonSLC-Input"},{"$ref":"#/components/schemas/TTCreds-Input"},{"$ref":"#/components/schemas/SamsaraCreds-Input"},{"$ref":"#/components/schemas/TruckXCreds-Input"},{"$ref":"#/components/schemas/TruckXSLC-Input"},{"$ref":"#/components/schemas/MotiveCreds-Input"},{"$ref":"#/components/schemas/CompanyAccessCreds-Input"},{"$ref":"#/components/schemas/OntimeEldCreds-Input"},{"$ref":"#/components/schemas/ZubieCreds-Input"}],"title":"Credentials","description":"The connection credentials required to authenticate with the TSP on behalf of the fleet."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of the connection. Useful when the fleet has multiple accounts with the same TSP."}},"type":"object","required":["tsp_id","credentials"],"title":"ConnectionCreate","description":"API Model for creating a connection"},"ConnectionRead":{"properties":{"id":{"type":"string","format":"uuid","title":"Connection ID","description":"Unique identifier for the connection."},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Timestamp when the connection was created."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Timestamp when the connection was last updated."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena ID of the fleet that owns this connection."},"tsp_id":{"type":"string","format":"uuid","title":"TSP ID","description":"The ID of the Telematics Service Provider (TSP)."},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the TSP integration used for this connection."},"credentials":{"anyOf":[{"$ref":"#/components/schemas/DatabaseCreds-Output"},{"$ref":"#/components/schemas/ApiKeyCreds-Output"},{"$ref":"#/components/schemas/ApiBasicCreds-Output"},{"$ref":"#/components/schemas/AzugaSLC-Output"},{"$ref":"#/components/schemas/BouncieCreds-Output"},{"$ref":"#/components/schemas/CompanyIdCreds-Output"},{"$ref":"#/components/schemas/FactorEldCreds-Output"},{"$ref":"#/components/schemas/OAuth1Creds-Output"},{"$ref":"#/components/schemas/OAuth2Creds-Output"},{"$ref":"#/components/schemas/OAuth2PrivateKeyCreds-Output"},{"$ref":"#/components/schemas/SftpCreds-Output"},{"$ref":"#/components/schemas/TokenCreds-Output"},{"$ref":"#/components/schemas/PrivateKeyCreds-Output"},{"$ref":"#/components/schemas/S3Creds-Output"},{"$ref":"#/components/schemas/ClientIdSecretCreds-Output"},{"$ref":"#/components/schemas/AccessTokenCreds-Output"},{"$ref":"#/components/schemas/GeotabCreds-Output"},{"$ref":"#/components/schemas/IsaacCreds-Output"},{"$ref":"#/components/schemas/OAuth2InitiateCreds-Output"},{"$ref":"#/components/schemas/EzlogzCreds"},{"$ref":"#/components/schemas/FleetupCreds-Output"},{"$ref":"#/components/schemas/FleetupSLC-Output"},{"$ref":"#/components/schemas/SpireonSLC-Output"},{"$ref":"#/components/schemas/TTCreds-Output"},{"$ref":"#/components/schemas/SamsaraCreds-Output"},{"$ref":"#/components/schemas/TruckXCreds-Output"},{"$ref":"#/components/schemas/TruckXSLC-Output"},{"$ref":"#/components/schemas/MotiveCreds-Output"},{"$ref":"#/components/schemas/CompanyAccessCreds-Output"},{"$ref":"#/components/schemas/OntimeEldCreds-Output"},{"$ref":"#/components/schemas/ZubieCreds-Output"}],"title":"Credentials","description":"The connection credentials used to authenticate with the TSP."},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Connection Status","description":"The current status of the connection."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of the connection. Useful when the fleet has multiple accounts with the same TSP."}},"type":"object","required":["id","created_at","updated_at","fleet_id","tsp_id","source_name","credentials","status","description"],"title":"ConnectionRead","description":"API Model for reading a connection","example":{"credentials":{"api_key":"*****"},"description":"Eroad connection for fleet 1234","source_name":"eroad"}},"ConnectionUpdate":{"properties":{"credentials":{"anyOf":[{"$ref":"#/components/schemas/DatabaseCreds-Input"},{"$ref":"#/components/schemas/ApiKeyCreds-Input"},{"$ref":"#/components/schemas/ApiBasicCreds-Input"},{"$ref":"#/components/schemas/AzugaSLC-Input"},{"$ref":"#/components/schemas/BouncieCreds-Input"},{"$ref":"#/components/schemas/CompanyIdCreds-Input"},{"$ref":"#/components/schemas/FactorEldCreds-Input"},{"$ref":"#/components/schemas/OAuth1Creds-Input"},{"$ref":"#/components/schemas/OAuth2Creds-Input"},{"$ref":"#/components/schemas/OAuth2PrivateKeyCreds-Input"},{"$ref":"#/components/schemas/SftpCreds-Input"},{"$ref":"#/components/schemas/TokenCreds-Input"},{"$ref":"#/components/schemas/PrivateKeyCreds-Input"},{"$ref":"#/components/schemas/S3Creds-Input"},{"$ref":"#/components/schemas/ClientIdSecretCreds-Input"},{"$ref":"#/components/schemas/AccessTokenCreds-Input"},{"$ref":"#/components/schemas/GeotabCreds-Input"},{"$ref":"#/components/schemas/IsaacCreds-Input"},{"$ref":"#/components/schemas/OAuth2InitiateCreds-Input"},{"$ref":"#/components/schemas/EzlogzCreds"},{"$ref":"#/components/schemas/FleetupCreds-Input"},{"$ref":"#/components/schemas/FleetupSLC-Input"},{"$ref":"#/components/schemas/SpireonSLC-Input"},{"$ref":"#/components/schemas/TTCreds-Input"},{"$ref":"#/components/schemas/SamsaraCreds-Input"},{"$ref":"#/components/schemas/TruckXCreds-Input"},{"$ref":"#/components/schemas/TruckXSLC-Input"},{"$ref":"#/components/schemas/MotiveCreds-Input"},{"$ref":"#/components/schemas/CompanyAccessCreds-Input"},{"$ref":"#/components/schemas/OntimeEldCreds-Input"},{"$ref":"#/components/schemas/ZubieCreds-Input"},{"type":"null"}],"title":"Credentials","description":"The connection credentials to authenticate with the TSP. Update these if the fleet's TSP account credentials have changed."},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of the connection. Useful when the fleet has multiple accounts with the same TSP."},"status":{"anyOf":[{"$ref":"#/components/schemas/StatusEnum"},{"type":"null"}],"title":"Connection Status","description":"The status of the connection."}},"type":"object","title":"ConnectionUpdate","description":"API Model for updating a connection"},"DatabaseCreds-Input":{"properties":{"drivername":{"$ref":"#/components/schemas/DatabaseDriverEnum"},"host":{"type":"string","title":"Host"},"port":{"type":"integer","title":"Port"},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"database":{"type":"string","title":"Database"}},"type":"object","required":["drivername","host","port","username","password","database"],"title":"DatabaseCreds","description":"Database Connection model"},"DatabaseCreds-Output":{"properties":{"drivername":{"$ref":"#/components/schemas/DatabaseDriverEnum"},"host":{"title":"Host"},"port":{"type":"integer","title":"Port"},"username":{"title":"Username"},"password":{"title":"Password"},"database":{"type":"string","title":"Database"}},"type":"object","required":["drivername","host","port","username","password","database"],"title":"DatabaseCreds","description":"Database Connection model"},"DatabaseDriverEnum":{"type":"string","enum":["postgresql+psycopg2","cockroachdb","mongodb","mysql","mariadb","snowflake","clickhouse"],"title":"DatabaseDriverEnum","description":"Database Driver"},"ExecutionRead":{"properties":{"id":{"type":"string","format":"uuid","title":"Execution ID","description":"Unique identifier for the execution. Use this ID to trace which execution ingested specific data."},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Timestamp when the execution was created."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Timestamp when the execution was last updated."},"schedule_id":{"type":"string","format":"uuid","title":"Schedule ID","description":"The ID of the schedule that this execution belongs to."},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The ID of the connection used for this execution."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The ID of the fleet that owns this execution."},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Execution Status","description":"The current status of the execution."},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the TSP integration used for this execution."},"resource":{"$ref":"#/components/schemas/ResourceEnum","title":"Resource Type","description":"The type of resource being fetched (e.g., VEHICLE, DRIVER, HOS, IFTA)."}},"type":"object","required":["id","created_at","updated_at","schedule_id","connection_id","fleet_id","status","source_name","resource"],"title":"ExecutionRead","description":"API Model for reading an execution","example":{"resource":"vehicle","source_name":"geotab","status":"success"}},"EzlogzCreds":{"properties":{"app_id":{"type":"string","title":"App Id"},"app_key":{"type":"string","title":"App Key"},"client_key":{"type":"string","title":"Client Key"}},"type":"object","required":["app_id","app_key","client_key"],"title":"EzlogzCreds","description":"Ezlogz Connection model"},"FactorEldCreds-Input":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"api_key":{"type":"string","title":"Api Key"}},"type":"object","required":["username","password","api_key"],"title":"FactorEldCreds","description":"Factor ELD Connection model"},"FactorEldCreds-Output":{"properties":{"username":{"title":"Username"},"password":{"title":"Password"},"api_key":{"title":"Api Key"}},"type":"object","required":["username","password","api_key"],"title":"FactorEldCreds","description":"Factor ELD Connection model"},"FleetupCreds-Input":{"properties":{"account_id":{"type":"string","title":"Account Id"},"secret_key":{"type":"string","title":"Secret Key"},"api_key":{"type":"string","title":"Api Key"}},"type":"object","required":["account_id","secret_key","api_key"],"title":"FleetupCreds","description":"Fleetup Connection model"},"FleetupCreds-Output":{"properties":{"account_id":{"type":"string","title":"Account Id"},"secret_key":{"title":"Secret Key"},"api_key":{"title":"Api Key"}},"type":"object","required":["account_id","secret_key","api_key"],"title":"FleetupCreds","description":"Fleetup Connection model"},"FleetupSLC-Input":{"properties":{"account_id":{"type":"string","title":"Account Id"},"api_key":{"type":"string","title":"Api Key"},"token":{"type":"string","title":"Token"}},"type":"object","required":["account_id","api_key","token"],"title":"FleetupSLC","description":"Fleetup SLC Connection model"},"FleetupSLC-Output":{"properties":{"account_id":{"type":"string","title":"Account Id"},"api_key":{"title":"Api Key"},"token":{"title":"Token"}},"type":"object","required":["account_id","api_key","token"],"title":"FleetupSLC","description":"Fleetup SLC Connection model"},"Forbidden":{"properties":{"code":{"type":"integer","title":"Code","default":403},"message":{"type":"string","title":"Message","default":"Forbidden"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"Forbidden"},"GatewayTimeout":{"properties":{"code":{"type":"integer","title":"Code","default":504},"message":{"type":"string","title":"Message","default":"Gateway Timeout"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"GatewayTimeout"},"GeotabCreds-Input":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"database":{"type":"string","title":"Database"},"session_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session Id"}},"type":"object","required":["username","password","database"],"title":"GeotabCreds","description":"Geotab Connection model"},"GeotabCreds-Output":{"properties":{"username":{"title":"Username"},"password":{"title":"Password"},"database":{"type":"string","title":"Database"},"session_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Session Id"}},"type":"object","required":["username","password","database"],"title":"GeotabCreds","description":"Geotab Connection model"},"InternalServerError":{"properties":{"message":{"type":"string","title":"Message","default":"Internal Server Error"}},"type":"object","title":"InternalServerError"},"IsaacCreds-Input":{"properties":{"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"},"auth_code":{"type":"string","title":"Auth Code"},"host":{"type":"string","title":"Host"}},"type":"object","required":["username","password","auth_code","host"],"title":"IsaacCreds","description":"Isaac Connection model"},"IsaacCreds-Output":{"properties":{"username":{"title":"Username"},"password":{"title":"Password"},"auth_code":{"title":"Auth Code"},"host":{"title":"Host"}},"type":"object","required":["username","password","auth_code","host"],"title":"IsaacCreds","description":"Isaac Connection model"},"MotiveCreds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"auth_code":{"type":"string","title":"Auth Code"},"redirect_uri":{"type":"string","title":"Redirect Uri"}},"type":"object","required":["client_id","client_secret","auth_code","redirect_uri"],"title":"MotiveCreds","description":"Motive Connection model"},"MotiveCreds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"title":"Client Secret"},"auth_code":{"title":"Auth Code"},"redirect_uri":{"type":"string","title":"Redirect Uri"}},"type":"object","required":["client_id","client_secret","auth_code","redirect_uri"],"title":"MotiveCreds","description":"Motive Connection model"},"NotFound":{"properties":{"code":{"type":"integer","title":"Code","default":404},"message":{"type":"string","title":"Message","default":"Not Found"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"NotFound"},"OAuth1Creds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"resource_owner_id":{"type":"string","title":"Resource Owner Id"},"resource_owner_secret":{"type":"string","title":"Resource Owner Secret"},"signature_method":{"type":"string","title":"Signature Method"},"realm":{"type":"string","title":"Realm"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","client_secret","resource_owner_id","resource_owner_secret","signature_method","realm","url"],"title":"OAuth1Creds","description":"OAuth1 Connection model"},"OAuth1Creds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"title":"Client Secret"},"resource_owner_id":{"type":"string","title":"Resource Owner Id"},"resource_owner_secret":{"title":"Resource Owner Secret"},"signature_method":{"type":"string","title":"Signature Method"},"realm":{"type":"string","title":"Realm"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","client_secret","resource_owner_id","resource_owner_secret","signature_method","realm","url"],"title":"OAuth1Creds","description":"OAuth1 Connection model"},"OAuth2Creds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"refresh_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Refresh Token"},"token_url":{"type":"string","title":"Token Url"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","client_secret","token_url","url"],"title":"OAuth2Creds","description":"OAuth2 Connection model"},"OAuth2Creds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"title":"Client Secret"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"refresh_token":{"title":"Refresh Token"},"token_url":{"type":"string","title":"Token Url"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","client_secret","token_url","url"],"title":"OAuth2Creds","description":"OAuth2 Connection model"},"OAuth2InitiateCreds-Input":{"properties":{"code":{"type":"string","title":"Code"},"grant_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Grant Type"},"token_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Url"},"redirect_uri":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Redirect Uri"}},"type":"object","required":["code"],"title":"OAuth2InitiateCreds","description":"OAuth2 Initiate Connection model"},"OAuth2InitiateCreds-Output":{"properties":{"code":{"title":"Code"},"grant_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Grant Type"},"token_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Url"},"redirect_uri":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Redirect Uri"}},"type":"object","required":["code"],"title":"OAuth2InitiateCreds","description":"OAuth2 Initiate Connection model"},"OAuth2PrivateKeyCreds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"private_key":{"type":"string","title":"Private Key"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"token_url":{"type":"string","title":"Token Url"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","private_key","token_url","url"],"title":"OAuth2PrivateKeyCreds","description":"OAuth2 Private Key Connection model"},"OAuth2PrivateKeyCreds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"private_key":{"title":"Private Key"},"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"token_url":{"type":"string","title":"Token Url"},"url":{"type":"string","title":"Url"}},"type":"object","required":["client_id","private_key","token_url","url"],"title":"OAuth2PrivateKeyCreds","description":"OAuth2 Private Key Connection model"},"OntimeEldCreds-Input":{"properties":{"api_key":{"type":"string","title":"Api Key"},"provider_token":{"type":"string","title":"Provider Token"},"dot_number":{"type":"string","title":"Dot Number"}},"type":"object","required":["api_key","provider_token","dot_number"],"title":"OntimeEldCreds","description":"Ontime ELD Connection model"},"OntimeEldCreds-Output":{"properties":{"api_key":{"title":"Api Key"},"provider_token":{"title":"Provider Token"},"dot_number":{"type":"string","title":"Dot Number"}},"type":"object","required":["api_key","provider_token","dot_number"],"title":"OntimeEldCreds","description":"Ontime ELD Connection model"},"PrivateKeyCreds-Input":{"properties":{"private_key":{"type":"string","title":"Private Key"},"consumer_key":{"type":"string","title":"Consumer Key"},"username":{"type":"string","title":"Username"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"token_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Url"}},"type":"object","required":["private_key","consumer_key","username"],"title":"PrivateKeyCreds","description":"Private Key Connection model"},"PrivateKeyCreds-Output":{"properties":{"private_key":{"title":"Private Key"},"consumer_key":{"title":"Consumer Key"},"username":{"title":"Username"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"token_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Url"}},"type":"object","required":["private_key","consumer_key","username"],"title":"PrivateKeyCreds","description":"Private Key Connection model"},"ResourceEnum":{"type":"string","enum":["asset","driver_event_log","driver_safety_event","dvir_log","dvir_log_defect","hos_availability","hos_daily_snapshot","hos_event","hos_log","hos_log_annotation","hos_log_attachment","hos_violation","ifta_summary","location_segment","user","vehicle","vehicle_location","vehicle_sensor","trailer"],"title":"ResourceEnum","description":"Enum for resources"},"RetryAfterDetail":{"properties":{"retry_after_seconds":{"type":"integer","title":"Retry After Seconds"},"message":{"type":"string","title":"Message"}},"type":"object","required":["retry_after_seconds","message"],"title":"RetryAfterDetail"},"S3Creds-Input":{"properties":{"access_key":{"type":"string","title":"Access Key"},"secret_key":{"type":"string","title":"Secret Key"},"bucket_name":{"type":"string","title":"Bucket Name"},"region":{"type":"string","title":"Region"}},"type":"object","required":["access_key","secret_key","bucket_name","region"],"title":"S3Creds","description":"S3 Connection model"},"S3Creds-Output":{"properties":{"access_key":{"type":"string","title":"Access Key"},"secret_key":{"title":"Secret Key"},"bucket_name":{"type":"string","title":"Bucket Name"},"region":{"type":"string","title":"Region"}},"type":"object","required":["access_key","secret_key","bucket_name","region"],"title":"S3Creds","description":"S3 Connection model"},"SamsaraCreds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"auth_code":{"type":"string","title":"Auth Code"}},"type":"object","required":["client_id","client_secret","auth_code"],"title":"SamsaraCreds","description":"Samsara Connection model"},"SamsaraCreds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"title":"Client Secret"},"auth_code":{"title":"Auth Code"}},"type":"object","required":["client_id","client_secret","auth_code"],"title":"SamsaraCreds","description":"Samsara Connection model"},"ScheduleCreate":{"properties":{"resource":{"$ref":"#/components/schemas/ResourceEnum","title":"Resource Type","description":"The type of resource to fetch on this schedule (e.g., VEHICLE, DRIVER, HOS, IFTA)."},"execution_interval_seconds":{"type":"integer","title":"Execution Interval","description":"The interval between scheduled executions in seconds. Defaults to 10 minutes (600 seconds).","default":600},"consecutive_error_threshold":{"type":"integer","title":"Consecutive Error Threshold","description":"The number of consecutive errors allowed before the schedule is automatically set to INACTIVE. Defaults to 15.","default":15},"max_concurrent_executions":{"type":"integer","title":"Max Concurrent Executions","description":"The maximum number of concurrent executions allowed for this schedule. Defaults to 1.","default":1},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Schedule Status","description":"The initial status of the schedule. Defaults to ACTIVE.","default":"active"}},"type":"object","required":["resource"],"title":"ScheduleCreate","description":"API Model for creating a schedule"},"ScheduleRead":{"properties":{"id":{"type":"string","format":"uuid","title":"Schedule ID","description":"Unique identifier for the schedule."},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The ID of the connection that this schedule belongs to."},"resource":{"$ref":"#/components/schemas/ResourceEnum","title":"Resource Type","description":"The type of resource being fetched on this schedule (e.g., VEHICLE, DRIVER, HOS, IFTA)."},"execution_interval_seconds":{"type":"integer","title":"Execution Interval","description":"The interval between scheduled executions in seconds."},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Schedule Status","description":"The current status of the schedule (ACTIVE, INACTIVE)."},"consecutive_error_count":{"type":"integer","title":"Consecutive Error Count","description":"The number of consecutive errors that have occurred for this schedule."},"consecutive_error_threshold":{"type":"integer","title":"Consecutive Error Threshold","description":"The number of consecutive errors allowed before the schedule is automatically set to INACTIVE."},"max_concurrent_executions":{"type":"integer","title":"Max Concurrent Executions","description":"The maximum number of concurrent executions allowed for this schedule."}},"type":"object","required":["id","connection_id","resource","execution_interval_seconds","status","consecutive_error_count","consecutive_error_threshold","max_concurrent_executions"],"title":"ScheduleRead","description":"API Model for reading a schedule","example":{"consecutive_error_count":0,"consecutive_error_threshold":15,"execution_interval_seconds":600,"max_concurrent_executions":1,"resource":"vehicle"}},"ScheduleUpdate":{"properties":{"status":{"anyOf":[{"$ref":"#/components/schemas/StatusEnum"},{"type":"null"}],"title":"Schedule Status","description":"Update the status of the schedule (ACTIVE, INACTIVE)."},"execution_interval_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Execution Interval","description":"Update the interval between scheduled executions in seconds."},"consecutive_error_threshold":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Consecutive Error Threshold","description":"Update the number of consecutive errors allowed before the schedule is automatically set to INACTIVE."},"consecutive_error_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Consecutive Error Count","description":"Reset or update the consecutive error count for this schedule."},"max_concurrent_executions":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Max Concurrent Executions","description":"Update the maximum number of concurrent executions allowed for this schedule."},"next_execution_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Next Execution At","description":"Update the timestamp for the next scheduled execution."}},"type":"object","title":"ScheduleUpdate","description":"API Model for updating a schedule"},"SftpCreds-Input":{"properties":{"host":{"type":"string","title":"Host"},"port":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Port","default":22},"username":{"type":"string","title":"Username"},"password":{"type":"string","title":"Password"}},"type":"object","required":["host","username","password"],"title":"SftpCreds","description":"SFTP Connection model"},"SftpCreds-Output":{"properties":{"host":{"title":"Host"},"port":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Port","default":22},"username":{"title":"Username"},"password":{"title":"Password"}},"type":"object","required":["host","username","password"],"title":"SftpCreds","description":"SFTP Connection model"},"SpireonSLC-Input":{"properties":{"access_token":{"type":"string","title":"Access Token"},"auth_code":{"type":"string","title":"Auth Code"}},"type":"object","required":["access_token","auth_code"],"title":"SpireonSLC","description":"Spireon Short-lived Credentials model"},"SpireonSLC-Output":{"properties":{"access_token":{"title":"Access Token"},"auth_code":{"title":"Auth Code"}},"type":"object","required":["access_token","auth_code"],"title":"SpireonSLC","description":"Spireon Short-lived Credentials model"},"StatusEnum":{"type":"string","enum":["active","inactive","paused","expired","cancelled","pending","deleted","stale","success","failed","scheduled","accepted","declined"],"title":"StatusEnum","description":"Enum for statuses"},"TTCreds-Input":{"properties":{"api_key":{"type":"string","title":"Api Key"},"provider_token":{"type":"string","title":"Provider Token"},"dot_number":{"type":"string","title":"Dot Number"}},"type":"object","required":["api_key","provider_token","dot_number"],"title":"TTCreds","description":"Trucking Technologies Credentials model"},"TTCreds-Output":{"properties":{"api_key":{"title":"Api Key"},"provider_token":{"title":"Provider Token"},"dot_number":{"type":"string","title":"Dot Number"}},"type":"object","required":["api_key","provider_token","dot_number"],"title":"TTCreds","description":"Trucking Technologies Credentials model"},"TokenCreds-Input":{"properties":{"token":{"type":"string","title":"Token"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"}},"type":"object","required":["token"],"title":"TokenCreds","description":"Token Connection model"},"TokenCreds-Output":{"properties":{"token":{"title":"Token"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"}},"type":"object","required":["token"],"title":"TokenCreds","description":"Token Connection model"},"TooManyRequests":{"properties":{"code":{"type":"integer","title":"Code","default":429},"message":{"type":"string","title":"Message","default":"Too Many Requests"},"detail":{"anyOf":[{"$ref":"#/components/schemas/RetryAfterDetail"},{"type":"null"}]}},"type":"object","title":"TooManyRequests"},"TruckXCreds-Input":{"properties":{"dot_number":{"type":"string","title":"Dot Number"},"token":{"type":"string","title":"Token"}},"type":"object","required":["dot_number","token"],"title":"TruckXCreds","description":"TruckX Short-lived Credentials model"},"TruckXCreds-Output":{"properties":{"dot_number":{"type":"string","title":"Dot Number"},"token":{"title":"Token"}},"type":"object","required":["dot_number","token"],"title":"TruckXCreds","description":"TruckX Short-lived Credentials model"},"TruckXSLC-Input":{"properties":{"token":{"type":"string","title":"Token"},"carrier_id":{"type":"string","title":"Carrier Id"}},"type":"object","required":["token","carrier_id"],"title":"TruckXSLC","description":"TruckX Short-lived Credentials model"},"TruckXSLC-Output":{"properties":{"token":{"title":"Token"},"carrier_id":{"type":"string","title":"Carrier Id"}},"type":"object","required":["token","carrier_id"],"title":"TruckXSLC","description":"TruckX Short-lived Credentials model"},"TspEnum":{"type":"string","enum":["ada","ai_eld","apollo","ascend","azuga","bigroad","blueinktech","bouncie","budgetgps","cyntrx","driver_tech","dsg_elogs","dynamic_eld","eld_mandate","eroad","evo_eld","ezlogz","factor_eld","fleetcomplete","fleetcompletehub","fleethunt","fleetsharp","fleetup","fm","forwardthinking","geotab","gpsinsight","gpstab","gpstrackit","greenlight","hcss","hosconnect","hos247","hutch","intellishift","isaac","jjkeller","knight_eld","konexial","linxup","lucid_eld","lytx","mapon","matrack","maven","mobilefleet","motive","my_logs_eld","nero","netradyne","new_eld_world","nextraq","onestep","ontime_eld","optima","orbcomm","orient_eld","payd","peoplenet","phoenix","pop_eld","randmcnally","rastrac","routemate","samsara","selectivedrive","smart_elds","sparkle_eld","omnitracs","spireon","surfsight","swift","switchboard","teletracnavman","teletracnavman_director","telogis","tenna","think","tive","traccar","transflo","trimble","truckx","tt","us_fast_eld","verizon","verizon_reveal","vista_eld","vistracks","webfleet","xplore_eld","zonar","zubie"],"title":"TspEnum","description":"Enum for TSPs"},"Unauthorized":{"properties":{"code":{"type":"integer","title":"Code","default":401},"message":{"type":"string","title":"Message","default":"Unauthorized"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"Unauthorized"},"UnprocessableEntity":{"properties":{"code":{"type":"integer","title":"Code","default":422},"message":{"type":"string","title":"Message","default":"Invalid Request Body"},"detail":{"anyOf":[{"items":{"$ref":"#/components/schemas/ValidationErrorDetail"},"type":"array"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"UnprocessableEntity"},"ValidationErrorDetail":{"properties":{"path":{"type":"string","title":"Path"},"input":{"type":"string","title":"Input"},"message":{"type":"string","title":"Message"},"error_type":{"type":"string","title":"Error Type"}},"type":"object","required":["path","input","message","error_type"],"title":"ValidationErrorDetail"},"ZubieCreds-Input":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"auth_code":{"type":"string","title":"Auth Code"},"redirect_uri":{"type":"string","title":"Redirect Uri"}},"type":"object","required":["client_id","client_secret","auth_code","redirect_uri"],"title":"ZubieCreds","description":"Motive Connection model"},"ZubieCreds-Output":{"properties":{"client_id":{"type":"string","title":"Client Id"},"client_secret":{"title":"Client Secret"},"auth_code":{"title":"Auth Code"},"redirect_uri":{"type":"string","title":"Redirect Uri"}},"type":"object","required":["client_id","client_secret","auth_code","redirect_uri"],"title":"ZubieCreds","description":"Motive Connection model"},"_CursorPage_TypeVar_Customized_ConnectionRead_":{"properties":{"items":{"items":{"$ref":"#/components/schemas/ConnectionRead"},"type":"array","title":"Items"},"current_page":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Page","description":"Cursor to refetch the current page"},"current_page_backwards":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Page Backwards","description":"Cursor to refetch the current page starting from the last item"},"previous_page":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Previous Page","description":"Cursor for the previous page"},"next_page":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Page","description":"Cursor for the next page"}},"type":"object","required":["items"],"title":"_CursorPage[TypeVar]Customized[ConnectionRead]"},"_CursorPage_TypeVar_Customized_ExecutionRead_":{"properties":{"items":{"items":{"$ref":"#/components/schemas/ExecutionRead"},"type":"array","title":"Items"},"current_page":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Page","description":"Cursor to refetch the current page"},"current_page_backwards":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Page Backwards","description":"Cursor to refetch the current page starting from the last item"},"previous_page":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Previous Page","description":"Cursor for the previous page"},"next_page":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Page","description":"Cursor for the next page"}},"type":"object","required":["items"],"title":"_CursorPage[TypeVar]Customized[ExecutionRead]"},"_CursorPage_TypeVar_Customized_ScheduleRead_":{"properties":{"items":{"items":{"$ref":"#/components/schemas/ScheduleRead"},"type":"array","title":"Items"},"current_page":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Page","description":"Cursor to refetch the current page"},"current_page_backwards":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Current Page Backwards","description":"Cursor to refetch the current page starting from the last item"},"previous_page":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Previous Page","description":"Cursor for the previous page"},"next_page":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Page","description":"Cursor for the next page"}},"type":"object","required":["items"],"title":"_CursorPage[TypeVar]Customized[ScheduleRead]"}},"securitySchemes":{"Bearer":{"type":"oauth2","flows":{"clientCredentials":{"refreshUrl":"https://auth.catenatelematics.com/realms/catena/protocol/openid-connect/token","scopes":{},"tokenUrl":"https://auth.catenatelematics.com/realms/catena/protocol/openid-connect/token"},"authorizationCode":{"refreshUrl":"https://auth.catenatelematics.com/realms/catena/protocol/openid-connect/token","scopes":{},"authorizationUrl":"https://auth.catenatelematics.com/realms/catena/protocol/openid-connect/auth","tokenUrl":"https://auth.catenatelematics.com/realms/catena/protocol/openid-connect/token"}}}}},"tags":[{"name":"Connections","description":"Endpoints for managing connections between Fleets and TSPs, including their nested schedules and executions. A connection has schedules, and each schedule has executions."}]}