{"openapi":"3.1.0","info":{"title":"Notifications Service - REST API","description":"Notifications Service REST API.","version":"0.1.0"},"servers":[{"url":"https://api.catenatelematics.com","description":"Catena Telematics API"}],"paths":{"/v2/notifications/webhooks/{webhook_id}":{"get":{"tags":["Webhook Subscriptions"],"summary":"Get Webhook Subscription","description":"Get detailed information about a specific webhook.","operationId":"get_webhook_subscription","security":[{"Bearer":["webhook:read"]}],"parameters":[{"name":"webhook_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Webhook Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"patch":{"tags":["Webhook Subscriptions"],"summary":"Update Webhook Subscription","description":"Update a webhook subscription.","operationId":"update_webhook_subscription","security":[{"Bearer":["webhook:update"]}],"parameters":[{"name":"webhook_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Webhook Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"delete":{"tags":["Webhook Subscriptions"],"summary":"Delete Webhook Subscription","description":"Delete a webhook subscription.","operationId":"delete_webhook_subscription","security":[{"Bearer":["webhook:delete"]}],"parameters":[{"name":"webhook_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Webhook Id"}}],"responses":{"204":{"description":"Webhook subscription successfully deleted"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}}},"/v2/notifications/webhooks":{"get":{"tags":["Webhook Subscriptions"],"summary":"List Webhook Subscriptions","description":"Get a paginated list of webhooks for your organization.","operationId":"list_webhook_subscriptions","security":[{"Bearer":["webhook:read"]}],"parameters":[{"name":"event_name","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/WebhookEventName"},{"type":"null"}],"title":"Event Name"}},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/StatusEnum"},{"type":"null"}],"title":"Status"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":300,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPage_TypeVar_Customized_WebhookRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"post":{"tags":["Webhook Subscriptions"],"summary":"Create Webhook Subscription","description":"Create a new webhook subscription.","operationId":"create_webhook_subscription","security":[{"Bearer":["webhook:create"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/Webhook"},{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}}],"title":"Response Create Webhook Subscription"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-mint":{"content":"<Info>If the event name ends with \".*\", it is a catch-all pattern. The API will create one webhook subscription for each action of that resource and return a list of webhooks.</Info>"}}},"/v2/notifications/webhooks/{webhook_id}/metrics":{"get":{"tags":["Webhook Subscriptions"],"summary":"Get Webhook Subscription Metrics","description":"Get delivery metrics for a webhook subscription.","operationId":"get_webhook_subscription_metrics","security":[{"Bearer":["webhook:read"]}],"parameters":[{"name":"webhook_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Webhook Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookMetrics"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}}},"/v2/notifications/webhooks/{webhook_id}/replay":{"post":{"tags":["Webhook Subscriptions"],"summary":"Replay Undelivered Messages From Dlq","description":"Replay undelivered messages from the webhook dead letter queue.","operationId":"replay_undelivered_messages_from_dlq","security":[{"Bearer":["webhook:create"]}],"parameters":[{"name":"webhook_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Webhook Id"}}],"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}}},"/v2/notifications/webhooks/{webhook_id}/logs":{"get":{"tags":["Webhook Subscriptions"],"summary":"Get Webhook Subscription Logs","description":"Get delivery logs for a webhook subscription.","operationId":"get_webhook_subscription_logs","security":[{"Bearer":["webhook:read"]}],"parameters":[{"name":"webhook_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Webhook Id"}},{"name":"start_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Start Date"}},{"name":"end_date","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"End Date"}},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"enum":["success","failed"],"type":"string"},{"type":"null"}],"title":"Status"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":300,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPage_TypeVar_Customized_WebhookLogRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-mint":{"content":"<Warning>Logs are only available for the last 14 days.</Warning>"}}},"/v2/notifications/schemas/{event_name}":{"get":{"tags":["Webhook Event Schemas"],"summary":"Get Event Schema","description":"Get detailed information about a specific webhook event schema.","operationId":"get_event_schema","security":[{"Bearer":[]}],"parameters":[{"name":"event_name","in":"path","required":true,"schema":{"type":"string","title":"Event Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventSchema"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}}},"/v2/notifications/schemas/{event_name}/versions/{version}":{"get":{"tags":["Webhook Event Schemas"],"summary":"Get Event Schema Version","description":"Get detailed information about a specific webhook event schema by its name and version.","operationId":"get_event_schema_versions","security":[{"Bearer":[]}],"parameters":[{"name":"event_name","in":"path","required":true,"schema":{"type":"string","title":"Event Name"}},{"name":"version","in":"path","required":true,"schema":{"type":"string","title":"Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventSchema"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}}}},"webhooks":{"webhook.created":{"post":{"tags":["Webhook Events"],"summary":"Webhook Created","description":"Emitted when a webhook subscription is created.","operationId":"webhook_createdwebhook_created_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCreated"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"webhook.updated":{"post":{"tags":["Webhook Events"],"summary":"Webhook Updated","description":"Emitted when a webhook subscription is updated.","operationId":"webhook_updatedwebhook_updated_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookUpdated"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"webhook.deleted":{"post":{"tags":["Webhook Events"],"summary":"Webhook Deleted","description":"Emitted when a webhook subscription is deleted.","operationId":"webhook_deletedwebhook_deleted_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookDeleted"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"webhook.staled":{"post":{"tags":["Webhook Events"],"summary":"Webhook Staled","description":"Emitted when a webhook subscription is staled.\n\nWe mark a subscription as staled and automatically stop sending events\nto the webhook if the success rate for the last 6 hours is below 90%.\n\nAfter fixing the issue, you must patch the webhook changing the status to active.\nIf the success rate is still below 90%, the webhook will be marked as stale again.","operationId":"webhook_staledwebhook_staled_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookStaled"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"invitation.created":{"post":{"tags":["Webhook Events"],"summary":"Invitation Created","description":"Emitted when a new invitation is created.","operationId":"invitation_createdinvitation_created_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationCreated"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"invitation.viewed":{"post":{"tags":["Webhook Events"],"summary":"Invitation Viewed","description":"Emitted when an invitation is viewed by a fleet.","operationId":"invitation_viewedinvitation_viewed_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationViewed"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"invitation.sent":{"post":{"tags":["Webhook Events"],"summary":"Invitation Sent","description":"Emitted when an invitation is sent by email to a fleet.","operationId":"invitation_sentinvitation_sent_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationSent"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"invitation.accepted":{"post":{"tags":["Webhook Events"],"summary":"Invitation Accepted","description":"Emitted when an invitation is accepted by a fleet.","operationId":"invitation_acceptedinvitation_accepted_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationAccepted"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"invitation.expired":{"post":{"tags":["Webhook Events"],"summary":"Invitation Expired","description":"Emitted when an invitation expires.","operationId":"invitation_expiredinvitation_expired_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationExpired"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"invitation.deleted":{"post":{"tags":["Webhook Events"],"summary":"Invitation Deleted","description":"Emitted when an invitation is deleted.","operationId":"invitation_deletedinvitation_deleted_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationDeleted"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"invitation.rejected":{"post":{"tags":["Webhook Events"],"summary":"Invitation Rejected","description":"Emitted when an invitation is rejected.\n\n.. deprecated:: 2.0\n    Use `invitation.declined` instead.","operationId":"invitation_rejectedinvitation_rejected_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationRejected"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"deprecated":true}},"invitation.declined":{"post":{"tags":["Webhook Events"],"summary":"Invitation Declined","description":"Emitted when an invitation is declined.","operationId":"invitation_declinedinvitation_declined_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationDeclined"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"share_agreement.created":{"post":{"tags":["Webhook Events"],"summary":"Share Agreement Created","description":"Emitted when a new share agreement is created.","operationId":"share_agreement_createdshare_agreement_created_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareAgreementCreated"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"share_agreement.updated":{"post":{"tags":["Webhook Events"],"summary":"Share Agreement Updated","description":"Emitted when a share agreement is updated.","operationId":"share_agreement_updatedshare_agreement_updated_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareAgreementUpdated"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"share_agreement.deleted":{"post":{"tags":["Webhook Events"],"summary":"Share Agreement Deleted","description":"Emitted when a share agreement is deleted.","operationId":"share_agreement_deletedshare_agreement_deleted_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareAgreementDeleted"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"connection.created":{"post":{"tags":["Webhook Events"],"summary":"Connection Created","description":"Emitted when a new connection is created between a fleet and a TSP.","operationId":"connection_createdconnection_created_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionCreated"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"connection.staled":{"post":{"tags":["Webhook Events"],"summary":"Connection Staled","description":"Emitted when a connection is staled.\n\nWe mark a connection as staled and automatically stop fetching data if we can't authenticate with the TSP for an adjustable threshold.\nIt usually means that the credentials are no longer valid and the fleet must reauthenticate with the TSP.","operationId":"connection_staledconnection_staled_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectionStaled"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"vehicle.added":{"post":{"tags":["Webhook Events"],"summary":"Vehicle Added","description":"Emitted when a new vehicle is added to our database.\n\ne.g. The record fetched from the TSP is new and generated a new record in our database.","operationId":"vehicle_addedvehicle_added_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VehicleAdded"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"vehicle.modified":{"post":{"tags":["Webhook Events"],"summary":"Vehicle Modified","description":"Emitted when a vehicle is modified in our database.\n\ne.g. The record fetched from the TSP is different from what we had stored in our database and it prompted us to update the existing record.","operationId":"vehicle_modifiedvehicle_modified_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VehicleModified"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"vehicle.removed":{"post":{"tags":["Webhook Events"],"summary":"Vehicle Removed","description":"Emitted when a vehicle is removed from our database.\n\ne.g. The record was deleted from the TSP and we removed it from our database.","operationId":"vehicle_removedvehicle_removed_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VehicleRemoved"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"trailer.added":{"post":{"tags":["Webhook Events"],"summary":"Trailer Added","description":"Emitted when a new trailer is added to our database.","operationId":"trailer_addedtrailer_added_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrailerAdded"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"trailer.modified":{"post":{"tags":["Webhook Events"],"summary":"Trailer Modified","description":"Emitted when a trailer is modified in our database.","operationId":"trailer_modifiedtrailer_modified_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrailerModified"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"trailer.removed":{"post":{"tags":["Webhook Events"],"summary":"Trailer Removed","description":"Emitted when a trailer is removed from our database.","operationId":"trailer_removedtrailer_removed_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrailerRemoved"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"user.added":{"post":{"tags":["Webhook Events"],"summary":"User Added","description":"Emitted when a new user is added to our database.\n\ne.g. The record fetched from the TSP is new and generated a new record in our database.","operationId":"user_addeduser_added_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAdded"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"user.modified":{"post":{"tags":["Webhook Events"],"summary":"User Modified","description":"Emitted when a user is modified in our database.\n\ne.g. The record fetched from the TSP is different from what we had stored in our database and it prompted us to update the existing record.","operationId":"user_modifieduser_modified_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserModified"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"user.removed":{"post":{"tags":["Webhook Events"],"summary":"User Removed","description":"Emitted when a user is removed from our database.\n\ne.g. The record was deleted from the TSP and we removed it from our database.","operationId":"user_removeduser_removed_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserRemoved"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"vehicle_location.added":{"post":{"tags":["Webhook Events"],"summary":"Vehicle Location Added","description":"Emitted when a new vehicle location is added to our database.\n\ne.g. The record fetched from the TSP is new and generated a new record in our database.","operationId":"vehicle_location_addedvehicle_location_added_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VehicleLocationAdded"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"trailer_location.added":{"post":{"tags":["Webhook Events"],"summary":"Trailer Location Added","description":"Emitted when a new trailer location is added to our database.","operationId":"trailer_location_addedtrailer_location_added_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrailerLocationAdded"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"trailer_location.modified":{"post":{"tags":["Webhook Events"],"summary":"Trailer Location Modified","description":"Emitted when a trailer location is modified in our database.","operationId":"trailer_location_modifiedtrailer_location_modified_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TrailerLocationModified"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"ifta_summary.added":{"post":{"tags":["Webhook Events"],"summary":"Ifta Summary Added","description":"Emitted when a new IFTA summary is added to our database.\n\ne.g. The record fetched from the TSP is new and generated a new record in our database.","operationId":"ifta_summary_addedifta_summary_added_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IftaSummaryAdded"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"ifta_summary.modified":{"post":{"tags":["Webhook Events"],"summary":"Ifta Summary Modified","description":"Emitted when an IFTA summary is modified in our database.\n\ne.g. The record fetched from the TSP is different from what we had stored in our database and it prompted us to update the existing record.","operationId":"ifta_summary_modifiedifta_summary_modified_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IftaSummaryModified"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"ifta_summary.removed":{"post":{"tags":["Webhook Events"],"summary":"Ifta Summary Removed","description":"Emitted when an IFTA summary is removed from our database.\n\ne.g. The record was deleted from the TSP and we removed it from our database.","operationId":"ifta_summary_removedifta_summary_removed_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IftaSummaryRemoved"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_availability.added":{"post":{"tags":["Webhook Events"],"summary":"Hos Availability Added","description":"Emitted when a new HOS availability is added to our database.\n\ne.g. The record fetched from the TSP is new and generated a new record in our database.","operationId":"hos_availability_addedhos_availability_added_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosAvailabilityAdded"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_availability.modified":{"post":{"tags":["Webhook Events"],"summary":"Hos Availability Modified","description":"Emitted when an HOS availability is modified in our database.\n\ne.g. The record fetched from the TSP is different from what we had stored in our database and it prompted us to update the existing record.","operationId":"hos_availability_modifiedhos_availability_modified_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosAvailabilityModified"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_availability.removed":{"post":{"tags":["Webhook Events"],"summary":"Hos Availability Removed","description":"Emitted when an HOS availability is removed from our database.\n\ne.g. The record was deleted from the TSP and we removed it from our database.","operationId":"hos_availability_removedhos_availability_removed_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosAvailabilityRemoved"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_daily_snapshot.added":{"post":{"tags":["Webhook Events"],"summary":"Hos Daily Snapshot Added","description":"Emitted when a new HOS daily snapshot is added to our database.\n\ne.g. The record fetched from the TSP is new and generated a new record in our database.","operationId":"hos_daily_snapshot_addedhos_daily_snapshot_added_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosDailySnapshotAdded"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_daily_snapshot.modified":{"post":{"tags":["Webhook Events"],"summary":"Hos Daily Snapshot Modified","description":"Emitted when an HOS daily snapshot is modified in our database.\n\ne.g. The record fetched from the TSP is different from what we had stored in our database and it prompted us to update the existing record.","operationId":"hos_daily_snapshot_modifiedhos_daily_snapshot_modified_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosDailySnapshotModified"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_daily_snapshot.removed":{"post":{"tags":["Webhook Events"],"summary":"Hos Daily Snapshot Removed","description":"Emitted when an HOS daily snapshot is removed from our database.\n\ne.g. The record was deleted from the TSP and we removed it from our database.","operationId":"hos_daily_snapshot_removedhos_daily_snapshot_removed_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosDailySnapshotRemoved"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_event.added":{"post":{"tags":["Webhook Events"],"summary":"Hos Event Added","description":"Emitted when a new HOS event is added to our database.\n\ne.g. The record fetched from the TSP is new and generated a new record in our database.","operationId":"hos_event_addedhos_event_added_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosEventAdded"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_event.modified":{"post":{"tags":["Webhook Events"],"summary":"Hos Event Modified","description":"Emitted when an HOS event is modified in our database.\n\ne.g. The record fetched from the TSP is different from what we had stored in our database and it prompted us to update the existing record.","operationId":"hos_event_modifiedhos_event_modified_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosEventModified"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_event.removed":{"post":{"tags":["Webhook Events"],"summary":"Hos Event Removed","description":"Emitted when an HOS event is removed from our database.\n\ne.g. The record was deleted from the TSP and we removed it from our database.","operationId":"hos_event_removedhos_event_removed_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosEventRemoved"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_violation.added":{"post":{"tags":["Webhook Events"],"summary":"Hos Violation Added","description":"Emitted when a new HOS violation is added to our database.\n\ne.g. The record fetched from the TSP is new and generated a new record in our database.","operationId":"hos_violation_addedhos_violation_added_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosViolationAdded"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_violation.modified":{"post":{"tags":["Webhook Events"],"summary":"Hos Violation Modified","description":"Emitted when an HOS violation is modified in our database.\n\ne.g. The record fetched from the TSP is different from what we had stored in our database and it prompted us to update the existing record.","operationId":"hos_violation_modifiedhos_violation_modified_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosViolationModified"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"hos_violation.removed":{"post":{"tags":["Webhook Events"],"summary":"Hos Violation Removed","description":"Emitted when an HOS violation is removed from our database.\n\ne.g. The record was deleted from the TSP and we removed it from our database.","operationId":"hos_violation_removedhos_violation_removed_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HosViolationRemoved"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"tsp.created":{"post":{"tags":["Webhook Events"],"summary":"Tsp Created","description":"Emitted when a new TSP is created.","operationId":"tsp_createdtsp_created_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TspCreated"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"execution.failed":{"post":{"tags":["Webhook Events"],"summary":"Execution Failed","description":"Emitted when an execution fails.","operationId":"execution_failedexecution_failed_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutionFailed"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"execution.staled":{"post":{"tags":["Webhook Events"],"summary":"Execution Staled","description":"Emitted when an execution is staled.","operationId":"execution_staledexecution_staled_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutionStaled"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"schedule.deactivated":{"post":{"tags":["Webhook Events"],"summary":"Schedule Deactivated","description":"Emitted when a schedule is deactivated.","operationId":"schedule_deactivatedschedule_deactivated_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleDeactivated"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"fleet_connection.created":{"post":{"tags":["Webhook Events"],"summary":"Fleet Connection Created","description":"Emitted when a new fleet connection is created between a fleet and a connection.","operationId":"fleet_connection_createdfleet_connection_created_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FleetConnectionCreated"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"BadRequest":{"properties":{"code":{"type":"integer","title":"Code","default":400},"message":{"type":"string","title":"Message","default":"Bad Request"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"BadRequest"},"BaseConnectionEvent":{"properties":{"id":{"type":"string","format":"uuid","title":"Connection ID","description":"The ID of the connection"},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the source"},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The ID of the fleet"},"tsp_id":{"type":"string","format":"uuid","title":"TSP ID","description":"The ID of the Telematics Service Provider (TSP) at Catena"},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Connection Status","description":"The status of the connection, used to determine if the connection is active or stale."}},"type":"object","required":["id","source_name","fleet_id","tsp_id","status"],"title":"BaseConnectionEvent","description":"Base connection event."},"BaseExecutionEvent":{"properties":{"id":{"type":"string","format":"uuid","title":"Execution ID","description":"The ID of the execution"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"The date and time the execution was created"},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"The date and time the execution was last updated"},"schedule_id":{"type":"string","format":"uuid","title":"Schedule ID","description":"The ID of the schedule that triggered this execution"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The ID of the connection used for this execution"},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena ID of the fleet."},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Status","description":"The status of the execution"},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The TSP that is the source for this execution"},"resource":{"$ref":"#/components/schemas/ResourceEnum","title":"Resource","description":"The resource type being processed in this execution"}},"type":"object","required":["id","created_at","updated_at","schedule_id","connection_id","fleet_id","status","source_name","resource"],"title":"BaseExecutionEvent","description":"Base execution event."},"BaseFleetConnectionEvent":{"properties":{"id":{"type":"string","format":"uuid","title":"Fleet Connection ID","description":"The ID of the fleet connection"},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The ID of the fleet"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The ID of the connection"}},"type":"object","required":["id","fleet_id","connection_id"],"title":"BaseFleetConnectionEvent","description":"Base fleet_connection event."},"BaseHosAvailability":{"properties":{"id":{"type":"string","format":"uuid","title":"ID","description":"Internal unique identifier for the telematics event record (Catena PK)."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena fleet this record belongs to (multi-tenant scope)."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Ref","description":"The reference of the fleet in the partner system"},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the source"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The specific fleet↔TSP connection through which this record was sourced."},"source_id":{"type":"string","title":"Source ID","description":"The ID of the record in the TSP or a deterministic ID/Hash generated from a composite unique key"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Immutable: first time this record was ingested into our system."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Last time we modified this record in our system."},"deleted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Deleted At","description":"Logical delete marker: when the TSP stopped reporting this record."},"occurred_at":{"type":"string","format":"date-time","title":"Occurred At","description":"When the underlying event/observation occurred, as reported by the TSP, or the moment it was ingested by us if not available."},"execution_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Execution Id","description":"Identifier for the ingestion execution that processed this record (for tracing)."},"schedule_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Schedule Id","description":"Identifier for the ingestion schedule that triggered this record's processing (for tracing)."},"driver_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Driver Id","description":"Internal driver identifier (Catena FK)"},"vehicle_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Vehicle Id","description":"Internal vehicle identifier (Catena FK), if mapped"},"hos_ruleset_code":{"anyOf":[{"$ref":"#/components/schemas/HosRulesetCodeEnum"},{"type":"null"}],"description":"Normalized HOS ruleset code"},"duty_status_code":{"anyOf":[{"$ref":"#/components/schemas/DutyStatusCodeEnum"},{"type":"null"}],"description":"Normalized duty status: OFF (off-duty), SB (sleeper berth), D (driving), ON (on-duty), YM (yard move), PC (personal conveyance)"},"cycle_started_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Cycle Started At","description":"Start of the current cycle window"},"cycle_ends_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Cycle Ends At","description":"End of the current cycle window"},"available_drive_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Available Drive Seconds","description":"Integer seconds of driving time remaining in the current shift"},"available_shift_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Available Shift Seconds","description":"Integer seconds of on-duty/workday time remaining in the current shift"},"available_cycle_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Available Cycle Seconds","description":"Integer seconds remaining in the ruleset cycle window"},"available_tomorrow_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Available Tomorrow Seconds","description":"Forecasted available integer seconds for the following day"},"available_day2_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Available Day2 Seconds","description":"Forecasted available integer seconds two days out"},"available_day3_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Available Day3 Seconds","description":"Forecasted available integer seconds three days out"},"forecast_horizon_days":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Forecast Horizon Days","description":"Maximum forecast horizon included in this snapshot (days)"},"time_until_break_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Time Until Break Seconds","description":"Integer seconds until the next required break begins (e.g., 900 = 15 minutes). Use 0 if due now; null if not applicable or unknown."},"rest_remaining_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Rest Remaining Seconds","description":"Integer seconds remaining in the currently required rest window. Null if no rest is required or unknown."},"cycle_violation_duration_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cycle Violation Duration Seconds","description":"Integer seconds accrued beyond the ruleset cycle limit (violation duration). Use 0 if not in violation; null if unknown."},"shift_driving_violation_duration_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Shift Driving Violation Duration Seconds","description":"Integer seconds accrued beyond the shift driving limit (violation duration). Use 0 if not in violation; null if unknown."},"shift_ends_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Shift Ends At","description":"Projected end of the current shift/workday"},"next_break_due_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Next Break Due At","description":"Timestamp when the next required break must begin"},"next_10hr_reset_eligible_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Next 10Hr Reset Eligible At","description":"Earliest timestamp the driver can begin a 10-hour reset"},"next_34hr_reset_eligible_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Next 34Hr Reset Eligible At","description":"Earliest timestamp the driver can begin a 34-hour reset (US)"},"is_personal_conveyance_applied":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Personal Conveyance Applied","description":"True indicates whether personal conveyance is currently applied"},"is_yard_move_applied":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Yard Move Applied","description":"True indicates whether yard move is currently applied"},"is_adverse_driving_exemption_available":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Adverse Driving Exemption Available","description":"True indicates whether the adverse driving exemption is available"},"is_adverse_driving_applied":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Adverse Driving Applied","description":"True indicates whether the adverse driving exemption is currently applied"},"is_meal_break_required":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Meal Break Required","description":"True indicates whether the ruleset requires a meal break for this shift/day"},"meal_break_due_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Meal Break Due At","description":"Timestamp when the required meal break must start"},"meal_break_min_duration_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Meal Break Min Duration Seconds","description":"Minimum required meal/rest break duration (integer seconds)"},"meal_break_time_until_due_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Meal Break Time Until Due Seconds","description":"Integer seconds until the required meal break begins"},"is_split_sleep_applied":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Split Sleep Applied","description":"True indicates whether a split sleeper-berth period is currently in progress"},"is_sleeper_eligible":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Sleeper Eligible","description":"True indicates whether the active ruleset permits sleeper-berth split"},"sleeper_required_remaining_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Sleeper Required Remaining Seconds","description":"Integer seconds still required in sleeper to satisfy the split"},"sleeper_split_window_ends_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Sleeper Split Window Ends At","description":"Deadline by which the complementary sleeper-berth period must occur"},"is_cycle_applicable":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Cycle Applicable","description":"True indicates whether cycle limits constrain availability for this ruleset/snapshot"},"exception_codes":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Exception Codes","description":"List of active HOS exception codes"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Human-readable notes from TSP about clocks and exceptions"}},"type":"object","required":["id","fleet_id","fleet_ref","source_name","connection_id","source_id","created_at","updated_at","occurred_at"],"title":"BaseHosAvailability","description":"Base Hos availability event."},"BaseHosDailySnapshot":{"properties":{"id":{"type":"string","format":"uuid","title":"ID","description":"Internal unique identifier for the telematics event record (Catena PK)."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena fleet this record belongs to (multi-tenant scope)."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Ref","description":"The reference of the fleet in the partner system"},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the source"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The specific fleet↔TSP connection through which this record was sourced."},"source_id":{"type":"string","title":"Source ID","description":"The ID of the record in the TSP or a deterministic ID/Hash generated from a composite unique key"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Immutable: first time this record was ingested into our system."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Last time we modified this record in our system."},"deleted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Deleted At","description":"Logical delete marker: when the TSP stopped reporting this record."},"occurred_at":{"type":"string","format":"date-time","title":"Occurred At","description":"When the underlying event/observation occurred, as reported by the TSP, or the moment it was ingested by us if not available."},"execution_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Execution Id","description":"Identifier for the ingestion execution that processed this record (for tracing)."},"schedule_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Schedule Id","description":"Identifier for the ingestion schedule that triggered this record's processing (for tracing)."},"driver_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Driver Id","description":"Internal driver identifier (Catena FK)."},"snapshot_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Snapshot Date","description":"Local snapshot date at the driver's home terminal (RODS date)"},"duration_off_duty_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration Off Duty Seconds","description":"Total off-duty time for the local day (integer seconds)"},"duration_sleeper_berth_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration Sleeper Berth Seconds","description":"Total sleeper-berth time for the local day (integer seconds)"},"duration_on_duty_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration On Duty Seconds","description":"Total on-duty (not driving) time for the local day (integer seconds)"},"duration_driving_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration Driving Seconds","description":"Total driving time for the local day (integer seconds)"},"duration_personal_conveyance_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration Personal Conveyance Seconds","description":"Total personal conveyance (PC) time for the local day (integer seconds)"},"duration_yard_move_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration Yard Move Seconds","description":"Total yard move (YM) time for the local day (integer seconds)"},"duration_waiting_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration Waiting Seconds","description":"Total waiting time for the local day (integer seconds), if separately reported by the TSP"},"duration_unknown_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration Unknown Seconds","description":"Time not attributable to a known duty status (gaps/ambiguity), in integer seconds"},"duration_cycle_on_duty_seconds":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration Cycle On Duty Seconds","description":"Total on-duty (including driving) time since the last cycle reset (integer seconds)"}},"type":"object","required":["id","fleet_id","fleet_ref","source_name","connection_id","source_id","created_at","updated_at","occurred_at"],"title":"BaseHosDailySnapshot","description":"Base class for HOS daily snapshots."},"BaseHosEvent":{"properties":{"id":{"type":"string","format":"uuid","title":"ID","description":"Internal unique identifier for the telematics event record (Catena PK)."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena fleet this record belongs to (multi-tenant scope)."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Ref","description":"The reference of the fleet in the partner system"},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the source"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The specific fleet↔TSP connection through which this record was sourced."},"source_id":{"type":"string","title":"Source ID","description":"The ID of the record in the TSP or a deterministic ID/Hash generated from a composite unique key"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Immutable: first time this record was ingested into our system."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Last time we modified this record in our system."},"deleted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Deleted At","description":"Logical delete marker: when the TSP stopped reporting this record."},"occurred_at":{"type":"string","format":"date-time","title":"Occurred At","description":"When the underlying event/observation occurred, as reported by the TSP, or the moment it was ingested by us if not available."},"execution_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Execution Id","description":"Identifier for the ingestion execution that processed this record (for tracing)."},"schedule_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Schedule Id","description":"Identifier for the ingestion schedule that triggered this record's processing (for tracing)."},"driver_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Driver Id","description":"Internal driver identifier (Catena FK)."},"vehicle_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Vehicle Id","description":"Internal vehicle identifier (Catena FK)."},"co_driver_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Co Driver Id","description":"Internal co-driver identifier (Catena FK), if present."},"additional_driver_ids":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Additional Driver Ids","description":"Array/object of additional internal driver IDs beyond co-driver"},"started_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Started At","description":"Timestamp when the event interval begins (UTC). For point events, set equal to ended_at."},"ended_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Ended At","description":"Timestamp when the event interval ends (UTC). For point events, may equal started_at."},"driver_last_edit_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Driver Last Edit At","description":"Timestamp of the driver's last edit to this record as reported by the TSP (UTC)."},"driver_certified_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Driver Certified At","description":"Timestamp when the driver certified/attested to this record (UTC)."},"hos_ruleset_code":{"anyOf":[{"$ref":"#/components/schemas/HosRulesetCodeEnum"},{"type":"null"}],"description":"Driver's HOS cycle Ruleset code (normalized)."},"time_zone_code":{"anyOf":[{"$ref":"#/components/schemas/TimezoneCodeEnum"},{"type":"null"}],"description":"IANA time zone ID used by the vendor for this log (e.g., America/Chicago)."},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Event remarks/notes (flattened plain text)."},"duty_status_code":{"anyOf":[{"$ref":"#/components/schemas/DutyStatusCodeEnum"},{"type":"null"}],"description":"Canonical duty status: OFF (off-duty), SB (sleeper berth), D (driving), ON (on-duty), PC (personal conveyance), YM (yard move), INT (interruption), WT (waiting)."},"event_type_code":{"anyOf":[{"$ref":"#/components/schemas/HosEventTypeCodeEnum"},{"type":"null"}],"description":"Vendor-specific event type label."},"event_code":{"anyOf":[{"$ref":"#/components/schemas/HosEventCodeEnum"},{"type":"null"}],"description":"Vendor compliance code (e.g., Geotab Table 6 EventCode)."},"log_state_code":{"anyOf":[{"$ref":"#/components/schemas/HosRecordStatusCodeEnum"},{"type":"null"}],"description":"Vendor log state (e.g., ACTIVE, INACTIVE, CHANGED)."},"log_origin_code":{"anyOf":[{"$ref":"#/components/schemas/HosRecordOriginCodeEnum"},{"type":"null"}],"description":"Origin of the log entry (e.g., AUTOMATIC, MANUAL)."},"deferral_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Deferral Status","description":"Canadian deferral status, if applicable (e.g., DAY1, DAY2)."},"deferral_minutes":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Deferral Minutes","description":"Minutes deferred under Canadian deferral rules, if applicable."},"eld_malfunction_code":{"anyOf":[{"$ref":"#/components/schemas/HosMalfunctionCodeEnum"},{"type":"null"}],"description":"Vendor-reported ELD malfunction code related to HOS"},"is_excluded":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Excluded","description":"Indicates whether this event should be excluded from compliance calculations."},"is_transitioning":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Transitioning","description":"Transitional state flag for in-progress vendor updates (default false).","default":false},"record_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Record Status","description":"Vendor record status (e.g., active, inactive, changed).","default":"active"},"region_code":{"anyOf":[{"$ref":"#/components/schemas/HosRegionCodeEnum"},{"type":"null"}],"description":"Normalized state/province code (e.g., US-CA, CA-ON)."},"location_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location Name","description":"Human-readable location string (e.g., 'Denver, CO')."},"location":{"anyOf":[{"$ref":"#/components/schemas/Point"},{"type":"null"}],"description":"Geographic point of the event (lat/lng, SRID 4326; GeoJSON Point or WKB/EWKB)."},"h3_index_11":{"anyOf":[{"type":"integer"},{"type":"null"}],"format":"int64","title":"H3 Index 11","description":"H3 geospatial index (resolution 11) derived from the event location."},"odometer":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Odometer","description":"Odometer reading at the event (kilometers)."},"engine_hours":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Engine Hours","description":"Engine hours at the event (as reported by the vendor)."},"sequence":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sequence","description":"Vendor sequencing token for ETL ordering/debugging (not end-user facing)."},"version":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Version","description":"Vendor payload/version tag for ETL idempotency/debugging (not end-user facing)."}},"type":"object","required":["id","fleet_id","fleet_ref","source_name","connection_id","source_id","created_at","updated_at","occurred_at"],"title":"BaseHosEvent","description":"Base class for HOS events."},"BaseHosViolation":{"properties":{"id":{"type":"string","format":"uuid","title":"ID","description":"Internal unique identifier for the telematics event record (Catena PK)."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena fleet this record belongs to (multi-tenant scope)."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Ref","description":"The reference of the fleet in the partner system"},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the source"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The specific fleet↔TSP connection through which this record was sourced."},"source_id":{"type":"string","title":"Source ID","description":"The ID of the record in the TSP or a deterministic ID/Hash generated from a composite unique key"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Immutable: first time this record was ingested into our system."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Last time we modified this record in our system."},"deleted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Deleted At","description":"Logical delete marker: when the TSP stopped reporting this record."},"occurred_at":{"type":"string","format":"date-time","title":"Occurred At","description":"When the underlying event/observation occurred, as reported by the TSP, or the moment it was ingested by us if not available."},"execution_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Execution Id","description":"Identifier for the ingestion execution that processed this record (for tracing)."},"schedule_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Schedule Id","description":"Identifier for the ingestion schedule that triggered this record's processing (for tracing)."},"hos_event_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Hos Event Id","description":"Internal identifier of the related HOS log entry (Catena FK)."},"driver_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Driver Id","description":"Internal driver identifier (Catena FK)."},"source_driver_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Driver Id","description":"External source system driver identifier (from the TSP)."},"source_hos_event_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Hos Event Id","description":"External source system HOS event identifier (from the TSP)."},"violation_code":{"anyOf":[{"$ref":"#/components/schemas/HosViolationCodeEnum"},{"type":"null"}],"description":"Standardized code of the violated HOS rule (normalized, e.g., 'HOS_11H', 'HOS_14H', 'REST')."},"violation_category":{"anyOf":[{"$ref":"#/components/schemas/HosViolationCategoryEnum"},{"type":"null"}],"description":"Normalized violation category for analytics/reporting (e.g., 'DRIVING_HOURS', 'WORKDAY', 'REST')."},"violation_description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Violation Description","description":"Human-readable description of the violation."},"start_time":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Start Time","description":"Timestamp when the violation began (UTC)."},"end_time":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"End Time","description":"Timestamp when the violation ended, if applicable (UTC)."},"duration":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Duration","description":"Total violation duration (integer seconds)."},"hours_limit":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Hours Limit","description":"Regulatory limit/threshold for the violated rule (hours)."}},"type":"object","required":["id","fleet_id","fleet_ref","source_name","connection_id","source_id","created_at","updated_at","occurred_at"],"title":"BaseHosViolation","description":"Base Hos violation event."},"BaseIftaSummary":{"properties":{"id":{"type":"string","format":"uuid","title":"ID","description":"Internal unique identifier for the telematics event record (Catena PK)."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena fleet this record belongs to (multi-tenant scope)."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Ref","description":"The reference of the fleet in the partner system"},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the source"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The specific fleet↔TSP connection through which this record was sourced."},"source_id":{"type":"string","title":"Source ID","description":"The ID of the record in the TSP or a deterministic ID/Hash generated from a composite unique key"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Immutable: first time this record was ingested into our system."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Last time we modified this record in our system."},"deleted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Deleted At","description":"Logical delete marker: when the TSP stopped reporting this record."},"occurred_at":{"type":"string","format":"date-time","title":"Occurred At","description":"When the underlying event/observation occurred, as reported by the TSP, or the moment it was ingested by us if not available."},"execution_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Execution Id","description":"Identifier for the ingestion execution that processed this record (for tracing)."},"schedule_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Schedule Id","description":"Identifier for the ingestion schedule that triggered this record's processing (for tracing)."},"vehicle_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Vehicle Id","description":"Internal vehicle identifier (Catena FK)."},"source_vehicle_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Vehicle Id","description":"External source system vehicle identifier (from the TSP)."},"month":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Month","description":"Reporting month for the IFTA period (1-12, calendar month)."},"year":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Year","description":"Reporting year for the IFTA period (four-digit year, e.g., 2025)."}},"type":"object","required":["id","fleet_id","fleet_ref","source_name","connection_id","source_id","created_at","updated_at","occurred_at"],"title":"BaseIftaSummary","description":"Base IFTA summary event."},"BaseInvitationEvent":{"properties":{"id":{"type":"string","format":"uuid","title":"Invitation ID","description":"The ID of the invitation"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"The date and time the invitation was created"},"magic_link":{"type":"string","title":"Magic Link","description":"The magic link to accept the invitation."},"expires_at":{"type":"string","format":"date-time","title":"Expires At","description":"The date and time the magic link expires."},"expires_in_hours":{"type":"integer","title":"Expires In Hours","description":"The number of hours until the magic link expires."},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Status","description":"The status of the invitation."},"partner_provided_fleet_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Name","description":"The name of the fleet as known by the partner"},"accepted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Accepted At","description":"The date and time the invitation was accepted."},"pre_registration_access_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Pre-Registration Access Token","description":"The access token for pre-registration."},"pre_registration_refresh_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Pre-Registration Refresh Token","description":"The refresh token for pre-registration."},"success_redirect_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Success Redirect URL","description":"The URL to redirect the user to after accepting the invitation successfully"},"failure_redirect_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Failure Redirect URL","description":"The URL to redirect the user to after accepting the invitation unsuccessfully"},"callback_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Callback URL","description":"The URL to send webhook callbacks to"},"limit_tsps":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Limit TSPs","description":"The list of TSPs that the fleet is allowed to connect during onboarding. If not provided, all TSPs are allowed."},"fleet_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Fleet ID","description":"The Catena ID of the fleet."},"partner_slug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Partner Slug","description":"The slug of the partner that owns the invitation"},"partner_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Partner ID","description":"The ID of the partner that owns the invitation"},"decline_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Decline Reason","description":"The reason the invitation was declined."},"declined_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Declined At","description":"The date and time the invitation was declined."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Reference","description":"The reference of the fleet in the partner system"}},"type":"object","required":["id","created_at","magic_link","expires_at","expires_in_hours","status"],"title":"BaseInvitationEvent","description":"Base invitation event."},"BaseScheduleEvent":{"properties":{"id":{"type":"string","format":"uuid","title":"Schedule ID","description":"The ID of the schedule"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The ID of the connection used for this schedule"},"resource":{"$ref":"#/components/schemas/ResourceEnum","title":"Resource","description":"The resource type being scheduled for processing"},"execution_interval_seconds":{"type":"integer","title":"Execution Interval Seconds","description":"The interval in seconds between executions"},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Status","description":"The status of the schedule"},"consecutive_error_threshold":{"type":"integer","title":"Consecutive Error Threshold","description":"The threshold for consecutive errors before marking as failed"},"max_concurrent_executions":{"type":"integer","title":"Max Concurrent Executions","description":"The maximum number of concurrent executions allowed"}},"type":"object","required":["id","connection_id","resource","execution_interval_seconds","status","consecutive_error_threshold","max_concurrent_executions"],"title":"BaseScheduleEvent","description":"Base schedule event."},"BaseShareAgreementEvent":{"properties":{"id":{"type":"string","format":"uuid","title":"Share Agreement ID","description":"The ID of the share agreement"},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena ID of the fleet."},"partner_id":{"type":"string","format":"uuid","title":"Partner ID","description":"The Catena ID of the partner."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Reference","description":"The reference of the fleet in the partner system"},"invitation_id":{"type":"string","format":"uuid","title":"Invitation ID","description":"The ID of the invitation that created the share agreement"},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Status","description":"The status of the share agreement"},"effective_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Effective Date","description":"The date and time the share agreement became effective"},"expiration_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Expiration Date","description":"The date and time the share agreement will expire"},"scopes":{"additionalProperties":{"type":"string"},"type":"object","title":"Scopes","description":"The scopes/resources that are shared between the fleet and the partner","examples":[{"user":"read_write","vehicle":"read","vehicle_location":"read"},{"vehicle":"read"}]}},"type":"object","required":["id","fleet_id","partner_id","invitation_id","status","scopes"],"title":"BaseShareAgreementEvent","description":"Base share agreement event."},"BaseTelematicsEvent":{"properties":{"id":{"type":"string","format":"uuid","title":"ID","description":"Internal unique identifier for the telematics event record (Catena PK)."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena fleet this record belongs to (multi-tenant scope)."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Ref","description":"The reference of the fleet in the partner system"},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the source"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The specific fleet↔TSP connection through which this record was sourced."},"source_id":{"type":"string","title":"Source ID","description":"The ID of the record in the TSP or a deterministic ID/Hash generated from a composite unique key"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Immutable: first time this record was ingested into our system."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Last time we modified this record in our system."},"deleted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Deleted At","description":"Logical delete marker: when the TSP stopped reporting this record."},"occurred_at":{"type":"string","format":"date-time","title":"Occurred At","description":"When the underlying event/observation occurred, as reported by the TSP, or the moment it was ingested by us if not available."},"execution_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Execution Id","description":"Identifier for the ingestion execution that processed this record (for tracing)."},"schedule_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Schedule Id","description":"Identifier for the ingestion schedule that triggered this record's processing (for tracing)."}},"type":"object","required":["id","fleet_id","fleet_ref","source_name","connection_id","source_id","created_at","updated_at","occurred_at"],"title":"BaseTelematicsEvent","description":"Base telematics event."},"BaseTrailer":{"properties":{"id":{"type":"string","format":"uuid","title":"ID","description":"Internal unique identifier for the telematics event record (Catena PK)."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena fleet this record belongs to (multi-tenant scope)."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Ref","description":"The reference of the fleet in the partner system"},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the source"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The specific fleet↔TSP connection through which this record was sourced."},"source_id":{"type":"string","title":"Source ID","description":"The ID of the record in the TSP or a deterministic ID/Hash generated from a composite unique key"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Immutable: first time this record was ingested into our system."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Last time we modified this record in our system."},"deleted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Deleted At","description":"Logical delete marker: when the TSP stopped reporting this record."},"occurred_at":{"type":"string","format":"date-time","title":"Occurred At","description":"When the underlying event/observation occurred, as reported by the TSP, or the moment it was ingested by us if not available."},"execution_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Execution Id","description":"Identifier for the ingestion execution that processed this record (for tracing)."},"schedule_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Schedule Id","description":"Identifier for the ingestion schedule that triggered this record's processing (for tracing)."},"vehicle_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Vehicle Name","description":"Display name or unit number for the trailer."},"oem":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Oem","description":"Manufacturer (OEM) of the trailer."},"model_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Model Type","description":"Manufacturer model or type designation."},"model_year":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Model Year","description":"Model year (four-digit, e.g., 2022)."},"vin":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Vin","description":"Vehicle Identification Number (VIN), typically 17 characters; if available."},"license_plate_region":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"License Plate Region","description":"Plate region/subdivision (state/province code, e.g., 'CA', 'ON')."},"license_plate_country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"License Plate Country","description":"Plate country code (ISO-3166-1 alpha-2, e.g., 'US', 'CA')."},"started_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Started At","description":"Timestamp when this vehicle record became active/in service (UTC)."},"ended_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Ended At","description":"Timestamp when this vehicle record ended/out of service (UTC)."},"is_active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active","description":"Indicates whether the vehicle is currently active/in service."},"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status","description":"Operational status label (e.g., 'IN_SERVICE', 'OUT_OF_SERVICE', 'MAINTENANCE')."},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Free-text notes about the vehicle (plain text)."},"eld_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Eld Id","description":"Telematics/ELD device identifier associated with this vehicle, if any."},"eld_serial_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Eld Serial Number","description":"Telematics/ELD device serial number, if any."},"eld_device_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Eld Device Type","description":"Telematics/ELD device type or model family (vendor-specific)."},"eld_product_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Eld Product Id","description":"Telematics/ELD vendor product identifier (catalog/model code)."},"total_axles":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total Axles","description":"Total number of axles on the trailer."},"trailer_groups":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Trailer Groups","description":"JSON map of group memberships/tags for this trailer (segmentation/permissions)."},"external_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"External Id","description":"External trailer identifier as known in the TSP or customer's system."},"trailer_length":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Trailer Length","description":"Length of the trailer."},"trailer_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Trailer Type","description":"Body type/classification (e.g., Dry Van, Reefer, Flatbed, Tanker, Chassis)."}},"type":"object","required":["id","fleet_id","fleet_ref","source_name","connection_id","source_id","created_at","updated_at","occurred_at"],"title":"BaseTrailer","description":"Base trailer event."},"BaseTrailerLocation":{"properties":{"id":{"type":"string","format":"uuid","title":"ID","description":"Internal unique identifier for the telematics event record (Catena PK)."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena fleet this record belongs to (multi-tenant scope)."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Ref","description":"The reference of the fleet in the partner system"},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the source"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The specific fleet↔TSP connection through which this record was sourced."},"source_id":{"type":"string","title":"Source ID","description":"The ID of the record in the TSP or a deterministic ID/Hash generated from a composite unique key"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Immutable: first time this record was ingested into our system."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Last time we modified this record in our system."},"deleted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Deleted At","description":"Logical delete marker: when the TSP stopped reporting this record."},"occurred_at":{"type":"string","format":"date-time","title":"Occurred At","description":"When the underlying event/observation occurred, as reported by the TSP, or the moment it was ingested by us if not available."},"execution_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Execution Id","description":"Identifier for the ingestion execution that processed this record (for tracing)."},"schedule_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Schedule Id","description":"Identifier for the ingestion schedule that triggered this record's processing (for tracing)."},"trailer_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Trailer Id","description":"Internal trailer identifier (Catena FK)."},"source_trailer_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source Trailer Id","description":"External source system trailer identifier (from the TSP)."},"location":{"anyOf":[{"$ref":"#/components/schemas/Point"},{"type":"null"}],"description":"Location encoded as GeoJSON Point"},"h3_index_11":{"anyOf":[{"type":"integer"},{"type":"null"}],"format":"int64","title":"H3 Index 11","description":"H3 index (res 11) derived from location"}},"type":"object","required":["id","fleet_id","fleet_ref","source_name","connection_id","source_id","created_at","updated_at","occurred_at"],"title":"BaseTrailerLocation","description":"Base Trailer location event."},"BaseTspEvent":{"properties":{"id":{"type":"string","format":"uuid","title":"TSP ID","description":"The ID of the TSP"},"name":{"type":"string","title":"TSP Name","description":"The name of the TSP"}},"type":"object","required":["id","name"],"title":"BaseTspEvent","description":"Base TSP event."},"BaseUser":{"properties":{"id":{"type":"string","format":"uuid","title":"ID","description":"Internal unique identifier for the telematics event record (Catena PK)."},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena fleet this record belongs to (multi-tenant scope)."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Ref","description":"The reference of the fleet in the partner system"},"source_name":{"$ref":"#/components/schemas/TspEnum","title":"Source Name","description":"The name of the source"},"connection_id":{"type":"string","format":"uuid","title":"Connection ID","description":"The specific fleet↔TSP connection through which this record was sourced."},"source_id":{"type":"string","title":"Source ID","description":"The ID of the record in the TSP or a deterministic ID/Hash generated from a composite unique key"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Immutable: first time this record was ingested into our system."},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Last time we modified this record in our system."},"deleted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Deleted At","description":"Logical delete marker: when the TSP stopped reporting this record."},"occurred_at":{"type":"string","format":"date-time","title":"Occurred At","description":"When the underlying event/observation occurred, as reported by the TSP, or the moment it was ingested by us if not available."},"execution_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Execution Id","description":"Identifier for the ingestion execution that processed this record (for tracing)."},"schedule_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"nu
[...]
