openapi: 3.1.0
info:
  description: Notifications Service REST API.
  title: Notifications Service - REST API
  version: 0.1.0
servers:
- description: Catena Telematics API
  url: https://api.catenatelematics.com
tags:
- description: Create and manage webhooks to subscribe to events and receive notifications
    when they occur.
  name: Webhook Subscriptions
- description: Get the OpenAPI 3.0 schema for our versioned webhook events.
  name: Webhook Event Schemas
- description: View available webhook events.
  name: Webhook Events
paths:
  /v2/notifications/webhooks/{webhook_id}:
    delete:
      description: Delete a webhook subscription.
      operationId: delete_webhook_subscription
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          title: Webhook Id
          type: string
        style: simple
      responses:
        "204":
          description: Webhook subscription successfully deleted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer:
        - webhook:delete
      summary: Delete Webhook Subscription
      tags:
      - Webhook Subscriptions
    get:
      description: Get detailed information about a specific webhook.
      operationId: get_webhook_subscription
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          title: Webhook Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer:
        - webhook:read
      summary: Get Webhook Subscription
      tags:
      - Webhook Subscriptions
    patch:
      description: Update a webhook subscription.
      operationId: update_webhook_subscription
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          title: Webhook Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer:
        - webhook:update
      summary: Update Webhook Subscription
      tags:
      - Webhook Subscriptions
  /v2/notifications/webhooks:
    get:
      description: Get a paginated list of webhooks for your organization.
      operationId: list_webhook_subscriptions
      parameters:
      - explode: true
        in: query
        name: event_name
        required: false
        schema:
          $ref: '#/components/schemas/WebhookEventNameEnum'
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/WebhookStatusEnum'
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_WebhookRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer:
        - webhook:read
      summary: List Webhook Subscriptions
      tags:
      - Webhook Subscriptions
    post:
      description: Create a new webhook subscription.
      operationId: create_webhook_subscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_Create_Webhook_Subscription'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer:
        - webhook:create
      summary: Create Webhook Subscription
      tags:
      - Webhook Subscriptions
      x-mint:
        content: "<Info>If the event name ends with \".*\", it is a catch-all pattern.\
          \ The API will create one webhook subscription for each action of that resource\
          \ and return a list of webhooks.</Info>"
  /v2/notifications/webhooks/{webhook_id}/activate:
    post:
      description: Activate a webhook subscription.
      operationId: activate_webhook_subscription
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          title: Webhook Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer:
        - webhook:update
      summary: Activate Webhook Subscription
      tags:
      - Webhook Subscriptions
  /v2/notifications/webhooks/{webhook_id}/pause:
    post:
      description: Pause a webhook subscription.
      operationId: pause_webhook_subscription
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          title: Webhook Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer:
        - webhook:update
      summary: Pause Webhook Subscription
      tags:
      - Webhook Subscriptions
  /v2/notifications/webhooks/{webhook_id}/metrics:
    get:
      description: Get delivery metrics for a webhook subscription.
      operationId: get_webhook_subscription_metrics
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          title: Webhook Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookMetrics'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer:
        - webhook:read
      summary: Get Webhook Subscription Metrics
      tags:
      - Webhook Subscriptions
  /v2/notifications/webhooks/{webhook_id}/replay:
    post:
      description: Replay undelivered messages from the webhook dead letter queue.
      operationId: replay_undelivered_messages_from_dlq
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          title: Webhook Id
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer:
        - webhook:create
      summary: Replay Undelivered Messages From Dlq
      tags:
      - Webhook Subscriptions
  /v2/notifications/webhooks/{webhook_id}/logs:
    get:
      description: Get delivery logs for a webhook subscription.
      operationId: get_webhook_subscription_logs
      parameters:
      - explode: false
        in: path
        name: webhook_id
        required: true
        schema:
          format: uuid
          title: Webhook Id
          type: string
        style: simple
      - explode: true
        in: query
        name: start_date
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: end_date
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - success
          - failed
          nullable: true
          type: string
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_WebhookLogRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer:
        - webhook:read
      summary: Get Webhook Subscription Logs
      tags:
      - Webhook Subscriptions
      x-mint:
        content: <Warning>Logs are only available for the last 14 days.</Warning>
  /v2/notifications/schemas/{event_name}:
    get:
      description: Get detailed information about a specific webhook event schema.
      operationId: get_event_schema
      parameters:
      - explode: false
        in: path
        name: event_name
        required: true
        schema:
          title: Event Name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer: []
      summary: Get Event Schema
      tags:
      - Webhook Event Schemas
  /v2/notifications/schemas/{event_name}/versions/{version}:
    get:
      description: Get detailed information about a specific webhook event schema
        by its name and version.
      operationId: get_event_schema_versions
      parameters:
      - explode: false
        in: path
        name: event_name
        required: true
        schema:
          title: Event Name
          type: string
        style: simple
      - explode: false
        in: path
        name: version
        required: true
        schema:
          title: Version
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSchema'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
      security:
      - Bearer: []
      summary: Get Event Schema Version
      tags:
      - Webhook Event Schemas
components:
  schemas:
    BadRequest:
      example:
        code: 0
        detail: detail
        message: Bad Request
      properties:
        code:
          default: 400
          title: Code
          type: integer
        message:
          default: Bad Request
          title: Message
          type: string
        detail:
          nullable: true
          type: string
      title: BadRequest
    BaseConnectionEvent:
      description: Base connection event.
      example:
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_name: ada
        status: active
      properties:
        id:
          description: The ID of the connection
          format: uuid
          title: Connection ID
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        fleet_id:
          description: The ID of the fleet
          format: uuid
          title: Fleet ID
          type: string
        tsp_id:
          description: The ID of the Telematics Service Provider (TSP) at Catena
          format: uuid
          title: TSP ID
          type: string
        status:
          $ref: '#/components/schemas/StatusEnum'
      required:
      - fleet_id
      - id
      - source_name
      - status
      - tsp_id
      title: BaseConnectionEvent
    BaseDriverVehicleAssociation:
      description: Base driver-vehicle association event.
      example:
        driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_ref: fleet_ref
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        deleted_at: 2000-01-23T04:56:07.000+00:00
        occurred_at: 2000-01-23T04:56:07.000+00:00
        source_driver_id: source_driver_id
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_id: source_id
        tsp_slug: tsp_slug
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        vehicle_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_name: ada
        source_vehicle_id: source_vehicle_id
        is_primary_driver: true
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        driver_id:
          format: uuid
          nullable: true
          type: string
        vehicle_id:
          format: uuid
          nullable: true
          type: string
        source_driver_id:
          nullable: true
          type: string
        source_vehicle_id:
          nullable: true
          type: string
        is_primary_driver:
          nullable: true
          type: boolean
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseDriverVehicleAssociation
    BaseDvirLog:
      description: Base class for DVIR logs.
      example:
        source_trailer_id: source_trailer_id
        driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        h3_index_11: 5
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        engine_hours: 5.962133916683182
        defect_count: 2
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        log_type: pre_trip
        updated_at: 2000-01-23T04:56:07.000+00:00
        is_safety_critical: true
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tsp_slug: tsp_slug
        vehicle_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_name: ada
        duration_seconds: 0.8008281904610115
        odometer_km: 6.027456183070403
        fleet_ref: fleet_ref
        driver_comment: driver_comment
        odometer: 1.4658129805029452
        certify_comment: certify_comment
        deleted_at: 2000-01-23T04:56:07.000+00:00
        version: version
        occurred_at: 2000-01-23T04:56:07.000+00:00
        source_driver_id: source_driver_id
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        authority_address: authority_address
        trailer_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        defects:
        - fluid_levels
        - fluid_levels
        location:
          bbox:
          - ""
          - ""
          - ""
          - ""
          coordinates:
          - ""
          - ""
          type: Point
        source_id: source_id
        authority_name: authority_name
        inspected_by: inspected_by
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_vehicle_id: source_vehicle_id
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        vehicle_id:
          format: uuid
          nullable: true
          type: string
        driver_id:
          format: uuid
          nullable: true
          type: string
        trailer_id:
          format: uuid
          nullable: true
          type: string
        source_driver_id:
          nullable: true
          type: string
        source_vehicle_id:
          nullable: true
          type: string
        source_trailer_id:
          nullable: true
          type: string
        log_type:
          $ref: '#/components/schemas/DvirLogTypeEnum'
        authority_name:
          nullable: true
          type: string
        authority_address:
          nullable: true
          type: string
        duration_seconds:
          nullable: true
          type: number
        odometer_km:
          nullable: true
          type: number
        odometer:
          nullable: true
          type: number
        engine_hours:
          nullable: true
          type: number
        location:
          $ref: '#/components/schemas/Point'
        h3_index_11:
          nullable: true
          type: integer
        inspected_by:
          nullable: true
          type: string
        certify_comment:
          nullable: true
          type: string
        driver_comment:
          nullable: true
          type: string
        defect_count:
          nullable: true
          type: integer
        version:
          nullable: true
          type: string
        defects:
          items:
            $ref: '#/components/schemas/DvirDefectEnum'
          nullable: true
          type: array
        is_safety_critical:
          nullable: true
          type: boolean
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseDvirLog
    BaseEngineLog:
      description: Base class for Engine logs.
      example:
        driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        co_driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        mil_status: true
        updated_at: 2000-01-23T04:56:07.000+00:00
        canonical_code: ABS_WHEEL_SENSOR_ABNORMAL_RATE_OF_CHANGE
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fault_code_description: fault_code_description
        tsp_slug: tsp_slug
        vehicle_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_name: ada
        fleet_ref: fleet_ref
        fault_code_source: J1708
        engine_status: true
        source_co_driver_id: source_co_driver_id
        deleted_at: 2000-01-23T04:56:07.000+00:00
        occurred_at: 2000-01-23T04:56:07.000+00:00
        source_driver_id: source_driver_id
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_id: source_id
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fault_code:
          key: ""
        source_vehicle_id: source_vehicle_id
        status: active
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        vehicle_id:
          format: uuid
          nullable: true
          type: string
        driver_id:
          format: uuid
          nullable: true
          type: string
        co_driver_id:
          format: uuid
          nullable: true
          type: string
        source_driver_id:
          nullable: true
          type: string
        source_vehicle_id:
          nullable: true
          type: string
        source_co_driver_id:
          nullable: true
          type: string
        fault_code_source:
          $ref: '#/components/schemas/FaultCodeSourceEnum'
        fault_code:
          additionalProperties: {}
          nullable: true
        fault_code_description:
          nullable: true
          type: string
        canonical_code:
          $ref: '#/components/schemas/CanonicalFaultCodeEnum'
        status:
          $ref: '#/components/schemas/StatusEnum'
        engine_status:
          nullable: true
          type: boolean
        mil_status:
          nullable: true
          type: boolean
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseEngineLog
    BaseEngineStatus:
      description: Base engine status event.
      example:
        driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        inferred_address:
          country_code: country_code
          province: province
          city: city
        h3_index_11: 0
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        co_driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tsp_slug: tsp_slug
        vehicle_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_name: ada
        fleet_ref: fleet_ref
        engine_status: "OFF"
        source_co_driver_id: source_co_driver_id
        deleted_at: 2000-01-23T04:56:07.000+00:00
        occurred_at: 2000-01-23T04:56:07.000+00:00
        source_driver_id: source_driver_id
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        location:
          bbox:
          - ""
          - ""
          - ""
          - ""
          coordinates:
          - ""
          - ""
          type: Point
        source_id: source_id
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_vehicle_id: source_vehicle_id
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        vehicle_id:
          format: uuid
          nullable: true
          type: string
        driver_id:
          format: uuid
          nullable: true
          type: string
        co_driver_id:
          format: uuid
          nullable: true
          type: string
        source_driver_id:
          nullable: true
          type: string
        source_vehicle_id:
          nullable: true
          type: string
        source_co_driver_id:
          nullable: true
          type: string
        location:
          $ref: '#/components/schemas/Point'
        h3_index_11:
          nullable: true
          type: integer
        inferred_address:
          $ref: '#/components/schemas/InferredAddress'
        engine_status:
          $ref: '#/components/schemas/EngineStatusEnum'
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseEngineStatus
    BaseExecutionEvent:
      description: Base execution event.
      example:
        updated_at: 2000-01-23T04:56:07.000+00:00
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        resource: asset
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_name: ada
        status: active
      properties:
        id:
          description: The ID of the execution
          format: uuid
          title: Execution ID
          type: string
        created_at:
          description: The date and time the execution was created
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: The date and time the execution was last updated
          format: date-time
          title: Updated At
          type: string
        schedule_id:
          description: The ID of the schedule that triggered this execution
          format: uuid
          title: Schedule ID
          type: string
        connection_id:
          description: The ID of the connection used for this execution
          format: uuid
          title: Connection ID
          type: string
        fleet_id:
          description: The Catena ID of the fleet.
          format: uuid
          title: Fleet ID
          type: string
        status:
          $ref: '#/components/schemas/StatusEnum'
        source_name:
          $ref: '#/components/schemas/TspEnum'
        resource:
          $ref: '#/components/schemas/ResourceEnum'
      required:
      - connection_id
      - created_at
      - fleet_id
      - id
      - resource
      - schedule_id
      - source_name
      - status
      - updated_at
      title: BaseExecutionEvent
    BaseFleetConnectionEvent:
      description: Base fleet_connection event.
      example:
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          description: The ID of the fleet connection
          format: uuid
          title: Fleet Connection ID
          type: string
        fleet_id:
          description: The ID of the fleet
          format: uuid
          title: Fleet ID
          type: string
        connection_id:
          description: The ID of the connection
          format: uuid
          title: Connection ID
          type: string
      required:
      - connection_id
      - fleet_id
      - id
      title: BaseFleetConnectionEvent
    BaseFuelTransaction:
      description: Base class for Fuel transactions.
      example:
        driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        inferred_address:
          country_code: country_code
          province: province
          city: city
        total_cost: 5.962133916683182
        h3_index_11: 0
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        fuel_volume: 1.4658129805029452
        fuel_vendor: fuel_vendor
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        co_driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        currency: currency
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fuel_type: GASOLINE
        tsp_slug: tsp_slug
        vehicle_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_name: ada
        fleet_ref: fleet_ref
        odometer: 6.027456183070403
        source_co_driver_id: source_co_driver_id
        deleted_at: 2000-01-23T04:56:07.000+00:00
        occurred_at: 2000-01-23T04:56:07.000+00:00
        source_driver_id: source_driver_id
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        location:
          bbox:
          - ""
          - ""
          - ""
          - ""
          coordinates:
          - ""
          - ""
          type: Point
        source_id: source_id
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_vehicle_id: source_vehicle_id
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        vehicle_id:
          format: uuid
          nullable: true
          type: string
        driver_id:
          format: uuid
          nullable: true
          type: string
        co_driver_id:
          format: uuid
          nullable: true
          type: string
        source_driver_id:
          nullable: true
          type: string
        source_vehicle_id:
          nullable: true
          type: string
        source_co_driver_id:
          nullable: true
          type: string
        location:
          $ref: '#/components/schemas/Point'
        h3_index_11:
          nullable: true
          type: integer
        inferred_address:
          $ref: '#/components/schemas/InferredAddress'
        odometer:
          nullable: true
          type: number
        fuel_type:
          $ref: '#/components/schemas/EngineType'
        fuel_volume:
          nullable: true
          type: number
        fuel_vendor:
          nullable: true
          type: string
        total_cost:
          $ref: '#/components/schemas/Total_Cost'
        currency:
          nullable: true
          type: string
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseFuelTransaction
    BaseGroupMessage:
      description: Base class for group messages.
      example:
        source_group_id: source_group_id
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        sender_name: sender_name
        sender_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        thread_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        message_hash: message_hash
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tsp_slug: tsp_slug
        delivered_at: 2000-01-23T04:56:07.000+00:00
        source_name: ada
        sent_by_driver: true
        fleet_ref: fleet_ref
        deleted_at: 2000-01-23T04:56:07.000+00:00
        occurred_at: 2000-01-23T04:56:07.000+00:00
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        message_text: message_text
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        group_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        recipient_ids:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_sender_id: source_sender_id
        source_id: source_id
        source_thread_id: source_thread_id
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_recipient_ids:
        - source_recipient_ids
        - source_recipient_ids
        status: read
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        source_sender_id:
          nullable: true
          type: string
        source_recipient_ids:
          items:
            type: string
          nullable: true
          type: array
        sender_id:
          format: uuid
          nullable: true
          type: string
        recipient_ids:
          items:
            format: uuid
            type: string
          nullable: true
          type: array
        message_text:
          nullable: true
          type: string
        message_hash:
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/MessageStatusEnum'
        delivered_at:
          format: date-time
          nullable: true
          type: string
        sent_by_driver:
          nullable: true
          type: boolean
        sender_name:
          nullable: true
          type: string
        thread_id:
          format: uuid
          nullable: true
          type: string
        source_thread_id:
          nullable: true
          type: string
        group_id:
          format: uuid
          nullable: true
          type: string
        source_group_id:
          nullable: true
          type: string
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseGroupMessage
    BaseHosAvailability:
      description: Base Hos availability event.
      example:
        rest_remaining_seconds: 3
        sleeper_split_window_ends_at: 2000-01-23T04:56:07.000+00:00
        driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        is_adverse_driving_applied: true
        notes: notes
        is_personal_conveyance_applied: true
        cycle_started_at: 2000-01-23T04:56:07.000+00:00
        available_tomorrow_seconds: 5
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        is_yard_move_applied: true
        available_drive_seconds: 0
        meal_break_min_duration_seconds: 7
        hos_ruleset_code: US_INT_PROP_60_7
        fleet_ref: fleet_ref
        time_until_break_seconds: 9
        meal_break_time_until_due_seconds: 1
        is_sleeper_eligible: true
        deleted_at: 2000-01-23T04:56:07.000+00:00
        occurred_at: 2000-01-23T04:56:07.000+00:00
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        forecast_horizon_days: 7
        next_10hr_reset_eligible_at: 2000-01-23T04:56:07.000+00:00
        exception_codes:
        - exception_codes
        - exception_codes
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        available_day3_seconds: 2
        available_shift_seconds: 6
        sleeper_required_remaining_seconds: 1
        duty_status_code: "OFF"
        is_cycle_applicable: true
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        is_adverse_driving_exemption_available: true
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        shift_driving_violation_duration_seconds: 4
        cycle_violation_duration_seconds: 2
        updated_at: 2000-01-23T04:56:07.000+00:00
        available_cycle_seconds: 1
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        meal_break_due_at: 2000-01-23T04:56:07.000+00:00
        tsp_slug: tsp_slug
        vehicle_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_name: ada
        cycle_ends_at: 2000-01-23T04:56:07.000+00:00
        available_day2_seconds: 5
        next_34hr_reset_eligible_at: 2000-01-23T04:56:07.000+00:00
        is_meal_break_required: true
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        is_split_sleep_applied: true
        shift_ends_at: 2000-01-23T04:56:07.000+00:00
        source_id: source_id
        next_break_due_at: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        driver_id:
          format: uuid
          nullable: true
          type: string
        vehicle_id:
          format: uuid
          nullable: true
          type: string
        hos_ruleset_code:
          $ref: '#/components/schemas/HosRulesetCodeEnum'
        duty_status_code:
          $ref: '#/components/schemas/DutyStatusCodeEnum'
        cycle_started_at:
          format: date-time
          nullable: true
          type: string
        cycle_ends_at:
          format: date-time
          nullable: true
          type: string
        available_drive_seconds:
          nullable: true
          type: integer
        available_shift_seconds:
          nullable: true
          type: integer
        available_cycle_seconds:
          nullable: true
          type: integer
        available_tomorrow_seconds:
          nullable: true
          type: integer
        available_day2_seconds:
          nullable: true
          type: integer
        available_day3_seconds:
          nullable: true
          type: integer
        forecast_horizon_days:
          nullable: true
          type: integer
        time_until_break_seconds:
          nullable: true
          type: integer
        rest_remaining_seconds:
          nullable: true
          type: integer
        cycle_violation_duration_seconds:
          nullable: true
          type: integer
        shift_driving_violation_duration_seconds:
          nullable: true
          type: integer
        shift_ends_at:
          format: date-time
          nullable: true
          type: string
        next_break_due_at:
          format: date-time
          nullable: true
          type: string
        next_10hr_reset_eligible_at:
          format: date-time
          nullable: true
          type: string
        next_34hr_reset_eligible_at:
          format: date-time
          nullable: true
          type: string
        is_personal_conveyance_applied:
          nullable: true
          type: boolean
        is_yard_move_applied:
          nullable: true
          type: boolean
        is_adverse_driving_exemption_available:
          nullable: true
          type: boolean
        is_adverse_driving_applied:
          nullable: true
          type: boolean
        is_meal_break_required:
          nullable: true
          type: boolean
        meal_break_due_at:
          format: date-time
          nullable: true
          type: string
        meal_break_min_duration_seconds:
          nullable: true
          type: integer
        meal_break_time_until_due_seconds:
          nullable: true
          type: integer
        is_split_sleep_applied:
          nullable: true
          type: boolean
        is_sleeper_eligible:
          nullable: true
          type: boolean
        sleeper_required_remaining_seconds:
          nullable: true
          type: integer
        sleeper_split_window_ends_at:
          format: date-time
          nullable: true
          type: string
        is_cycle_applicable:
          nullable: true
          type: boolean
        exception_codes:
          items:
            type: string
          nullable: true
          type: array
        notes:
          nullable: true
          type: string
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseHosAvailability
    BaseHosDailySnapshot:
      description: Base class for HOS daily snapshots.
      example:
        driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        duration_driving_seconds: 5
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        duration_personal_conveyance_seconds: 5
        duration_cycle_on_duty_seconds: 3
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tsp_slug: tsp_slug
        source_name: ada
        duration_unknown_seconds: 9
        fleet_ref: fleet_ref
        duration_waiting_seconds: 7
        snapshot_date: 2000-01-23
        duration_sleeper_berth_seconds: 6
        deleted_at: 2000-01-23T04:56:07.000+00:00
        occurred_at: 2000-01-23T04:56:07.000+00:00
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        duration_yard_move_seconds: 2
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_id: source_id
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        duration_on_duty_seconds: 1
        duration_off_duty_seconds: 0
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        driver_id:
          format: uuid
          nullable: true
          type: string
        snapshot_date:
          format: date
          nullable: true
          type: string
        duration_off_duty_seconds:
          nullable: true
          type: integer
        duration_sleeper_berth_seconds:
          nullable: true
          type: integer
        duration_on_duty_seconds:
          nullable: true
          type: integer
        duration_driving_seconds:
          nullable: true
          type: integer
        duration_personal_conveyance_seconds:
          nullable: true
          type: integer
        duration_yard_move_seconds:
          nullable: true
          type: integer
        duration_waiting_seconds:
          nullable: true
          type: integer
        duration_unknown_seconds:
          nullable: true
          type: integer
        duration_cycle_on_duty_seconds:
          nullable: true
          type: integer
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseHosDailySnapshot
    BaseHosEvent:
      description: Base class for HOS events.
      example:
        deferral_minutes: 0
        driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        notes: notes
        duty_status_code: "OFF"
        driver_certified_at: 2000-01-23T04:56:07.000+00:00
        record_status: record_status
        h3_index_11: 6
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        additional_driver_ids:
          key: ""
        engine_hours: 5.962133916683182
        event_type_code: "1"
        eld_malfunction_code: POWER
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        co_driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        driver_last_edit_at: 2000-01-23T04:56:07.000+00:00
        is_transitioning: true
        event_code: "OFF"
        log_state_code: ACTIVE
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tsp_slug: tsp_slug
        vehicle_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_name: ada
        log_origin_code: AUTO
        hos_ruleset_code: US_INT_PROP_60_7
        fleet_ref: fleet_ref
        odometer: 1.4658129805029452
        time_zone_code: UTC
        deleted_at: 2000-01-23T04:56:07.000+00:00
        version: version
        occurred_at: 2000-01-23T04:56:07.000+00:00
        deferral_status: deferral_status
        sequence: sequence
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        location_name: location_name
        is_excluded: true
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        started_at: 2000-01-23T04:56:07.000+00:00
        location:
          bbox:
          - ""
          - ""
          - ""
          - ""
          coordinates:
          - ""
          - ""
          type: Point
        source_id: source_id
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ended_at: 2000-01-23T04:56:07.000+00:00
        region_code: US-AL
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        driver_id:
          format: uuid
          nullable: true
          type: string
        vehicle_id:
          format: uuid
          nullable: true
          type: string
        co_driver_id:
          format: uuid
          nullable: true
          type: string
        additional_driver_ids:
          additionalProperties: {}
          nullable: true
        started_at:
          format: date-time
          nullable: true
          type: string
        ended_at:
          format: date-time
          nullable: true
          type: string
        driver_last_edit_at:
          format: date-time
          nullable: true
          type: string
        driver_certified_at:
          format: date-time
          nullable: true
          type: string
        hos_ruleset_code:
          $ref: '#/components/schemas/HosRulesetCodeEnum'
        time_zone_code:
          $ref: '#/components/schemas/TimezoneCodeEnum'
        notes:
          nullable: true
          type: string
        duty_status_code:
          $ref: '#/components/schemas/DutyStatusCodeEnum'
        event_type_code:
          $ref: '#/components/schemas/HosEventTypeCodeEnum'
        event_code:
          $ref: '#/components/schemas/HosEventCodeEnum'
        log_state_code:
          $ref: '#/components/schemas/HosRecordStatusCodeEnum'
        log_origin_code:
          $ref: '#/components/schemas/HosRecordOriginCodeEnum'
        deferral_status:
          nullable: true
          type: string
        deferral_minutes:
          nullable: true
          type: integer
        eld_malfunction_code:
          $ref: '#/components/schemas/HosMalfunctionCodeEnum'
        is_excluded:
          nullable: true
          type: boolean
        is_transitioning:
          nullable: true
          type: boolean
        record_status:
          nullable: true
          type: string
        region_code:
          $ref: '#/components/schemas/HosRegionCodeEnum'
        location_name:
          nullable: true
          type: string
        location:
          $ref: '#/components/schemas/Point'
        h3_index_11:
          nullable: true
          type: integer
        odometer:
          nullable: true
          type: number
        engine_hours:
          nullable: true
          type: number
        sequence:
          nullable: true
          type: string
        version:
          nullable: true
          type: string
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseHosEvent
    BaseHosViolation:
      description: Base Hos violation event.
      example:
        driver_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        violation_category: Cycle
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        duration: 0
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        violation_code: DH_DAILY_OVER
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tsp_slug: tsp_slug
        source_name: ada
        fleet_ref: fleet_ref
        end_time: 2000-01-23T04:56:07.000+00:00
        deleted_at: 2000-01-23T04:56:07.000+00:00
        occurred_at: 2000-01-23T04:56:07.000+00:00
        source_driver_id: source_driver_id
        source_hos_event_id: source_hos_event_id
        start_time: 2000-01-23T04:56:07.000+00:00
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        hours_limit: 6.027456183070403
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        hos_event_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        violation_description: violation_description
        source_id: source_id
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        hos_event_id:
          format: uuid
          nullable: true
          type: string
        driver_id:
          format: uuid
          nullable: true
          type: string
        source_driver_id:
          nullable: true
          type: string
        source_hos_event_id:
          nullable: true
          type: string
        violation_code:
          $ref: '#/components/schemas/HosViolationCodeEnum'
        violation_category:
          $ref: '#/components/schemas/HosViolationCategoryEnum'
        violation_description:
          nullable: true
          type: string
        start_time:
          format: date-time
          nullable: true
          type: string
        end_time:
          format: date-time
          nullable: true
          type: string
        duration:
          nullable: true
          type: integer
        hours_limit:
          nullable: true
          type: number
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseHosViolation
    BaseIftaSummary:
      description: Base IFTA summary event.
      example:
        fleet_ref: fleet_ref
        year: 6
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        deleted_at: 2000-01-23T04:56:07.000+00:00
        occurred_at: 2000-01-23T04:56:07.000+00:00
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        month: 0
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_id: source_id
        tsp_slug: tsp_slug
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        vehicle_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_name: ada
        source_vehicle_id: source_vehicle_id
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        vehicle_id:
          format: uuid
          nullable: true
          type: string
        source_vehicle_id:
          nullable: true
          type: string
        month:
          nullable: true
          type: integer
        year:
          nullable: true
          type: integer
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseIftaSummary
    BaseInvitationEvent:
      description: Base invitation event.
      example:
        declined_at: 2000-01-23T04:56:07.000+00:00
        fleet_ref: fleet_ref
        partner_slug: partner_slug
        created_at: 2000-01-23T04:56:07.000+00:00
        accepted_at: 2000-01-23T04:56:07.000+00:00
        partner_provided_fleet_name: partner_provided_fleet_name
        callback_url: callback_url
        expires_at: 2000-01-23T04:56:07.000+00:00
        partner_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        success_redirect_url: success_redirect_url
        pre_registration_refresh_token: pre_registration_refresh_token
        expires_in_hours: 0
        limit_tsps:
        - limit_tsps
        - limit_tsps
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        magic_link: magic_link
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        decline_reason: decline_reason
        pre_registration_access_token: pre_registration_access_token
        failure_redirect_url: failure_redirect_url
        status: active
      properties:
        id:
          description: The ID of the invitation
          format: uuid
          title: Invitation ID
          type: string
        created_at:
          description: The date and time the invitation was created
          format: date-time
          title: Created At
          type: string
        magic_link:
          description: The magic link to accept the invitation.
          title: Magic Link
          type: string
        expires_at:
          description: The date and time the magic link expires.
          format: date-time
          title: Expires At
          type: string
        expires_in_hours:
          description: The number of hours until the magic link expires.
          title: Expires In Hours
          type: integer
        status:
          $ref: '#/components/schemas/StatusEnum'
        partner_provided_fleet_name:
          nullable: true
          type: string
        accepted_at:
          format: date-time
          nullable: true
          type: string
        pre_registration_access_token:
          nullable: true
          type: string
        pre_registration_refresh_token:
          nullable: true
          type: string
        success_redirect_url:
          nullable: true
          type: string
        failure_redirect_url:
          nullable: true
          type: string
        callback_url:
          nullable: true
          type: string
        limit_tsps:
          items:
            type: string
          nullable: true
          type: array
        fleet_id:
          format: uuid
          nullable: true
          type: string
        partner_slug:
          nullable: true
          type: string
        partner_id:
          format: uuid
          nullable: true
          type: string
        decline_reason:
          nullable: true
          type: string
        declined_at:
          format: date-time
          nullable: true
          type: string
        fleet_ref:
          nullable: true
          type: string
      required:
      - created_at
      - expires_at
      - expires_in_hours
      - id
      - magic_link
      - status
      title: BaseInvitationEvent
    BaseMessage:
      description: Base class for messages.
      example:
        created_at: 2000-01-23T04:56:07.000+00:00
        extras:
          key: ""
        sender_name: sender_name
        sender_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        execution_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        message_hash: message_hash
        read_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_reply_to_message_id: source_reply_to_message_id
        tsp_slug: tsp_slug
        delivered_at: 2000-01-23T04:56:07.000+00:00
        source_name: ada
        sent_by_driver: true
        source_recipient_id: source_recipient_id
        recipient_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleet_ref: fleet_ref
        deleted_at: 2000-01-23T04:56:07.000+00:00
        occurred_at: 2000-01-23T04:56:07.000+00:00
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        message_text: message_text
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_sender_id: source_sender_id
        source_id: source_id
        recipient_name: recipient_name
        source_thread_id: source_thread_id
        schedule_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: read
      properties:
        id:
          description: Internal unique identifier for the telematics event record
            (Catena PK).
          format: uuid
          title: ID
          type: string
        fleet_id:
          description: The Catena fleet this record belongs to (multi-tenant scope).
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          format: uuid
          nullable: true
          type: string
        tsp_slug:
          nullable: true
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        connection_id:
          description: The specific fleet↔TSP connection through which this record
            was sourced.
          format: uuid
          title: Connection ID
          type: string
        source_id:
          description: The ID of the record in the TSP or a deterministic ID/Hash
            generated from a composite unique key
          title: Source ID
          type: string
        created_at:
          description: "Immutable: first time this record was ingested into our system."
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Last time we modified this record in our system.
          format: date-time
          title: Updated At
          type: string
        deleted_at:
          format: date-time
          nullable: true
          type: string
        occurred_at:
          description: "When the underlying event/observation occurred, as reported\
            \ by the TSP, or the moment it was ingested by us if not available."
          format: date-time
          title: Occurred At
          type: string
        execution_id:
          format: uuid
          nullable: true
          type: string
        schedule_id:
          format: uuid
          nullable: true
          type: string
        extras:
          additionalProperties: {}
          nullable: true
        source_sender_id:
          nullable: true
          type: string
        source_recipient_id:
          nullable: true
          type: string
        sender_id:
          format: uuid
          nullable: true
          type: string
        recipient_id:
          format: uuid
          nullable: true
          type: string
        message_text:
          nullable: true
          type: string
        message_hash:
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/MessageStatusEnum'
        delivered_at:
          format: date-time
          nullable: true
          type: string
        read_at:
          format: date-time
          nullable: true
          type: string
        sent_by_driver:
          nullable: true
          type: boolean
        sender_name:
          nullable: true
          type: string
        recipient_name:
          nullable: true
          type: string
        source_thread_id:
          nullable: true
          type: string
        source_reply_to_message_id:
          nullable: true
          type: string
      required:
      - connection_id
      - created_at
      - fleet_id
      - fleet_ref
      - id
      - occurred_at
      - source_id
      - source_name
      - updated_at
      title: BaseMessage
    BaseResourceOperationEvent:
      description: Base resource operation event.
      example:
        fleet_ref: fleet_ref
        operation_type: create
        resource: asset
        created_at: 2000-01-23T04:56:07.000+00:00
        partner_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        updated_at: 2000-01-23T04:56:07.000+00:00
        connection_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        payload:
          key: ""
        resource_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        source_id: source_id
        logs:
        - response_headers:
            key: response_headers
          updated_at: 2000-01-23T04:56:07.000+00:00
          error_details: error_details
          error_type: auth
          resource_operation_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: success
          response_status_code: 0
        - response_headers:
            key: response_headers
          updated_at: 2000-01-23T04:56:07.000+00:00
          error_details: error_details
          error_type: auth
          resource_operation_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
[...]
