{"openapi":"3.1.0","info":{"title":"Telematics Organizations Service - REST API","description":"Organizations Service REST API","version":"0.1.0"},"servers":[{"url":"https://api.catenatelematics.com","description":"Catena Telematics API"}],"paths":{"/v2/orgs/fleets":{"get":{"tags":["Fleets"],"summary":"List Fleets","description":"Get a paginated list of Fleets accessible to your organization.","operationId":"list_fleets","security":[{"Bearer":["fleet:read"]}],"parameters":[{"name":"fleet_refs","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"},"maxItems":100},{"type":"null"}],"description":"Limit results to specific fleets using your organization's fleet reference identifiers","title":"Fleet Refs"},"description":"Limit results to specific fleets using your organization's fleet reference identifiers"},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":500,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPageCustomized_FleetRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-mint":{"content":"<Info>Partners can only list fleets they have active share agreements with</Info>"}},"post":{"tags":["Fleets"],"summary":"Create Fleet","description":"Create a new fleet.","operationId":"create_fleet","security":[{"Bearer":["fleet:create"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FleetCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FleetRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true"}},"/v2/orgs/fleets/{fleet_id}":{"get":{"tags":["Fleets"],"summary":"Get Fleet","description":"Get detailed information about a specific fleet.","operationId":"get_fleet","security":[{"Bearer":["fleet:read"]}],"parameters":[{"name":"fleet_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Fleet Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FleetRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-mint":{"content":"<Info>Partners can only get fleets they have active share agreements with</Info>"}},"patch":{"tags":["Fleets"],"summary":"Update Fleet","description":"Update an existing fleet information.","operationId":"update_fleet","security":[{"Bearer":["fleet:update"]}],"parameters":[{"name":"fleet_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Fleet Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FleetUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FleetRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true","x-mint":{"content":"<Info>Only fleets can update their own fleet information</Info>"}},"delete":{"tags":["Fleets"],"summary":"Delete Fleet","description":"Delete a fleet.","operationId":"delete_fleet","security":[{"Bearer":["fleet:delete"]}],"parameters":[{"name":"fleet_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Fleet Id"}}],"responses":{"204":{"description":"Fleet successfully deleted"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true","x-mint":{"content":"<Info>Only fleets can delete their own fleet</Info>"}}},"/v2/orgs/fleets/{fleet_id}/properties":{"get":{"tags":["Fleets"],"summary":"List Fleet Properties","description":"Retrieve all properties for a fleet by its ID.","operationId":"list_fleet_properties","security":[{"Bearer":["fleet:read"]}],"parameters":[{"name":"fleet_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Fleet Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FleetPropertyRead"},"title":"Response List Fleet Properties"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true"},"post":{"tags":["Fleets"],"summary":"Create Fleet Properties","description":"Create new fleet properties.\n\nYou can only create properties for the fleet if you are the fleet owner.","operationId":"create_fleet_properties","security":[{"Bearer":["fleet:create"]}],"parameters":[{"name":"fleet_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Fleet Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FleetPropertyCreate"},"title":"New"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FleetPropertyRead"},"title":"Response Create Fleet Properties"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true"}},"/v2/orgs/fleets/{fleet_id}/properties/{property_id}":{"delete":{"tags":["Fleets"],"summary":"Delete Fleet Property","description":"Delete a fleet property by its ID. You can only delete the property if you are the fleet owner.","operationId":"delete_fleet_property","security":[{"Bearer":["fleet:delete"]}],"parameters":[{"name":"fleet_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Fleet Id"}},{"name":"property_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Property Id"}}],"responses":{"204":{"description":"Fleet property successfully deleted"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true"}},"/v2/orgs/partners":{"get":{"tags":["Partners"],"summary":"List Partners","description":"Get a paginated list of Partners accessible to your organization.","operationId":"list_partners","security":[{"Bearer":["partner:read"]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":500,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPageCustomized_PartnerRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"post":{"tags":["Partners"],"summary":"Create Partner","description":"Create a new partner.","operationId":"create_partner","security":[{"Bearer":["partner:create"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true"}},"/v2/orgs/partners/{partner_id}":{"get":{"tags":["Partners"],"summary":"Get Partner","description":"Get detailed information about a specific partner.","operationId":"get_partner","security":[{"Bearer":["partner:read"]}],"parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Partner Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"patch":{"tags":["Partners"],"summary":"Update Partner","description":"Update an existing partner.","operationId":"update_partner","security":[{"Bearer":["partner:update"]}],"parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Partner Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartnerRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"delete":{"tags":["Partners"],"summary":"Delete Partner","description":"Delete a partner.","operationId":"delete_partner","security":[{"Bearer":["partner:create"]}],"parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Partner Id"}}],"responses":{"204":{"description":"Partner successfully deleted"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true"}},"/v2/orgs/partners/{partner_id}/properties":{"get":{"tags":["Partners"],"summary":"List Partner Properties","description":"Retrieve a list of partner properties for a specific partner.","operationId":"list_partner_properties","security":[{"Bearer":["partner-property:read"]}],"parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Partner Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartnerPropertyRead"},"title":"Response List Partner Properties"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"post":{"tags":["Partners"],"summary":"Create Partner Properties","description":"Create new partner properties.","operationId":"create_partner_properties","security":[{"Bearer":["partner-property:create"]}],"parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Partner Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartnerPropertyCreate"},"title":"New"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartnerPropertyRead"},"title":"Response Create Partner Properties"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-mint":{"content":"<Info>If you need to update existing properties, please use the delete endpoint followed by create.</Info>"}}},"/v2/orgs/partners/{partner_id}/properties/{property_id}":{"delete":{"tags":["Partners"],"summary":"Delete Partner Property","description":"Delete a partner property by its ID.","operationId":"delete_partner_property","security":[{"Bearer":["partner-property:create"]}],"parameters":[{"name":"partner_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Partner Id"}},{"name":"property_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Property Id"}}],"responses":{"204":{"description":"Partner property successfully deleted"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}}},"/v2/orgs/tsps":{"get":{"tags":["TSPs"],"summary":"List TSPs","description":"Get a list of TSPs integrated with Catena Telematics.","operationId":"list_tsps","parameters":[{"name":"slug","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Slug"}},{"name":"source_name","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/TspEnum"},{"type":"null"}],"title":"Source Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TspRead"},"title":"Response List Tsps"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"post":{"tags":["TSPs"],"summary":"Create Tsp","description":"Create a new TSP.","operationId":"create_tsp","security":[{"Bearer":["tsp:create"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TspCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TspRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true"}},"/v2/orgs/tsps/{tsp_id}":{"get":{"tags":["TSPs"],"summary":"Get TSP","description":"Get detailed information about a specific TSP.","operationId":"get_tsp","parameters":[{"name":"tsp_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Tsp Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TspRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"patch":{"tags":["TSPs"],"summary":"Update Tsp","description":"Update an existing TSP.","operationId":"update_tsp","security":[{"Bearer":["tsp:update"]}],"parameters":[{"name":"tsp_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Tsp Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TspUpdate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TspRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true"},"delete":{"tags":["TSPs"],"summary":"Delete Tsp","description":"Delete a TSP.","operationId":"delete_tsp","security":[{"Bearer":["tsp:delete"]}],"parameters":[{"name":"tsp_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Tsp Id"}}],"responses":{"204":{"description":"TSP successfully deleted"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true"}},"/v2/orgs/invitations":{"get":{"tags":["Invitations"],"summary":"List Invitations","description":"Get a paginated list of all invitations accessible to your organization.","operationId":"list_invitations","security":[{"Bearer":["invitation:read"]}],"parameters":[{"name":"fleet_ref","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Limit results to specific fleet reference","title":"Fleet Ref"},"description":"Limit results to specific fleet reference"},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":500,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPageCustomized_InvitationRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"post":{"tags":["Invitations"],"summary":"Create Invitation","description":"Create an invitation with a magic link to onboard a fleet.\n\nReturns an invitation object with a unique ID that serves as the magic link token.\nShare this link with the fleet to begin the onboarding process.\nOnce accepted, a share agreement is automatically created to enable data sharing.","operationId":"create_invitation","security":[{"Bearer":["invitation:create"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationCreate"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}}},"/v2/orgs/invitations/{invitation_id}":{"get":{"tags":["Invitations"],"summary":"Get Invitation","description":"Get detailed information about a specific invitation.","operationId":"get_invitation","parameters":[{"name":"invitation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Invitation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-mint":{"content":"<Warning>This endpoint is unauthenticated. The `invitation_id` is part of the magic link and acts as a secret token. Always set expiration dates and only share invitation links with trusted fleets.</Warning>"}},"delete":{"tags":["Invitations"],"summary":"Delete Invitation","description":"Delete an invitation.","operationId":"delete_invitation","security":[{"Bearer":["invitation:delete"]}],"parameters":[{"name":"invitation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Invitation Id"}}],"responses":{"204":{"description":"Invitation successfully deleted"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-mint":{"content":"<Info>You can only delete invitations before they are accepted. Once a fleet accepts an invitation, use the share agreement endpoints to manage the relationship.</Info>"}}},"/v2/orgs/invitations/{invitation_id}/accept":{"post":{"tags":["Invitations"],"summary":"Accept Invitation","description":"Accept an invitation to share data using Catena Telematics platform after being invited by a Partner.","operationId":"accept_invitation_v2_orgs_invitations__invitation_id__accept_post","security":[{"Bearer":[]}],"parameters":[{"name":"invitation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Invitation Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationAccept"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true","x-mint":{"content":"<Info>This endpoint is optionally authenticated and can only be used by fleets. If authenticated, the invitation is linked to the existing fleet. If unauthenticated, a new fleet is created.</Info>"}}},"/v2/orgs/invitations/{invitation_id}/decline":{"post":{"tags":["Invitations"],"summary":"Decline Invitation","description":"Decline an invitation to share data after being invited by a partner.","operationId":"decline_invitation_v2_orgs_invitations__invitation_id__decline_post","security":[{"Bearer":[]}],"parameters":[{"name":"invitation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Invitation Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationDecline"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true","x-mint":{"content":"<Info>This endpoint is optionally authenticated and can only be used by fleets. You cannot decline an invitation that has already been accepted.</Info>"}}},"/v2/orgs/share_agreements":{"get":{"tags":["Share Agreements"],"summary":"List Share Agreements","description":"Get a paginated list of Share Agreements accessible to your organization.","operationId":"list_share_agreements","security":[{"Bearer":["share-agreement:read"]}],"parameters":[{"name":"fleet_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"description":"Limit results to specific fleet","title":"Fleet Id"},"description":"Limit results to specific fleet"},{"name":"invitation_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"description":"Limit results to specific invitation","title":"Invitation Id"},"description":"Limit results to specific invitation"},{"name":"share_agreement_status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/StatusEnum"},{"type":"null"}],"description":"Limit results to specific Share Agreement status","title":"Share Agreement Status"},"description":"Limit results to specific Share Agreement status"},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":1000,"minimum":1,"description":"Page size","default":500,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/_CursorPageCustomized_ShareAgreementRead_"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"post":{"tags":["Share Agreements"],"summary":"Create Share Agreement","description":"Create a new Share Agreement.","operationId":"create_share_agreement","security":[{"Bearer":["share-agreement:create"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareAgreementCreate","description":"Details of the Share Agreement to create"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareAgreementRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true","x-mint":{"content":"<Warning>Only fleets can create Share Agreements</Warning>"}}},"/v2/orgs/share_agreements/{share_agreement_id}":{"get":{"tags":["Share Agreements"],"summary":"Get Share Agreement","description":"Get detailed information about a specific Share Agreement.","operationId":"get_share_agreement","security":[{"Bearer":["share-agreement:read"]}],"parameters":[{"name":"share_agreement_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Share Agreement Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareAgreementRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}}},"patch":{"tags":["Share Agreements"],"summary":"Update Share Agreement","description":"Update an existing Share Agreement.","operationId":"update_share_agreement","security":[{"Bearer":["share-agreement:update"]}],"parameters":[{"name":"share_agreement_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","description":"The ID of the Share Agreement to update","title":"Share Agreement Id"},"description":"The ID of the Share Agreement to update"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareAgreementUpdate","description":"Details to be updated int Share Agreement"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareAgreementRead"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-mint":{"content":"<Warning><b>Update permissions:</b><br/><br/>- <b>Fleets</b> can update <code>effective_date</code>, <code>expiration_date</code>, and <code>status</code><br/>- <b>Partners</b> can update <code>status</code> and <code>fleet_ref</code> (your fleet reference)</Warning>"}},"delete":{"tags":["Share Agreements"],"summary":"Delete Share Agreement","description":"Delete a Share Agreement.","operationId":"delete_share_agreement","security":[{"Bearer":["share-agreement:delete"]}],"parameters":[{"name":"share_agreement_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Share Agreement Id"}}],"responses":{"204":{"description":"Share Agreement successfully deleted"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}},"description":"Unauthorized"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Forbidden"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}},"description":"Not Found"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MethodNotAllowed"}}},"description":"Method Not Allowed"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Conflict"}}},"description":"Conflict"},"422":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnprocessableEntity"}}},"description":"Unprocessable Entity"},"429":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TooManyRequests"}}},"description":"Too Many Requests"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}},"description":"Internal Server Error"}},"x-excluded":"true","x-mint":{"content":"<Warning>Only fleets can delete Share Agreements</Warning>"}}}},"components":{"schemas":{"BadRequest":{"properties":{"code":{"type":"integer","title":"Code","default":400},"message":{"type":"string","title":"Message","default":"Bad Request"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"BadRequest"},"Conflict":{"properties":{"code":{"type":"integer","title":"Code","default":409},"message":{"type":"string","title":"Message","default":"Conflict"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"Conflict"},"ConnectionTypeEnum":{"type":"string","enum":["access_token","api_auth","api_basic","api_key","azuga_slc","bouncie","client_id_secret","company_access","company_id","database","ezlogz","factor_eld","fleetup","fleetup_slc","geotab","isaac","motive","oauth1","oauth2","oauth2_initiate","oauth2_private_key","ontime","private_key","s3","samsara","switchboard","spireon_slc","sftp","token","tt_creds","truckx_creds","truckx_slc"],"title":"ConnectionTypeEnum","description":"Connection Types"},"FleetCreate":{"properties":{"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of the fleet"},"display_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Display Name"},"legal_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Legal Name"},"dba_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Doing Business As (dba) Name"},"websites":{"anyOf":[{"items":{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},"type":"array"},{"type":"null"}],"title":"Websites","description":"List of websites associated with the fleet. The website is used to map users to an organization based on their email domain and to authenticate them accordingly in the scope of the organization."},"regulatory_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Regulatory ID","description":"Primary identifier from a regulatory body for a fleet (like DOT Number)."},"regulatory_id_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Regulatory ID Type","description":"Type of the regulatory ID like DOT, EASA, etc."},"regulatory_id_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Regulatory ID Date","description":"Date when the regulatory ID was issued."},"regulatory_id_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Regulatory ID Status","description":"Status of the regulatory ID."},"registered_email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Registered Email","description":"Email address that is registered for the fleet."},"registered_phone":{"anyOf":[{"type":"string","format":"phone"},{"type":"null"}],"title":"Registered Phone","description":"Phone number that is registered for the fleet."},"registered_fax":{"anyOf":[{"type":"string","format":"phone"},{"type":"null"}],"title":"Registered Fax","description":"Fax number that is registered for the fleet."},"address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Physical Address","description":"Physical address that is registered for the fleet."},"city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City","description":"City that is registered for the fleet."},"province":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Province","description":"Province that is registered for the fleet."},"postal_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postal Code","description":"Postal code that is registered for the fleet."},"country_code":{"anyOf":[{"type":"string","pattern":"^\\w{3}$"},{"type":"null"}],"title":"ISO-3 Country Code","description":"ISO-3 Country code that is registered for the fleet."},"properties":{"items":{"$ref":"#/components/schemas/FleetPropertyCreate"},"type":"array","title":"Properties","description":"Optional custom properties for the fleet","default":[]}},"type":"object","required":["name"],"title":"FleetCreate","description":"API model for creating a fleet\n\nUsed by Catena admins to create fleets directly.\nMost fleets are created automatically when accepting invitations."},"FleetPropertyCreate":{"properties":{"key":{"$ref":"#/components/schemas/FleetPropertyKeyEnum","title":"Key","description":"The key of the property"},"value":{"type":"string","title":"Value","description":"The value of the property"}},"type":"object","required":["key","value"],"title":"FleetPropertyCreate","description":"API model for creating a fleet Property"},"FleetPropertyKeyEnum":{"type":"string","enum":["dot_number","location","type"],"title":"FleetPropertyKeyEnum","description":"Enum for the keys of the fleet properties"},"FleetPropertyRead":{"properties":{"key":{"$ref":"#/components/schemas/FleetPropertyKeyEnum","title":"Key","description":"The key of the property"},"value":{"type":"string","title":"Value","description":"The value of the property"},"id":{"type":"string","format":"uuid","title":"Id"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"fleet_id":{"type":"string","format":"uuid","title":"Fleet Id"}},"type":"object","required":["key","value","id","created_at","fleet_id"],"title":"FleetPropertyRead","description":"API model for reading a fleet"},"FleetRead":{"properties":{"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of the fleet"},"display_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Display Name"},"legal_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Legal Name"},"dba_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Doing Business As (dba) Name"},"websites":{"anyOf":[{"items":{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},"type":"array"},{"type":"null"}],"title":"Websites","description":"List of websites associated with the fleet. The website is used to map users to an organization based on their email domain and to authenticate them accordingly in the scope of the organization."},"regulatory_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Regulatory ID","description":"Primary identifier from a regulatory body for a fleet (like DOT Number)."},"regulatory_id_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Regulatory ID Type","description":"Type of the regulatory ID like DOT, EASA, etc."},"regulatory_id_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Regulatory ID Date","description":"Date when the regulatory ID was issued."},"regulatory_id_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Regulatory ID Status","description":"Status of the regulatory ID."},"registered_email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Registered Email","description":"Email address that is registered for the fleet."},"registered_phone":{"anyOf":[{"type":"string","format":"phone"},{"type":"null"}],"title":"Registered Phone","description":"Phone number that is registered for the fleet."},"registered_fax":{"anyOf":[{"type":"string","format":"phone"},{"type":"null"}],"title":"Registered Fax","description":"Fax number that is registered for the fleet."},"address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Physical Address","description":"Physical address that is registered for the fleet."},"city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City","description":"City that is registered for the fleet."},"province":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Province","description":"Province that is registered for the fleet."},"postal_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postal Code","description":"Postal code that is registered for the fleet."},"country_code":{"anyOf":[{"type":"string","pattern":"^\\w{3}$"},{"type":"null"}],"title":"ISO-3 Country Code","description":"ISO-3 Country code that is registered for the fleet."},"id":{"type":"string","format":"uuid","title":"Id","description":"Unique Catena fleet identifier"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"When the fleet was created"},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Last modification timestamp"}},"type":"object","required":["name","id","created_at","updated_at"],"title":"FleetRead","description":"API model for reading a fleet\n\nContains all fleet information including system-generated fields.\nPartners can only read fleets they invited or have share agreements with.","example":{"address":"1234 Industrial Pkwy","city":"San Francisco","country_code":"USA","created_at":"2025-12-10T08:15:00Z","dba_name":"Swift Logistics","description":"Regional freight carrier specializing in temperature-controlled transport","display_name":"Swift Transport","id":"98765432-10fe-dcba-9876-543210fedcba","legal_name":"Swift Transport LLC","name":"Swift Transport LLC","postal_code":"94107","province":"California","registered_email":"operations@swifttransport.com","registered_fax":"+14155551235","registered_phone":"+14155551234","regulatory_id":"1234567","regulatory_id_date":"2020-03-15","regulatory_id_status":"ACTIVE","regulatory_id_type":"DOT","updated_at":"2025-12-11T14:30:00Z","websites":["https://swifttransport.com","https://swiftlogistics.com"]}},"FleetUpdate":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Primary fleet name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Fleet description or notes"},"display_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Display Name","description":"Public-facing name"},"legal_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Legal Name","description":"Official registered business name"},"dba_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Dba Name","description":"\"Doing Business As\" name if different from legal name"},"regulatory_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Regulatory Id","description":"Regulatory identifier (e.g., DOT number, EASA ID)"},"regulatory_id_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Regulatory Id Type","description":"Type of regulatory ID (e.g., DOT, EASA, MC)"},"regulatory_id_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Regulatory Id Date","description":"Date when regulatory ID was issued"},"regulatory_id_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Regulatory Id Status","description":"Current status of the regulatory ID"},"registered_email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Registered Email","description":"Official contact email"},"registered_phone":{"anyOf":[{"type":"string","format":"phone"},{"type":"null"}],"title":"Registered Phone","description":"Official contact phone number"},"registered_fax":{"anyOf":[{"type":"string","format":"phone"},{"type":"null"}],"title":"Registered Fax","description":"Fax number if applicable"},"address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address","description":"Street address"},"city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City","description":"City"},"province":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Province","description":"State/Province"},"postal_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postal Code","description":"ZIP/Postal code"},"country_code":{"anyOf":[{"type":"string","pattern":"^\\w{3}$"},{"type":"null"}],"title":"Country Code","description":"ISO-3 country code (e.g., USA, CAN, GBR)"}},"type":"object","title":"FleetUpdate","description":"API model for updating a fleet\n\nFleets can update their own information.\nAll fields are optional - only provide fields you want to change."},"Forbidden":{"properties":{"code":{"type":"integer","title":"Code","default":403},"message":{"type":"string","title":"Message","default":"Forbidden"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"Forbidden"},"InternalServerError":{"properties":{"message":{"type":"string","title":"Message","default":"Internal Server Error"}},"type":"object","title":"InternalServerError"},"InvitationAccept":{"properties":{"fleet_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Name","description":"The fleet's preferred name for their organization. Only letters, numbers, and spaces are allowed."},"fleet_email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Fleet Email","description":"Contact email address for the fleet"},"fleet_regulatory_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Regulatory ID","description":"Primary identifier from a regulatory body for the fleet (like DOT Number, EASA ID, etc.)"},"fleet_regulatory_id_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Regulatory ID Type","description":"Type of the regulatory ID provided (e.g., DOT, EASA, MC). Should match the type of regulatory_id provided."},"fleet_phone":{"anyOf":[{"type":"string","format":"phone"},{"type":"null"}],"title":"Fleet Phone","description":"Contact phone number for the fleet"},"fleet_website":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Fleet Website","description":"The fleet's website URL"},"fleet_country_code":{"anyOf":[{"type":"string","pattern":"^\\w{3}$"},{"type":"null"}],"title":"Fleet Country Code","description":"ISO-3 country code where the fleet is registered (e.g., USA, CAN, GBR)"}},"type":"object","title":"InvitationAccept","description":"API model for accepting a fleet invitation\n\nOptional data that fleets can provide when accepting an invitation.\nThese fields supplement or override partner-provided values.","example":{}},"InvitationCreate":{"properties":{"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Reference","description":"Your internal fleet identifier. Use this to map Catena fleets back to your system. This value will be returned in webhooks and redirect URLs. Only letters, numbers, spaces, dashes, and underscores are allowed."},"partner_provided_fleet_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Name","description":"Pre-populate the fleet name during onboarding. The fleet can modify this during acceptance. Only letters, numbers, and spaces are allowed."},"partner_provided_fleet_email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Fleet Email","description":"Pre-populate the fleet contact email. Optional but recommended for faster onboarding."},"partner_provided_fleet_regulatory_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Regulatory ID","description":"Pre-populate the fleet's regulatory identifier (e.g., DOT number, EASA ID). Helps with fleet verification."},"partner_provided_fleet_regulatory_id_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Regulatory ID Type","description":"Pre-populate the type of regulatory ID provided (e.g., DOT, EASA, MC). Required if regulatory_id is set."},"partner_provided_fleet_phone":{"anyOf":[{"type":"string","format":"phone"},{"type":"null"}],"title":"Fleet Phone","description":"Pre-populate the phone number of the fleet"},"partner_provided_fleet_website":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Fleet website","description":"Pre-populate the website of the fleet"},"partner_provided_fleet_country_code":{"anyOf":[{"type":"string","pattern":"^\\w{3}$"},{"type":"null"}],"title":"Fleet Country Code","description":"Pre-populate the country code of the fleet"},"success_redirect_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Success Redirect URL","description":"The URL to redirect the user to after onboarding successfully on Catena Connect. **Available query parameters:** `invitation_id`, `fleet_ref`."},"failure_redirect_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Failure Redirect URL","description":"The URL to redirect the user to after failing to onboard on Catena Connect (i.e. declining an invitation, opening an expired invitation, etc). **Available query parameters:** `invitation_id`, `fleet_ref`."},"callback_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Callback URL","description":"Your webhook endpoint to receive real-time notifications for invitation acceptance, share agreement creation, and connection status updates. Must be HTTPS."},"limit_tsps":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Limit TSPs","description":"Restrict which telematics providers the fleet can connect to. Useful if you only need data from specific TSPs. If omitted, all available TSPs are shown."},"expires_in_hours":{"type":"integer","maximum":672.0,"minimum":1.0,"title":"Expires In Hours","description":"How long the invitation link remains valid (1-672 hours). Default is 24 hours. *Consider longer durations for email campaigns.*","default":24}},"type":"object","title":"InvitationCreate","description":"API model for creating a fleet invitation","example":{}},"InvitationDecline":{"properties":{"decline_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Decline Reason","description":"Reason for declining the invitation (e.g., 'Not interested', 'Already using another service')"}},"type":"object","title":"InvitationDecline","description":"API model for declining a fleet invitation\n\nOptional data that fleets can provide when declining an invitation.\nHelps partners understand why invitations were rejected."},"InvitationRead":{"properties":{"id":{"type":"string","format":"uuid","title":"Id","description":"Unique invitation identifier"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"When the invitation was created"},"magic_link":{"type":"string","title":"Magic Link","description":"The magic link that is used to open Catena Connect and accept the invitation. Share this URL with the fleet to begin onboarding."},"expires_at":{"type":"string","format":"date-time","title":"Invitation Expiration","description":"The expiration date and time of the invitation"},"expires_in_hours":{"type":"integer","title":"Expires In Hours","description":"The number of hours the invitation is valid for."},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Status","description":"The current status of the invitation (ACTIVE, ACCEPTED, DECLINED, or EXPIRED)"},"partner_provided_fleet_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Name","description":"Pre-populate the fleet name during onboarding. The fleet can modify this during acceptance."},"accepted_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Accepted At","description":"The date and time the invitation was accepted. Null if not accepted."},"pre_registration_access_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Pre-Registration JWT Token","description":"The JWT token used to pre-register the fleet. It allows the fleet to create connections after accepting the invitation even without registering a user. Value is set after the invitation is accepted."},"pre_registration_refresh_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Pre-Registration Refresh Token","description":"The refresh token used to pre-register the fleet. It allows the fleet to create connections after accepting the invitation even without registering a user. Value is set after the invitation is accepted."},"callback_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Callback URL","description":"Your webhook endpoint to receive real-time notifications for invitation acceptance, share agreement creation, and connection status updates. Must be HTTPS."},"success_redirect_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Success Redirect URL","description":"The URL to redirect the user to after onboarding successfully on Catena Connect. **Available query parameters:** `invitation_id`, `fleet_ref`."},"failure_redirect_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Failure Redirect URL","description":"The URL to redirect the user to after failing to onboard on Catena Connect (i.e. declining an invitation, opening an expired invitation, etc). **Available query parameters:** `invitation_id`, `fleet_ref`."},"limit_tsps":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Limit TSPs","description":"Restrict which telematics providers the fleet can connect to. Useful if you only need data from specific TSPs. If omitted, all available TSPs are shown."},"fleet_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Fleet ID","description":"The Catena fleet ID created after accepting the invitation. Null if invitation has not been accepted."},"partner_slug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Partner Slug","description":"The slug of your organization"},"partner_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Partner ID","description":"Your organization ID requesting access to fleet data"},"decline_reason":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Decline Reason","description":"The reason provided by the fleet for declining the invitation. Null if invitation was not declined."},"declined_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Declined At","description":"The date the invitation was declined by the fleet. Null if invitation was not declined."},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet Reference","description":"Your internal fleet identifier. Use this to map Catena fleets back to your system. This value will be returned in webhooks and redirect URLs."}},"type":"object","required":["id","created_at","magic_link","expires_at","expires_in_hours","status"],"title":"InvitationRead","description":"API model for reading a fleet invitation\n\nContains the complete invitation state including acceptance/decline status.\nUse this to track invitation lifecycle and retrieve tokens for accepted invitations.","example":{"accepted_at":"2025-12-11T14:22:00Z","callback_url":"https://api.example.com/webhooks/catena","created_at":"2025-12-11T10:30:00Z","expires_at":"2025-12-12T10:30:00Z","expires_in_hours":24,"failure_redirect_url":"https://app.example.com/onboarding/failure","fleet_id":"98765432-10fe-dcba-9876-543210fedcba","fleet_ref":"FLEET-12345","id":"01234567-89ab-cdef-0123-456789abcdef","limit_tsps":["samsara","geotab"],"magic_link":"https://connect.catena.eu/?invite=01234567-89ab-cdef-0123-456789abcdef","partner_id":"11223344-5566-7788-99aa-bbccddeeff00","partner_provided_fleet_name":"Swift Transport LLC","partner_slug":"acme-logistics","pre_registration_access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...","pre_registration_refresh_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...","status":"ACCEPTED","success_redirect_url":"https://app.example.com/onboarding/success"}},"MethodNotAllowed":{"properties":{"code":{"type":"integer","title":"Code","default":405},"message":{"type":"string","title":"Message","default":"Method Not Allowed"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"MethodNotAllowed"},"NotFound":{"properties":{"code":{"type":"integer","title":"Code","default":404},"message":{"type":"string","title":"Message","default":"Not Found"},"detail":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Detail"}},"type":"object","title":"NotFound"},"PartnerCategory":{"type":"string","enum":["Maintenance & Vehicle Health","Fuel, Energy & Sustainability","Insurance & Risk Management","Safety & Driver Performance","Compliance & Legal","Operations & Dispatch","Visibility & Logistics","Payments & Finance","Workforce & HR","Customer Experience & Growth","Data & Connectivity"],"title":"PartnerCategory","description":"Enumeration of partner categories"},"PartnerCreate":{"properties":{"name":{"type":"string","title":"Name","description":"The name of your organization"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of your organization"},"websites":{"anyOf":[{"items":{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},"type":"array"},{"type":"null"}],"title":"Websites","description":"List of websites associated with the organization. The website is used to map users to an organization based on their email domain and to authenticate them accordingly in the scope of the organization."},"categories":{"items":{"$ref":"#/components/schemas/PartnerCategory"},"type":"array","title":"Categories","description":"A list of categories for the services offered by your organization"},"is_sandbox":{"type":"boolean","title":"Is Sandbox","description":"Indicates whether the account is a sandbox account for testing purposes.","default":false},"properties":{"items":{"$ref":"#/components/schemas/PartnerPropertyCreate"},"type":"array","title":"Properties","description":"Optional custom properties for the partner organization","default":[]}},"type":"object","required":["name"],"title":"PartnerCreate","description":"API model for creating a partner\n\nUsed by Catena admins to onboard new partner organizations.\nPartners cannot create themselves - contact Catena to get set up."},"PartnerPropertyCreate":{"properties":{"key":{"$ref":"#/components/schemas/PartnerPropertyKeyEnum","title":"Key","description":"The key of the property"},"value":{"type":"string","title":"Value","description":"The value of the property"}},"type":"object","required":["key","value"],"title":"PartnerPropertyCreate","description":"API model for creating a partner Property"},"PartnerPropertyKeyEnum":{"type":"string","enum":["default_failure_redirect_url","default_success_redirect_url","default_callback_url"],"title":"PartnerPropertyKeyEnum","description":"Enum for the keys of the partner properties"},"PartnerPropertyRead":{"properties":{"key":{"$ref":"#/components/schemas/PartnerPropertyKeyEnum","title":"Key","description":"The key of the property"},"value":{"type":"string","title":"Value","description":"The value of the property"},"id":{"type":"string","format":"uuid","title":"Id"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"partner_id":{"type":"string","format":"uuid","title":"Partner Id"}},"type":"object","required":["key","value","id","created_at","partner_id"],"title":"PartnerPropertyRead","description":"API model for reading a partner property"},"PartnerRead":{"properties":{"name":{"type":"string","title":"Name","description":"Partner organization name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Partner organization description"},"websites":{"anyOf":[{"items":{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},"type":"array"},{"type":"null"}],"title":"Websites","description":"List of websites associated with the organization. The website is used to map users to an organization based on their email domain and to authenticate them accordingly in the scope of the organization."},"categories":{"items":{"$ref":"#/components/schemas/PartnerCategory"},"type":"array","title":"Categories","description":"A list of categories for the services offered by your organization"},"is_sandbox":{"type":"boolean","title":"Is Sandbox","description":"Indicates whether the account is a sandbox account for testing purposes.","default":false},"id":{"type":"string","format":"uuid","title":"Id","description":"Unique Catena partner identifier"},"slug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Slug","description":"URL-friendly identifier for your organization"},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"When the partner was onboarded to Catena"},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Last modification timestamp"}},"type":"object","required":["name","id","created_at","updated_at"],"title":"PartnerRead","description":"API model for reading a partner\n\nContains partner organization details.\nFleets can view partners when browsing available integrations.","example":{"categories":["Operations & Dispatch","Visibility & Logistics","Data & Connectivity"],"created_at":"2024-06-01T10:00:00Z","description":"AI-powered route optimization and fleet intelligence platform","id":"11223344-5566-7788-99aa-bbccddeeff00","is_sandbox":false,"name":"Acme Logistics","slug":"acme-logistics","updated_at":"2025-12-01T15:30:00Z","websites":["https://acmelogistics.com","https://acme.io"]}},"PartnerUpdate":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Your organization name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Description of your services or organization"}},"type":"object","title":"PartnerUpdate","description":"API model for updating a partner\n\nUpdate your organization's profile information.\nAll fields are optional - only provide fields you want to change."},"ResourceEnum":{"type":"string","enum":["asset","driver_event_log","driver_safety_event","dvir_log","dvir_log_defect","hos_availability","hos_daily_snapshot","hos_event","hos_event_annotation","hos_event_attachment","hos_violation","ifta_summary","location_segment","reefer_status","user","vehicle","vehicle_location","vehicle_sensor","trailer","trailer_location"],"title":"ResourceEnum","description":"Enum for resources"},"RetryAfterDetail":{"properties":{"retry_after_seconds":{"type":"integer","title":"Retry After Seconds"},"message":{"type":"string","title":"Message"}},"type":"object","required":["retry_after_seconds","message"],"title":"RetryAfterDetail"},"ShareAgreementCreate":{"properties":{"partner_id":{"type":"string","format":"uuid","title":"Partner ID","description":"Your organization ID receiving access to fleet data"},"scopes":{"additionalProperties":{"$ref":"#/components/schemas/ShareLevelEnum"},"propertyNames":{"$ref":"#/components/schemas/ResourceEnum"},"type":"object","title":"Shared Scopes","description":"Defines which resources (vehicle, locations, users, etc.) you can access and the permission level (read, write) for each."},"fleet_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Fleet ID","description":"The Catena fleet ID sharing their data with you"},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet External ID","description":"Your internal fleet identifier for mapping Catena fleets to your system. Returned in webhooks and APIs for easy integration. Only letters, numbers, spaces, dashes, and underscores are allowed."},"invitation_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Invitation ID","description":"Links to the invitation that created this agreement. Null if created directly by the fleet."},"effective_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Effective Date","description":"When data access begins. Check this before attempting to fetch fleet data."},"expiration_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Expiration Date","description":"When data access ends. Null means no expiration. Status automatically changes to EXPIRED after this date."}},"type":"object","required":["partner_id","scopes"],"title":"ShareAgreementCreate","description":"API model for creating a sharing agreement between fleet and partner\n\nCreate a share agreement to define what data you can access from a fleet.\nTypically created automatically when a fleet accepts your invitation."},"ShareAgreementRead":{"properties":{"id":{"type":"string","format":"uuid","title":"Id","description":"Unique agreement identifier"},"fleet_id":{"type":"string","format":"uuid","title":"Fleet ID","description":"The Catena fleet ID sharing their data with you"},"partner_id":{"type":"string","format":"uuid","title":"Partner ID","description":"Your organization ID receiving access to fleet data"},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet External ID","description":"Your internal fleet identifier for mapping Catena fleets to your system. Returned in webhooks and APIs for easy integration."},"invitation_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Invitation ID","description":"Links to the invitation that created this agreement. Null if created directly by the fleet."},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Agreement Status","description":"Current state: ACTIVE (data access enabled), PAUSED (temporarily disabled), CANCELLED (permanently ended), EXPIRED (past expiration_date)"},"effective_date":{"type":"string","format":"date-time","title":"Effective Date","description":"When data access begins. Check this before attempting to fetch fleet data."},"expiration_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Expiration Date","description":"When data access ends. Null means no expiration. Status automatically changes to EXPIRED after this date."},"scopes":{"additionalProperties":{"$ref":"#/components/schemas/ShareLevelEnum"},"propertyNames":{"$ref":"#/components/schemas/ResourceEnum"},"type":"object","title":"Shared Scopes","description":"Defines which resources (vehicle, locations, users, etc.) you can access and the permission level (read, write) for each."}},"type":"object","required":["id","fleet_id","partner_id","fleet_ref","invitation_id","status","effective_date","expiration_date","scopes"],"title":"ShareAgreementRead","description":"API model for reading a sharing agreement\n\nContains all the details about what data you can access from a fleet.\nMonitor the status field to track active agreements.","example":{"effective_date":"2025-12-11T14:22:00Z","fleet_id":"98765432-10fe-dcba-9876-543210fedcba","fleet_ref":"FLEET-12345","id":"22334455-6677-8899-aabb-ccddeeff0011","invitation_id":"01234567-89ab-cdef-0123-456789abcdef","partner_id":"11223344-5566-7788-99aa-bbccddeeff00","scopes":{"hos-events":"read","user":"read","vehicle":"read-write","vehicle-location":"read-write"},"status":"active"}},"ShareAgreementUpdate":{"properties":{"status":{"anyOf":[{"$ref":"#/components/schemas/StatusEnum"},{"type":"null"}],"title":"Agreement Status","description":"Current state: active (data access enabled), paused (temporarily disabled), cancelled (permanently ended), expired (past expiration_date)"},"fleet_ref":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Fleet External ID","description":"Your internal fleet identifier for mapping Catena fleets to your system. Returned in webhooks and APIs for easy integration. Only letters, numbers, spaces, dashes, and underscores are allowed."},"effective_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Effective Date","description":"When data access begins. Check this before attempting to fetch fleet data."},"expiration_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Expiration Date","description":"When data access ends. Null means no expiration. Status automatically changes to EXPIRED after this date."}},"type":"object","title":"ShareAgreementUpdate","description":"API model for updating a sharing agreement\n\nUpdate agreement status or dates. Note: Fleets own their share agreements,\nso partners typically cannot modify these directly.","example":{"effective_date":"","expiration_date":"","fleet_ref":"FLEET-12345","status":"cancelled"}},"ShareLevelEnum":{"type":"string","enum":["read","read_write"],"title":"ShareLevelEnum","description":"Enum for the level of access granted"},"StatusEnum":{"type":"string","enum":["active","inactive","paused","expired","cancelled","pending","deleted","stale","success","failed","scheduled","accepted","declined"],"title":"StatusEnum","description":"Enum for statuses"},"TooManyRequests":{"properties":{"code":{"type":"integer","title":"Code","default":429},"message":{"type":"string","title":"Message","default":"Too Many Requests"},"detail":{"anyOf":[{"$ref":"#/components/schemas/RetryAfterDetail"},{"type":"null"}]}},"type":"object","title":"TooManyRequests"},"TspCreate":{"properties":{"name":{"type":"string","title":"Name","description":"TSP display name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Description of the TSP and its services"},"websites":{"anyOf":[{"items":{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},"type":"array"},{"type":"null"}],"title":"Websites","description":"List of websites associated with the TSP. The website is used to map users to an organization based on their email domain and to authenticate them accordingly in the scope of the organization."},"source_name":{"$ref":"#/components/schemas/TspEnum","description":"Unique TSP identifier enum value"},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Status","description":"The status of the TSP","default":"active"},"conn_type":{"$ref":"#/components/schemas/ConnectionTypeEnum","description":"Authentication method (OAuth, API Key, etc.)"},"is_sandbox":{"type":"boolean","title":"Is Sandbox","description":"Indicates whether the TSP is a sandbox integrations for testing purposes.","default":false}},"type":"object","required":["name","source_name","conn_type"],"title":"TspCreate","description":"API model for creating a TSP\n\nUsed by Catena admins to add new telematics service providers to the platform.\nTSPs cannot create themselves - contact Catena to integrate your TSP."},"TspEnum":{"type":"string","enum":["ada","ai_eld","air_eld","alfa_eld","alpha_eld","als","anytrek","apex_eld","apollo","apollocloud","ascend","att","awaregps","azuga","bigroad","bluehorse_eld","blueinktech","bouncie","budgetgps","captain_eld","carrier_lynx","club_eld","cyntrx","digital_eld","dragon_eld","drive_hos","driver_tech","dsg_elogs","dynamic_eld","eighteighteight_eld","eld_88","eld_books","eld_mandate","eld_mandate_prime","eroad","eva_eld","evo_eld","expressway_eld","extreme_eld","ezlogz","factor_eld","firstgate","fleetcomplete","fleetcompletehub","fleethunt","fleetsharp","fleetup","fm","forwardthinking","forza_eld","geotab","gpsinsight","gpstab","gpstrackit","grand_eld","greenlight","groundhog","hcss","hos247","hutch","intellishift","ironman_eld","isaac","jjkeller","kinexaiot","knight_eld","konexial","lioneight","linxup","lucid_eld","luna_eld","lytx","lytxv3","mapon","matrack","maven","mobilefleet","moonlight_eld","motion_eld","motive","my_logs_eld","nero","netradyne","new_eld_world","nextgen_eld","nextraq","omnitracs","onestep","ontime_eld","optima","orbcomm","orient_eld","panda_eld","payd","peak_eld","peoplenet","phillips_connect","phoenix","pop_eld","prologs","proride_eld","qualitylogs_eld","randmcnally","rastrac","redfox","regulog_eld","ridehub","rock_eld","routemate","royal_eld","samsara","selectivedrive","simba_eld","skybitz","smart_elds","sparkle_eld","spireon","surfsight","swift","switchboard","synergy_eld","teletracnavman","teletracnavman_director","telogis","tenna","thermo_king","think","tive","topcompliance_eld","traccar","trackease_eld","trackpro","traclog","transflo","trimble","truckford","truckspy","truckx","trueroad_eld","tt","us_fast_eld","verizon","vista_eld","vistracks","vlog_eld","vulcansols_eld","wialon","webfleet","xplore_eld","zms_eld","zonar","zubie"],"title":"TspEnum","description":"Enum for TSPs"},"TspRead":{"properties":{"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"A description of the TSP"},"websites":{"anyOf":[{"items":{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},"type":"array"},{"type":"null"}],"title":"Websites","description":"List of websites associated with the TSP. The website is used to map users to an organization based on their email domain and to authenticate them accordingly in the scope of the organization."},"source_name":{"$ref":"#/components/schemas/TspEnum","description":"TSP enum identifier for API references"},"status":{"$ref":"#/components/schemas/StatusEnum","title":"Status","description":"The status of the TSP","default":"active"},"conn_type":{"$ref":"#/components/schemas/ConnectionTypeEnum","title":"Connection Type","description":"The type of connection usedt to authenticate with the TSP"},"is_sandbox":{"type":"boolean","title":"Is Sandbox","description":"Indicates whether the TSP is a sandbox integrations for testing purposes.","default":false},"id":{"type":"string","format":"uuid","title":"Id","description":"Unique Catena TSP identifier"},"slug":{"type":"string","title":"Slug","description":"URL-friendly TSP identifier"},"crea
[...]
