openapi: 3.1.0
info:
  description: Integrations Service REST API.
  title: Telematics Integrations Service - REST API
  version: 0.1.0
servers:
- description: Catena Telematics API
  url: https://api.catenatelematics.com
tags:
- description: "Endpoints for managing connections between Fleets and TSPs, including\
    \ their nested schedules and executions. A connection has schedules, and each\
    \ schedule has executions."
  name: Connections
- description: Endpoints to view TSPs and their integration support status per resource.
  name: TSP Integrations
paths:
  /v2/integrations/connections/resource-operations:
    get:
      description: |-
        Get a paginated list of resource operations.

        Supports flexible filtering by date range, resource type, connection, source, fleet reference,
        operation type, and source ID. Use `source_id` together with `resource` to target a specific
        record in the TSP.
      operationId: list_resource_operations
      parameters:
      - description: "Filter resource operations by resource type (e.g., `vehicle`,\
          \ `user`, `fuel_charge`)."
        explode: true
        in: query
        name: resource
        required: false
        schema:
          $ref: '#/components/schemas/ResourceEnum'
        style: form
      - description: Filter resource operations by connection ID.
        explode: true
        in: query
        name: connection_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Filter resource operations by source name.
        explode: true
        in: query
        name: source_name
        required: false
        schema:
          $ref: '#/components/schemas/TspEnum'
        style: form
      - description: "Filter resource operations by one or more fleet references.\
          \ **Maximum:** 100 values. To specify multiple values, repeat the parameter\
          \ for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Filter resource operations by operation type (e.g., `create`,\
          \ `update`)."
        explode: true
        in: query
        name: operation
        required: false
        schema:
          $ref: '#/components/schemas/ResourceOperationTypeEnum'
        style: form
      - description: Filter resource operations by source ID in the TSP. Requires
          the `resource` parameter.
        explode: true
        in: query
        name: source_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Return only records that occurred on or after this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
          **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 45 days
        explode: true
        in: query
        name: from_datetime
        required: false
        schema:
          description: Return only records that occurred on or after this date and
            time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
            **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 45 days
          format: date-time
          title: From Datetime
          type: string
        style: form
      - description: Return only records that occurred before this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
          **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 45 days
        explode: true
        in: query
        name: to_datetime
        required: false
        schema:
          description: Return only records that occurred before this date and time.
            **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
            **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 45 days
          format: date-time
          title: To Datetime
          type: string
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_ResourceOperationRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - resource_operation:read
      summary: List Resource Operations
      tags:
      - Resource Operations
      x-mint:
        metadata:
          title: 🧪 List Resource Operations
        content: "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional\
          \ endpoint</strong><br/>This endpoint is available for early access. The\
          \ core schema is stable, but minor details — such as field names or added\
          \ fields — may change before it becomes generally available. Backward compatibility\
          \ is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\"\
          >API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
  /v2/integrations/connections/{connection_id}/resource-operations/{resource_operation_id}:
    get:
      description: Get a single resource operation and its logs by ID.
      operationId: get_resource_operation
      parameters:
      - description: The unique identifier of the connection.
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          description: The unique identifier of the connection.
          format: uuid
          title: Connection Id
          type: string
        style: simple
      - description: The unique identifier of the resource operation.
        explode: false
        in: path
        name: resource_operation_id
        required: true
        schema:
          description: The unique identifier of the resource operation.
          format: uuid
          title: Resource Operation Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperationRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - resource_operation:read
      summary: Get Resource Operation
      tags:
      - Resource Operations
      x-mint:
        metadata:
          title: 🧪 Get Resource Operation
        content: "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional\
          \ endpoint</strong><br/>This endpoint is available for early access. The\
          \ core schema is stable, but minor details — such as field names or added\
          \ fields — may change before it becomes generally available. Backward compatibility\
          \ is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\"\
          >API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
  /v2/integrations/connections:
    get:
      description: Get a paginated list of all connections accessible to your organization.
      operationId: list_connections
      parameters:
      - explode: true
        in: query
        name: tsp_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: "Limit results to specific fleets. **Maximum:** 100 IDs. To specify\
          \ multiple values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            nullable: true
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific fleet references. **Maximum:** 100\
          \ references. To specify multiple values, repeat the parameter for each\
          \ value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_ConnectionRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - connection:read
      summary: List Connections
      tags:
      - Connections
    post:
      description: |-
        Create a new connection.

        This will validate the credentials with the TSP before creating the connection.
        If the credentials are invalid, the connection will not be created and an error will be returned.

        It also creates a schedule to refresh or exchanged the coneection details
        for a short lived credential, shuch as an access token.
      operationId: create_connection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - connection:create
      summary: Create Connection
      tags:
      - Connections
      x-excluded: "true"
  /v2/integrations/connections/data-freshness:
    get:
      description: Get a summary of data freshness for a fleet's telematics connections.
      operationId: get_data_freshness
      parameters:
      - description: "Limit results to specific fleets. **Maximum:** 100 IDs. To specify\
          \ multiple values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific fleet references. **Maximum:** 100\
          \ references. To specify multiple values, repeat the parameter for each\
          \ value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DataFreshness'
                type: array
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - connection:read
      summary: Get Data Freshness
      tags:
      - Connections
  /v2/integrations/connections/{connection_id}:
    delete:
      description: Delete a connection by its ID.
      operationId: delete_connection
      parameters:
      - explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          title: Connection Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - connection:delete
      summary: Delete Connection
      tags:
      - Connections
      x-excluded: "true"
      x-mint:
        content: <Info>Deleting connections is only available to fleets.</Info>
    get:
      description: Get detailed information about a specific connection.
      operationId: get_connection
      parameters:
      - explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          title: Connection Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - connection:read
      summary: Get Connection
      tags:
      - Connections
    patch:
      description: |-
        Update a connection by its ID.

        The repository handles validation, authentication, and SLC creation when credentials are updated.
      operationId: update_connection
      parameters:
      - explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          title: Connection Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - connection:update
      summary: Update Connection
      tags:
      - Connections
      x-excluded: "true"
      x-mint:
        content: <Info>Updating connections is only available to fleets.</Info>
  /v2/integrations/connections/schedules/backfill:
    post:
      description: |-
        Backfill schedules for existing connections when new resources are added to the system.

        When a new resource type is registered in the integrations service (e.g., a new TSP adapter
        is deployed or an existing adapter adds support for a new resource), existing connections
        don't automatically receive schedules for that resource. This creates a gap where connections
        can't collect data for newly supported resource types until schedules are manually created.

        This endpoint addresses that operational gap by creating the missing schedules across all
        affected connections in a single atomic operation, ensuring fleets can immediately benefit
        from newly supported resources without recreating connections or manual schedule management.

        The endpoint only creates schedules where none currently exist - deleted or disabled schedules
        are intentionally ignored to preserve deliberate administrative decisions (e.g., a fleet may
        have explicitly disabled a resource they don't need).

        Args:
            request: Backfill request containing resource type and optional filters
            session: Database session
            eventbridge: EventBridge client
            is_catena_admin: Admin authorization check

        Returns:
            ScheduleBackfillResponse: List of connection IDs where schedules were created
      operationId: backfill_schedules
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleBackfillRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleBackfillResponse'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - schedule:create
      summary: Backfill Schedules
      tags:
      - Connections
      x-excluded: "true"
  /v2/integrations/connection-pre-auths:
    post:
      description: |-
        Create a new connection pre-auth record.

        This endpoint stores pre-authentication credentials (e.g., username/password)
        before initiating an OAuth flow. The returned ID should be provided when
        creating the connection after the OAuth redirect completes.

        Pre-auth records are single-use and can only be used by the same fleet and TSP.
      operationId: create_connection_pre_auth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionPreAuthCreate'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                format: uuid
                title: Response Create Connection Pre Auth
                type: string
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - connection:create
      summary: Create Connection Pre Auth
      tags:
      - Connections
      x-excluded: "true"
  /v2/integrations/connections/{connection_id}/schedules:
    get:
      description: Get a paginated list of all schedules for a given connection.
      operationId: list_schedules
      parameters:
      - explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          title: Connection Id
          type: string
        style: simple
      - explode: true
        in: query
        name: resource
        required: false
        schema:
          $ref: '#/components/schemas/ResourceEnum'
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_ScheduleRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - schedule:read
      summary: List Schedules
      tags:
      - Connections
    post:
      description: |-
        Create a new schedule.

        This will create a schedule to fetch data from the TSP.

        It also creates a schedule to refresh or exchange the connection details
        for a short lived credential, such as an access token.

        For now only Catena admins can create schedules.
      operationId: create_schedule
      parameters:
      - explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          title: Connection Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - schedule:create
      summary: Create Schedule
      tags:
      - Connections
      x-excluded: "true"
  /v2/integrations/connections/{connection_id}/schedules/{schedule_id}:
    delete:
      description: Delete a schedule by its ID.
      operationId: delete_schedule
      parameters:
      - explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          title: Connection Id
          type: string
        style: simple
      - explode: false
        in: path
        name: schedule_id
        required: true
        schema:
          format: uuid
          title: Schedule Id
          type: string
        style: simple
      responses:
        "204":
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - schedule:delete
      summary: Delete Schedule
      tags:
      - Connections
      x-excluded: "true"
    get:
      description: Get detailed information about a specific schedule.
      operationId: get_schedule
      parameters:
      - explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          title: Connection Id
          type: string
        style: simple
      - explode: false
        in: path
        name: schedule_id
        required: true
        schema:
          format: uuid
          title: Schedule Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - schedule:read
      summary: Get Schedule
      tags:
      - Connections
    patch:
      description: Update a schedule by its ID.
      operationId: update_schedule
      parameters:
      - explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          title: Connection Id
          type: string
        style: simple
      - explode: false
        in: path
        name: schedule_id
        required: true
        schema:
          format: uuid
          title: Schedule Id
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - schedule:update
      summary: Update Schedule
      tags:
      - Connections
      x-excluded: "true"
  /v2/integrations/connections/{connection_id}/schedules/activate-schedules:
    post:
      description: |-
        Activate PAUSED or INACTIVE schedules for a connection.

        All eligible schedules for the connection are activated.
      operationId: activate_schedules
      parameters:
      - explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          title: Connection Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScheduleRead'
                type: array
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - schedule:update
      summary: Activate Schedules
      tags:
      - Connections
      x-excluded: "true"
  /v2/integrations/connections/{connection_id}/schedules/{schedule_id}/activate:
    post:
      description: Activate a specific PAUSED or INACTIVE schedule.
      operationId: activate_schedule
      parameters:
      - explode: false
        in: path
        name: schedule_id
        required: true
        schema:
          format: uuid
          title: Schedule Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - schedule:update
      summary: Activate Schedule
      tags:
      - Connections
      x-excluded: "true"
  /v2/integrations/connections/{connection_id}/schedules/{schedule_id}/executions:
    get:
      description: |-
        Get a paginated list of all executions for a given schedule.

        **Note:** Executions are retained for 7 days. After this period, they are
        automatically removed and will no longer appear in this list.
      operationId: list_executions
      parameters:
      - explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          title: Connection Id
          type: string
        style: simple
      - explode: false
        in: path
        name: schedule_id
        required: true
        schema:
          format: uuid
          title: Schedule Id
          type: string
        style: simple
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_ExecutionRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      security:
      - Bearer:
        - execution:read
      summary: List Executions
      tags:
      - Connections
  /v2/integrations/tsps:
    get:
      description: List all TSPs and the supported integrations for each TSP with
        cursor pagination.
      operationId: list_integrations_per_tsp
      parameters:
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_TspIntegrationsRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      summary: List Integrations Per Tsp
      tags:
      - TSP Integrations
  /v2/integrations/tsps/{tsp_id}:
    get:
      description: Get one TSP by id with its supported integrations.
      operationId: get_integrations_per_tsp
      parameters:
      - explode: false
        in: path
        name: tsp_id
        required: true
        schema:
          format: uuid
          title: Tsp Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TspIntegrationsRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "504":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeout'
          description: Gateway Timeout
      summary: Get Integrations Per Tsp
      tags:
      - TSP Integrations
components:
  schemas:
    AccessTokenCreds-Input:
      description: Access Token Credentials
      example:
        access_token: access_token
        refresh_token: refresh_token
        account_id: account_id
        user_id: user_id
        scope: scope
        host: host
        token_type: token_type
        expires_in: 0
      properties:
        access_token:
          title: Access Token
          type: string
        token_type:
          nullable: true
          type: string
        expires_in:
          nullable: true
          type: integer
        refresh_token:
          nullable: true
          type: string
        scope:
          nullable: true
          type: string
        user_id:
          nullable: true
          type: string
        account_id:
          nullable: true
          type: string
        host:
          nullable: true
          type: string
      required:
      - access_token
      title: AccessTokenCreds
    AccessTokenCreds-Output:
      description: Access Token Credentials
      properties:
        access_token: {}
        token_type:
          nullable: true
          type: string
        expires_in:
          nullable: true
          type: integer
        refresh_token: {}
        scope:
          nullable: true
          type: string
        user_id:
          nullable: true
          type: string
        account_id: {}
        host: {}
      required:
      - access_token
      title: AccessTokenCreds
    ApiAuthCreds-Input:
      description: API Auth Connection model
      properties:
        username:
          title: Username
          type: string
        password:
          title: Password
          type: string
        api_key:
          title: Api Key
          type: string
      required:
      - api_key
      - password
      - username
      title: ApiAuthCreds
    ApiAuthCreds-Output:
      description: API Auth Connection model
      properties:
        username: {}
        password: {}
        api_key: {}
      required:
      - api_key
      - password
      - username
      title: ApiAuthCreds
    ApiBasicCreds-Input:
      description: API Basic Connection model
      example:
        password: password
        host: host
        url: url
        username: username
        auth_code: auth_code
      properties:
        username:
          title: Username
          type: string
        password:
          title: Password
          type: string
        url:
          nullable: true
          type: string
        auth_code:
          nullable: true
          type: string
        host:
          nullable: true
          type: string
      required:
      - password
      - username
      title: ApiBasicCreds
    ApiBasicCreds-Output:
      description: API Basic Connection model
      properties:
        username: {}
        password: {}
        url:
          nullable: true
          type: string
        auth_code: {}
        host: {}
      required:
      - password
      - username
      title: ApiBasicCreds
    ApiKeyCreds-Input:
      description: API Key Connection model
      properties:
        api_key:
          title: Api Key
          type: string
        url:
          nullable: true
          type: string
        user_id:
          nullable: true
          type: string
      required:
      - api_key
      title: ApiKeyCreds
    ApiKeyCreds-Output:
      description: API Key Connection model
      properties:
        api_key: {}
        url:
          nullable: true
          type: string
        user_id:
          nullable: true
          type: string
      required:
      - api_key
      title: ApiKeyCreds
    AzugaSLC-Input:
      description: Azuga Short-lived Credentials model
      properties:
        api_key:
          title: Api Key
          type: string
        token:
          title: Token
          type: string
      required:
      - api_key
      - token
      title: AzugaSLC
    AzugaSLC-Output:
      description: Azuga Short-lived Credentials model
      properties:
        api_key: {}
        token: {}
      required:
      - api_key
      - token
      title: AzugaSLC
    BadRequest:
      example:
        code: 6
        detail: detail
        message: Bad Request
      properties:
        code:
          default: 400
          title: Code
          type: integer
        message:
          default: Bad Request
          title: Message
          type: string
        detail:
          nullable: true
          type: string
      title: BadRequest
    BouncieCreds-Input:
      description: Bouncie Credentials model
      properties:
        auth_code:
          title: Auth Code
          type: string
        redirect_uri:
          title: Redirect Uri
          type: string
        client_id:
          nullable: true
          type: string
        client_secret:
          nullable: true
          type: string
      required:
      - auth_code
      - redirect_uri
      title: BouncieCreds
    BouncieCreds-Output:
      description: Bouncie Credentials model
      properties:
        auth_code: {}
        redirect_uri:
          title: Redirect Uri
          type: string
        client_id:
          nullable: true
          type: string
        client_secret: {}
      required:
      - auth_code
      - redirect_uri
      title: BouncieCreds
    ClientIdSecretCreds-Input:
      description: Client ID Secret Connection model
      properties:
        client_id:
          title: Client Id
          type: string
        client_secret:
          title: Client Secret
          type: string
        url:
          nullable: true
          type: string
        account_id:
          nullable: true
          type: string
      required:
      - client_id
      - client_secret
      title: ClientIdSecretCreds
    ClientIdSecretCreds-Output:
      description: Client ID Secret Connection model
      properties:
        client_id:
          title: Client Id
          type: string
        client_secret: {}
        url:
          nullable: true
          type: string
        account_id: {}
      required:
      - client_id
      - client_secret
      title: ClientIdSecretCreds
    CompanyAccessCreds-Input:
      description: Company Access Credentials model
      properties:
        username:
          title: Username
          type: string
        password:
          title: Password
          type: string
        company_id:
          title: Company Id
          type: string
      required:
      - company_id
      - password
      - username
      title: CompanyAccessCreds
    CompanyAccessCreds-Output:
      description: Company Access Credentials model
      properties:
        username: {}
        password: {}
        company_id: {}
      required:
      - company_id
      - password
      - username
      title: CompanyAccessCreds
    CompanyIdCreds-Input:
      description: Company ID Credentials model
      properties:
        company_id:
          title: Company Id
          type: string
      required:
      - company_id
      title: CompanyIdCreds
    CompanyIdCreds-Output:
      description: Company ID Credentials model
      properties:
        company_id: {}
      required:
      - company_id
      title: CompanyIdCreds
    Conflict:
      example:
        code: 7
        detail: detail
        message: Conflict
      properties:
        code:
          default: 409
          title: Code
          type: integer
        message:
          default: Conflict
          title: Message
          type: string
        detail:
          nullable: true
          type: string
      title: Conflict
    ConnectionCreate:
      description: API Model for creating a connection
      example:
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        credentials:
          access_token: access_token
          refresh_token: refresh_token
          account_id: account_id
          user_id: user_id
          scope: scope
          host: host
          token_type: token_type
          expires_in: 0
        description: description
      properties:
        tsp_id:
          description: The ID of the Telematics Service Provider (TSP) that the fleet
            uses.
          format: uuid
          title: TSP ID
          type: string
        credentials:
          $ref: '#/components/schemas/Credentials'
        description:
          nullable: true
          type: string
      required:
      - credentials
      - tsp_id
      title: ConnectionCreate
    ConnectionPreAuthCreate:
      description: API Model for creating a connection pre-authentication record
      example:
        pre_auth_credentials:
          password: password
          host: host
          url: url
          username: username
          auth_code: auth_code
        tsp_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        tsp_id:
          description: The ID of the Telematics Service Provider (TSP) that the fleet
            uses.
          format: uuid
          title: TSP ID
          type: string
        pre_auth_credentials:
          $ref: '#/components/schemas/ApiBasicCreds-Input'
      required:
      - pre_auth_credentials
      - tsp_id
      title: ConnectionPreAuthCreate
    ConnectionRead:
      description: API Model for reading a connection
      example:
        credentials:
          api_key: '*****'
        description: Eroad connection for fleet 1234
        source_name: eroad
      properties:
        id:
          description: Unique identifier for the connection.
          format: uuid
          title: Connection ID
          type: string
        created_at:
          description: Timestamp when the connection was created.
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Timestamp when the connection was last updated.
          format: date-time
          title: Updated At
          type: string
        fleet_id:
          format: uuid
          nullable: true
          type: string
        fleet_ref:
          nullable: true
          type: string
        tsp_id:
          description: The ID of the Telematics Service Provider (TSP).
          format: uuid
          title: TSP ID
          type: string
        source_name:
          $ref: '#/components/schemas/TspEnum'
        credentials:
          $ref: '#/components/schemas/Credentials_1'
        status:
          $ref: '#/components/schemas/ConnectionStatusEnum'
        description:
          nullable: true
          type: string
      required:
      - created_at
      - credentials
      - description
      - fleet_id
      - id
      - source_name
      - status
      - tsp_id
      - updated_at
      title: ConnectionRead
    ConnectionStatusEnum:
      description: Enum representing the possible statuses of a connection.
      enum:
      - active
      - failed
      - cancelled
      - paused
      - stale
      - deleted
      title: ConnectionStatusEnum
      type: string
    ConnectionUpdate:
      description: API Model for updating a connection
      example:
        credentials:
          access_token: access_token
          refresh_token: refresh_token
          account_id: account_id
          user_id: user_id
          scope: scope
          host: host
          token_type: token_type
          expires_in: 0
        description: description
        status: active
      properties:
        credentials:
          $ref: '#/components/schemas/Credentials_2'
        description:
          nullable: true
          type: string
        status:
          $ref: '#/components/schemas/ConnectionStatusEnum'
      title: ConnectionUpdate
    DataFreshness:
      description: Freshness and scheduling details for a single resource type within
        a share agreement.
      example:
        connection_description: My fleet ELD connection
        connection_id: 123e4567-e89b-12d3-a456-426614174000
        fleet_id: 123e4567-e89b-12d3-a456-426614173999
        fleet_ref: my-fleet-ref
        last_successful_execution_at: 2024-01-01T12:00:00Z
        next_execution_at: 2024-01-01T13:00:00Z
        resource: vehicle
        schedule_id: 123e4567-e89b-12d3-a456-426614174002
        schedule_status: active
        share_level: read_write
        source_name: geotab
        tsp_id: 123e4567-e89b-12d3-a456-426614174001
        tsp_slug: geotab
      properties:
        resource:
          $ref: '#/components/schemas/ResourceEnum'
        share_level:
          $ref: '#/components/schemas/ShareLevelEnum'
        fleet_id:
          description: Unique identifier of the fleet this freshness record applies
            to.
          format: uuid
          title: Fleet ID
          type: string
        fleet_ref:
          nullable: true
          type: string
        connection_id:
          description: Unique identifier of the telematics provider connection that
            supplies this resource's data.
          format: uuid
          title: Connection ID
          type: string
        connection_description:
          nullable: true
          type: string
        schedule_id:
          description: Unique identifier of the schedule that controls automatic data
            fetching for this resource.
          format: uuid
          title: Schedule ID
          type: string
        source_name:
          description: "Name of the telematics provider (e.g., geotab, samsara, motive)."
          title: Telematics Provider
          type: string
        tsp_id:
          description: Unique identifier of the telematics service provider (TSP)
            at Catena.
          format: uuid
          title: TSP ID
          type: string
        tsp_slug:
          description: Human-readable identifier of the telematics service provider
            (TSP) at Catena.
          title: TSP Slug
          type: string
        last_successful_execution_at:
          format: date-time
          nullable: true
          type: string
        next_execution_at:
          format: date-time
          nullable: true
          type: string
        schedule_status:
          $ref: '#/components/schemas/ScheduleStatusEnum'
      required:
      - connection_id
      - fleet_id
      - last_successful_execution_at
      - next_execution_at
      - resource
      - schedule_id
      - schedule_status
      - source_name
      - tsp_id
      - tsp_slug
      title: DataFreshness
    DatabaseCreds-Input:
      description: Database Connection model
      properties:
        drivername:
          $ref: '#/components/schemas/DatabaseDriverEnum'
        host:
          title: Host
          type: string
        port:
          title: Port
          type: integer
        username:
          title: Username
          type: string
        password:
          title: Password
          type: string
        database:
          title: Database
          type: string
      required:
      - database
      - drivername
      - host
      - password
      - port
      - username
      title: DatabaseCreds
    DatabaseCreds-Output:
      description: Database Connection model
      properties:
        drivername:
          $ref: '#/components/schemas/DatabaseDriverEnum'
        host: {}
        port:
          title: Port
          type: integer
        username: {}
        password: {}
        database:
          title: Database
          type: string
      required:
      - database
      - drivername
      - host
      - password
      - port
      - username
      title: DatabaseCreds
    DatabaseDriverEnum:
      description: Database Driver
      enum:
      - postgresql+psycopg2
      - cockroachdb
      - mongodb
      - mysql
      - mariadb
      - snowflake
      - clickhouse
      title: DatabaseDriverEnum
      type: string
    EZLynkAccessCreds-Input:
      description: EZ Lynk Access Credentials model
      properties:
        access_token:
          title: Access Token
          type: string
        carrier_identifier:
          title: Carrier Identifier
          type: string
        carrier_identifier_type:
          enum:
          - dot
          - cvor
          title: Carrier Identifier Type
          type: string
      required:
      - access_token
      - carrier_identifier
      - carrier_identifier_type
      title: EZLynkAccessCreds
    EZLynkAccessCreds-Output:
      description: EZ Lynk Access Credentials model
      properties:
        access_token: {}
        carrier_identifier:
          title: Carrier Identifier
          type: string
        carrier_identifier_type:
          enum:
          - dot
          - cvor
          title: Carrier Identifier Type
          type: string
      required:
      - access_token
      - carrier_identifier
      - carrier_identifier_type
      title: EZLynkAccessCreds
    EZLynkCreds:
      description: EZ Lynk Credentials model for initial onboard
      properties:
        carrier_identifier:
          title: Carrier Identifier
          type: string
        carrier_identifier_type:
          enum:
          - dot
          - cvor
          title: Carrier Identifier Type
          type: string
      required:
      - carrier_identifier
      - carrier_identifier_type
      title: EZLynkCreds
    ExecutionRead:
      description: |-
        API Model for reading an execution.

        Executions are retained for 7 days. After this period, they are automatically
        removed and will no longer be accessible via the API.
      example:
        resource: vehicle
        source_name: geotab
        status: success
      properties:
        id:
          description: Unique identifier for the execution. Use this ID to trace which
            execution ingested specific data.
          format: uuid
          title: Execution ID
          type: string
        created_at:
          description: Timestamp when the execution was created.
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Timestamp when the execution was last updated.
          format: date-time
          title: Updated At
          type: string
        schedule_id:
          description: The ID of the schedule that this execution belongs to.
          format: uuid
          title: Schedule ID
          type: string
        connection_id:
          description: The ID of the connection used for this execution.
          format: uuid
          title: Connection ID
          type: string
        fleet_id:
          description: The ID of the fleet that owns this execution.
          format: uuid
          title: Fleet ID
          type: string
        status:
          $ref: '#/components/schemas/ExecutionStatusEnum'
        source_name:
          $ref: '#/components/schemas/TspEnum'
        resource:
          $ref: '#/components/schemas/ResourceEnum'
        cursor:
          nullable: true
          type: string
        response:
          additionalProperties: true
          nullable: true
          type: object
        last_data_at:
          format: date-time
          nullable: true
          type: string
      required:
      - connection_id
      - created_at
      - fleet_id
      - id
      - resource
      - schedule_id
      - source_name
      - status
      - updated_at
      title: ExecutionRead
    ExecutionStatusEnum:
      description: Enum representing the possible statuses of an execution.
      enum:
      - failed
      - pending
      - scheduled
      - success
      title: ExecutionStatusEnum
      type: string
    EzlogzCreds:
      description: Ezlogz Connection model
      properties:
        app_id:
          title: App Id
          type: string
        app_key:
          title: App Key
          type: string
        client_key:
          title: Client Key
          type: string
      required:
      - app_id
      - app_key
      - client_key
      title: EzlogzCreds
    FactorEldCreds-Input:
      description: Factor ELD Connection model
      properties:
        username:
          title: Username
          type: string
        password:
          title: Password
          type: string
        api_key:
          title: Api Key
          type: string
      required:
      - api_key
      - password
      - username
      title: FactorEldCreds
    FactorEldCreds-Output:
      description: Factor ELD Connection model
      properties:
        username: {}
        password: {}
        api_key: {}
      required:
      - api_key
      - password
      - username
      title: FactorEldCreds
    FleetupCreds-Input:
      description: Fleetup Connection model
      properties:
        account_id:
          title: Account Id
          type: string
        secret_key:
          title: Secret Key
          type: string
        api_key:
          title: Api Key
          type: string
      required:
      - account_id
      - api_key
      - secret_key
      title: FleetupCreds
    FleetupCreds-Output:
      description: Fleetup Connection model
      properties:
        account_id: {}
        secret_key: {}
        api_key: {}
      required:
      - account_id
      - api_key
      - secret_key
      title: FleetupCreds
    FleetupSLC-Input:
      description: Fleetup SLC Connection model
      properties:
        account_id:
          title: Account Id
          type: string
        api_key:
          title: Api Key
          type: string
        token:
          title: Token
          type: string
      required:
      - account_id
      - api_key
      - token
      title: FleetupSLC
    FleetupSLC-Output:
      description: Fleetup SLC Connection model
      properties:
        account_id: {}
        api_key: {}
        token: {}
      required:
      - account_id
      - api_key
      - token
      title: FleetupSLC
    Forbidden:
      example:
        code: 5
        detail: detail
        message: Forbidden
      properties:
        code:
          default: 403
          title: Code
          type: integer
        message:
          default: Forbidden
          title: Message
          type: string
        detail:
          nullable: true
          type: string
      title: Forbidden
    GatewayTimeout:
      example:
        code: 4
        detail: detail
        message: Gateway Timeout
      properties:
        code:
          default: 504
          title: Code
          type: integer
        message:
          default: Gateway Timeout
          title: Message
          type: string
        detail:
          nullable: true
          type: string
      title: GatewayTimeout
    GeotabCreds-Input:
      description: Geotab Connection model
      properties:
        username:
          title: Username
          type: string
        password:
          title: Password
          type: string
        database:
          title: Database
          type: string
        session_id:
          nullable: true
          type: string
      required:
      - database
      - password
      - username
      title: GeotabCreds
    GeotabCreds-Output:
      description: Geotab Connection model
      properties:
        username: {}
        password: {}
        database:
          title: Database
          type: string
        session_id:
          nullable: true
          type: string
      required:
      - database
      - password
      - username
      title: GeotabCreds
    IntegrationStatusEnum:
      description: Support status for a given TSP/resource pair.
      enum:
      - implemented
      - not_implemented
      - not_supported
      title: IntegrationStatusEnum
      type: string
    InternalServerError:
      example:
        message: Internal Server Error
      properties:
        message:
          default: Internal Server Error
          title: Message
          type: string
      title: InternalServerError
    IsaacCreds-Input:
      description: Isaac Connection model
      properties:
        username:
          title: Username
          type: string
        password:
          title: Password
          type: string
        auth_code:
          title: Auth Code
          type: string
        host:
          title: Host
          type: string
      required:
      - auth_code
      - host
      - password
      - username
      title: IsaacCreds
    IsaacCreds-Output:
      description: Isaac Connection model
      properties:
        username: {}
        password: {}
        auth_code: {}
        host: {}
      required:
      - auth_code
      - host
      - password
      - username
      title: IsaacCreds
    MethodNotAllowed:
      example:
        code: 2
        detail: detail
        message: Method Not Allowed
      properties:
        code:
          default: 405
          title: Code
          type: integer
        message:
          default: Method Not Allowed
          title: Message
          type: string
        detail:
          nullable: true
          type: string
      title: MethodNotAllowed
    MotiveCreds-Input:
      description: Motive Connection model
      properties:
        client_id:
          title: Client Id
          type: string
        client_secret:
          title: Client Secret
          type: string
        auth_code:
          title: Auth Code
          type: string
        redirect_uri:
          title: Redirect Uri
          type: string
      required:
      - auth_code
      - client_id
      - client_secret
      - redirect_uri
      title: MotiveCreds
    MotiveCreds-Output:
      description: Motive Connection model
      properties:
        client_id:
          title: Client Id
          type: string
        client_secret: {}
        auth_code: {}
        redirect_uri:
          title: Redirect Uri
          type: string
      required:
      - auth_code
      - client_id
      - client_secret
      - redirect_uri
      title: MotiveCreds
    NotFound:
      example:
        code: 5
        detail: detail
        message: Not Found
      properties:
        code:
          default: 404
          title: Code
          type: integer
        message:
          default: Not Found
          title: Message
          type: string
        detail:
          nullable: true
          type: string
      title: NotFound
    OAuth1Creds-Input:
      description: OAuth1 Connection model
      properties:
        client_id:
          title: Client Id
          type: string
        client_secret:
          title: Client Secret
          type: string
        resource_owner_id:
          title: Resource Owner Id
          type: string
        resource_owner_secret:
          title: Resource Owner Secret
          type: string
        signature_method:
          title: Signature Method
          type: string
        realm:
          title: Realm
          type: string
        url:
          title: Url
          type: string
      required:
      - client_id
      - client_secret
      - realm
      - resource_owner_id
      - resource_owner_secret
      - signature_method
      - url
      title: OAuth1Creds
    OAuth1Creds-Output:
      description: OAuth1 Connection model
      properties:
        client_id:
          title: Client Id
          type: string
        client_secret: {}
        resource_owner_id:
          title: Resource Owner Id
          type: string
        resource_owner_secret: {}
        signature_method:
          title: Signature Method
          type: string
        realm:
          title: Realm
          type: string
        url:
          title: Url
          type: string
      required:
      - client_id
      - client_secret
      - realm
      - resource_owner_id
      - resource_owner_secret
      - signature_method
      - url
      title: OAuth1Creds
    OAuth2Creds-Input:
      description: OAuth2 Connection model
      properties:
        client_id:
          title: Client Id
          type: string
        client_secret:
          title: Client Secret
          type: string
        scope:
          nullable: true
          type: string
        refresh_token:
          nullable: true
          type: string
        token_url:
          title: Token Url
          type: string
        url:
          title: Url
          type: string
      required:
      - client_id
      - client_secret
      - token_url
      - url
      title: OAuth2Creds
    OAuth2Creds-Output:
      description: OAuth2 Connection model
      properties:
        client_id:
          title: Client Id
          type: string
        client_secret: {}
        scope:
          nullable: true
          type: string
        refresh_token: {}
        token_url:
          title: Token Url
          type: string
        url:
          title: Url
          type: string
      required:
      - client_id
      - client_secret
      - token_url
      - url
      title: OAuth2Creds
    OAuth2InitiateCreds-Input:
      description: OAuth2 Initiate Connection model
      properties:
        code:
          title: Code
          type: string
        grant_type:
          nullable: true
          type: string
        token_url:
          nullable: true
          type: string
        redirect_uri:
          nullable: true
          type: string
      required:
      - code
      title: OAuth2InitiateCreds
    OAuth2InitiateCreds-Output:
      description: OAuth2 Initiate Connection model
      properties:
        code: {}
        grant_type:
          nullable: true
          type: string
        token_url:
          nullable: true
          type: string
        redirect_uri:
          nullable: true
          type: string
      required:
      - code
      title: OAuth2InitiateCreds
    OAuth2PrivateKeyCreds-Input:
      description: OAuth2 Private Key Connection model
      properties:
        client_id:
          title: Client Id
          type: string
        private_key:
          title: Private Key
          type: string
        scope:
          nullable: true
          type: string
        token_url:
          title: Token Url
          type: string
        url:
          title: Url
          type: string
      required:
      - client_id
      - private_key
      - token_url
      - url
      title: OAuth2PrivateKeyCreds
    OAuth2PrivateKeyCreds-Output:
      description: OAuth2 Private Key Connection model
      properties:
        client_id:
          title: Client Id
          type: string
        private_key: {}
        scope:
          nullable: true
          type: string
        token_url:
          title: Token Url
          type: string
        url:
          title: Url
          type: string
      required:
      - client_id
      - private_key
      - token_url
      - url
      title: OAuth2PrivateKeyCreds
    OntimeEldCreds-Input:
      description: Ontime ELD Connection model
      properties:
        api_key:
          title: Api Key
          type: string
        provider_token:
          title: Provider Token
          type: string
        dot_number:
          title: Dot Number
          type: string
      required:
      - api_key
      - dot_number
      - provider_token
      title: OntimeEldCreds
    OntimeEldCreds-Output:
      description: Ontime ELD Connection model
      properties:
        api_key: {}
        provider_token: {}
        dot_number:
          title: Dot Number
          type: string
      required:
      - api_key
      - dot_number
      - provider_token
      title: OntimeEldCreds
    PrivateKeyCreds-Input:
      description: Private Key Connection model
      properties:
        private_key:
          title: Private Key
          type: string
        consumer_key:
          title: Consumer Key
          type: string
        username:
          title: Username
          type: string
        url:
          nullable: true
          type: string
        token_url:
          nullable: true
          type: string
      required:
      - consumer_key
      - private_key
      - username
      title: PrivateKeyCreds
    PrivateKeyCreds-Output:
      description: Private Key Connection model
      properties:
        private_key: {}
        consumer_key: {}
        username: {}
        url:
          nullable: true
          type: string
        token_url:
          nullable: true
          type: string
      required:
      - consumer_key
      - private_key
      - username
      title: PrivateKeyCreds
    ResourceEnum:
      description: Enum for resources
      enum:
      - asset
      - driver_association
      - driver_vehicle_association
      - driver_event_log
      - driver_safety_event
      - dvir_log
      - dvir_log_defect
      - engine_log
      - engine_status
      - fuel_transaction
      - hos_availability
      - hos_daily_snapshot
      - hos_event
      - hos_event_annotation
      - hos_event_attachment
      - hos_violation
      - ifta_summary
      - location_segment
      - message
      - group_message
      - user
      - vehicle
      - vehicle_location
      - vehicle_sensor
      - vehicle_region_segment
      - trailer
      - trailer_association
      - trailer_vehicle_association
      - trailer_location
      - trailer_status
      - workflow
      title: ResourceEnum
      type: string
    ResourceOperationErrorTypeEnum:
      description: Enum for the type of error that occurred during a resource operation.
      enum:
      - auth
      - validation
      - network
      - tsp
      title: ResourceOperationErrorTypeEnum
      type: string
    ResourceOperationLogRead:
      description: API response model for a resource operation log entry.
      example:
        response_headers:
          key: response_headers
        updated_at: 2000-01-23T04:56:07.000+00:00
        error_details: error_details
        error_type: auth
        resource_operation_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: success
        response_status_code: 0
      properties:
        id:
          description: Unique identifier for the log entry.
          format: uuid
          title: Log ID
          type: string
        created_at:
          description: Timestamp when the log entry was created.
          format: date-time
          title: Created At
          type: string
        updated_at:
          description: Timestamp when the log entry was last updated.
          format: date-time
          title: Updated At
          type: string
        resource_operation_id:
          description: The ID of the resource operation this log entry belongs to.
          format: uuid
          title: Resource Operation ID
          type: string
        status:
          $ref: '#/components/schemas/ResourceOperationLogStatusEnum'
        error_type:
          $ref: '#/components/schemas/ResourceOperationErrorTypeEnum'
        error_details:
          nullable: true
          type: string
[...]
