{
  "openapi": "3.1.0",
  "info": {
    "title": "Telematics Data Service - REST API",
    "description": "Telematics Data Service REST API.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.catenatelematics.com",
      "description": "Catena Telematics API"
    }
  ],
  "paths": {
    "/v2/telematics/driver-safety-events": {
      "get": {
        "tags": [
          "Safety & Driver Behavior"
        ],
        "summary": "List Driver Safety Events",
        "description": "Get a paginated list of driver safety events accessible to your organization.",
        "operationId": "list_driver_safety_events",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using your organization's fleet reference identifiers",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleets using your organization's fleet reference identifiers"
          },
          {
            "name": "from_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
              "title": "From Datetime"
            },
            "description": "Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
            "example": "2025-12-17T13:11:38.688841+00:00"
          },
          {
            "name": "to_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
              "title": "To Datetime"
            },
            "description": "Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
            "example": "2025-12-18T13:11:38.688985+00:00"
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          },
          {
            "name": "driver_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific drivers. **Maximum:** 100 IDs",
              "title": "Driver Ids"
            },
            "description": "Limit results to specific drivers. **Maximum:** 100 IDs"
          },
          {
            "name": "vehicle_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific vehicles. **Maximum:** 100 IDs",
              "title": "Vehicle Ids"
            },
            "description": "Limit results to specific vehicles. **Maximum:** 100 IDs"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_DriverSafetyEvent_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "\ud83e\uddea List Driver Safety Events"
          },
          "content": "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional endpoint</strong><br/>This endpoint may change or be removed in future releases. Backward compatibility is not guaranteed.<br/><br/><em>See <a href=\"/overview/api-stability-and-versioning\">API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
        },
        "x-hidden": true
      }
    },
    "/v2/telematics/users/{user_id}": {
      "get": {
        "tags": [
          "Drivers & Users"
        ],
        "summary": "Get User",
        "description": "Get detailed information about a specific user.",
        "operationId": "get_user",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the user.",
              "title": "User Id"
            },
            "description": "The unique identifier of the user."
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        }
      }
    },
    "/v2/telematics/users": {
      "get": {
        "tags": [
          "Drivers & Users"
        ],
        "summary": "List Users",
        "description": "Get a paginated list of user information accessible to your organization.",
        "operationId": "list_users",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using your organization's fleet reference identifiers",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleets using your organization's fleet reference identifiers"
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          },
          {
            "name": "user_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific users. **Maximum:** 100 IDs",
              "title": "User Ids"
            },
            "description": "Limit results to specific users. **Maximum:** 100 IDs"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_User_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        }
      }
    },
    "/v2/telematics/vehicles/{vehicle_id}": {
      "get": {
        "tags": [
          "Fleet Operations & Tracking"
        ],
        "summary": "Get Vehicle",
        "description": "Get detailed information about a specific vehicle.",
        "operationId": "get_vehicle",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "vehicle_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the vehicle.",
              "title": "Vehicle Id"
            },
            "description": "The unique identifier of the vehicle."
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vehicle"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        }
      }
    },
    "/v2/telematics/vehicles": {
      "get": {
        "tags": [
          "Fleet Operations & Tracking"
        ],
        "summary": "List Vehicles",
        "description": "Get a paginated list of vehicle information accessible to your organization.",
        "operationId": "list_vehicles",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using your organization's fleet reference identifiers",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleets using your organization's fleet reference identifiers"
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          },
          {
            "name": "vehicle_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific vehicles. **Maximum:** 100 IDs",
              "title": "Vehicle Ids"
            },
            "description": "Limit results to specific vehicles. **Maximum:** 100 IDs"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_Vehicle_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        }
      }
    },
    "/v2/telematics/trailers/{trailer_id}": {
      "get": {
        "tags": [
          "Fleet Operations & Tracking"
        ],
        "summary": "Get Trailer",
        "description": "Get detailed information about a specific trailer.",
        "operationId": "get_trailer",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "trailer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the trailer.",
              "title": "Trailer Id"
            },
            "description": "The unique identifier of the trailer."
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trailer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "\ud83e\uddea Get Trailer"
          },
          "content": "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional endpoint</strong><br/>This endpoint may change or be removed in future releases. Backward compatibility is not guaranteed.<br/><br/><em>See <a href=\"/overview/api-stability-and-versioning\">API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
        },
        "x-hidden": true
      }
    },
    "/v2/telematics/trailers": {
      "get": {
        "tags": [
          "Fleet Operations & Tracking"
        ],
        "summary": "List Trailers",
        "description": "Get a paginated list of trailer information accessible to your organization.",
        "operationId": "list_trailers",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using your organization's fleet reference identifiers",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleets using your organization's fleet reference identifiers"
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          },
          {
            "name": "trailer_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific trailers. **Maximum:** 100 IDs",
              "title": "Trailer Ids"
            },
            "description": "Limit results to specific trailers. **Maximum:** 100 IDs"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_Trailer_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "\ud83e\uddea List Trailers"
          },
          "content": "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional endpoint</strong><br/>This endpoint may change or be removed in future releases. Backward compatibility is not guaranteed.<br/><br/><em>See <a href=\"/overview/api-stability-and-versioning\">API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
        },
        "x-hidden": true
      }
    },
    "/v2/telematics/ifta-summaries": {
      "get": {
        "tags": [
          "Compliance & Regulation"
        ],
        "summary": "List Ifta Summaries",
        "description": "Get a paginated list of International Fuel Tax Agreement (IFTA) summaries information accessible to your organization.",
        "operationId": "list_ifta_summaries",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using your organization's fleet reference identifiers",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleets using your organization's fleet reference identifiers"
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          },
          {
            "name": "vehicle_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific vehicles. **Maximum:** 100 IDs",
              "title": "Vehicle Ids"
            },
            "description": "Limit results to specific vehicles. **Maximum:** 100 IDs"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_IftaSummary_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "\ud83e\uddea List IFTA Summaries"
          },
          "content": "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional endpoint</strong><br/>This endpoint may change or be removed in future releases. Backward compatibility is not guaranteed.<br/><br/><em>See <a href=\"/overview/api-stability-and-versioning\">API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
        }
      }
    },
    "/v2/telematics/hos-events": {
      "get": {
        "tags": [
          "Compliance & Regulation"
        ],
        "summary": "List HOS Events",
        "description": "Get a paginated list of Hours of Service (HOS) events information accessible to your organization.",
        "operationId": "list_hos_events",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using your organization's fleet reference identifiers",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleets using your organization's fleet reference identifiers"
          },
          {
            "name": "from_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
              "title": "From Datetime"
            },
            "description": "Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
            "example": "2025-12-17T13:11:38.688841+00:00"
          },
          {
            "name": "to_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
              "title": "To Datetime"
            },
            "description": "Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
            "example": "2025-12-18T13:11:38.688985+00:00"
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          },
          {
            "name": "driver_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific drivers. **Maximum:** 100 IDs",
              "title": "Driver Ids"
            },
            "description": "Limit results to specific drivers. **Maximum:** 100 IDs"
          },
          {
            "name": "vehicle_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific vehicles. **Maximum:** 100 IDs",
              "title": "Vehicle Ids"
            },
            "description": "Limit results to specific vehicles. **Maximum:** 100 IDs"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_HosEvent_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        }
      }
    },
    "/v2/telematics/hos-events/{hos_event_id}/attachments": {
      "get": {
        "tags": [
          "Compliance & Regulation"
        ],
        "summary": "Get Hos Event Attachments",
        "description": "Get a paginated list of Hours of Service (HOS) event attachment information for a specific HOS event accessible to your organization.",
        "operationId": "get_hos_event_attachments",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "hos_event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The ID of the HOS event",
              "title": "Hos Event Id"
            },
            "description": "The ID of the HOS event"
          },
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using your organization's fleet reference identifiers",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleets using your organization's fleet reference identifiers"
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_HosEventAttachment_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "\ud83e\uddea List HOS Event Attachments"
          },
          "content": "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional endpoint</strong><br/>This endpoint may change or be removed in future releases. Backward compatibility is not guaranteed.<br/><br/><em>See <a href=\"/overview/api-stability-and-versioning\">API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
        },
        "x-hidden": true
      }
    },
    "/v2/telematics/dvir-logs": {
      "get": {
        "tags": [
          "Compliance & Regulation"
        ],
        "summary": "List Dvir Logs",
        "description": "List all Driver Vehicle Inspection Reports (DVIR).",
        "operationId": "list_dvir_logs",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using your organization's fleet reference identifiers",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleets using your organization's fleet reference identifiers"
          },
          {
            "name": "from_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
              "title": "From Datetime"
            },
            "description": "Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
            "example": "2025-12-17T13:11:38.688841+00:00"
          },
          {
            "name": "to_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
              "title": "To Datetime"
            },
            "description": "Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
            "example": "2025-12-18T13:11:38.688985+00:00"
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          },
          {
            "name": "driver_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific drivers. **Maximum:** 100 IDs",
              "title": "Driver Ids"
            },
            "description": "Limit results to specific drivers. **Maximum:** 100 IDs"
          },
          {
            "name": "vehicle_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific vehicles. **Maximum:** 100 IDs",
              "title": "Vehicle Ids"
            },
            "description": "Limit results to specific vehicles. **Maximum:** 100 IDs"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CursorPage_DvirLog_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "\ud83e\uddea List DVIRs"
          },
          "content": "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional endpoint</strong><br/>This endpoint may change or be removed in future releases. Backward compatibility is not guaranteed.<br/><br/><em>See <a href=\"/overview/api-stability-and-versioning\">API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
        }
      }
    },
    "/v2/telematics/dvir-logs/{dvir_log_id}/defects": {
      "get": {
        "tags": [
          "Compliance & Regulation"
        ],
        "summary": "Get Dvir Log Defects",
        "description": "Get a paginated list of Driver Vehicle Inspection Report (DVIR) log defects for a specific DVIR log.",
        "operationId": "get_dvir_log_defects",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "dvir_log_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "The unique identifier of the DVIR log",
              "title": "Dvir Log Id"
            },
            "description": "The unique identifier of the DVIR log"
          },
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using your organization's fleet reference identifiers",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleets using your organization's fleet reference identifiers"
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CursorPage_DvirLogDefect_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "\ud83e\uddea Get DVIR Defects"
          },
          "content": "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional endpoint</strong><br/>This endpoint may change or be removed in future releases. Backward compatibility is not guaranteed.<br/><br/><em>See <a href=\"/overview/api-stability-and-versioning\">API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
        }
      }
    },
    "/v2/telematics/dvir-defects": {
      "get": {
        "tags": [
          "Compliance & Regulation"
        ],
        "summary": "List Dvir Log Defects",
        "description": "Get a paginated list of Driver Vehicle Inspection Report (DVIR) log defects for a specific DVIR log.",
        "operationId": "list_dvir_log_defects",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using your organization's fleet reference identifiers",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleets using your organization's fleet reference identifiers"
          },
          {
            "name": "from_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
              "title": "From Datetime"
            },
            "description": "Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
            "example": "2025-12-17T13:11:38.688841+00:00"
          },
          {
            "name": "to_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
              "title": "To Datetime"
            },
            "description": "Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
            "example": "2025-12-18T13:11:38.688985+00:00"
          },
          {
            "name": "dvir_log_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific DVIR logs. **Maximum:** 100 IDs",
              "title": "Dvir Log Ids"
            },
            "description": "Limit results to specific DVIR logs. **Maximum:** 100 IDs"
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 0,
              "description": "Page size",
              "default": 50,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CursorPage_DvirLogDefect_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forbidden"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntity"
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequests"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "501": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotImplementedResponse"
                }
              }
            },
            "description": "Not Implemented"
          }
        },
        "x-mint": {
          "metadata": {
            "title": "\ud83e\uddea List DVIR Defects"
          },
          "content": "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional endpoint</strong><br/>This endpoint may change or be removed in future releases. Backward compatibility is not guaranteed.<br/><br/><em>See <a href=\"/overview/api-stability-and-versioning\">API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
        }
      }
    },
    "/v2/telematics/vehicle-locations": {
      "get": {
        "tags": [
          "Fleet Operations & Tracking"
        ],
        "summary": "List Vehicle Locations",
        "description": "Get a paginated list of vehicle locations accessible to your organization.",
        "operationId": "list_vehicle_locations",
        "security": [
          {
            "Bearer": [
              "telematics:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "only_latest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "If true, only the latest known location per vehicle is returned.",
              "default": true,
              "title": "Only Latest"
            },
            "description": "If true, only the latest known location per vehicle is returned."
          },
          {
            "name": "fleet_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*",
              "title": "Fleet Ids"
            },
            "description": "Limit results to specific fleets using Catena's fleet IDs. *For your own fleet identifiers, use `fleet_refs` instead*"
          },
          {
            "name": "fleet_refs",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific fleets using your organization's fleet reference identifiers",
              "title": "Fleet Refs"
            },
            "description": "Limit results to specific fleets using your organization's fleet reference identifiers"
          },
          {
            "name": "from_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
              "title": "From Datetime"
            },
            "description": "Return only records that occurred on or after this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime` **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
            "example": "2025-12-17T13:11:38.688841+00:00"
          },
          {
            "name": "to_datetime",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
              "title": "To Datetime"
            },
            "description": "Return only records that occurred before this date and time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime` **Default value:** `now()` **Restriction:** `to_datetime - from_datetime` cannot exceed 15 days",
            "example": "2025-12-18T13:11:38.688985+00:00"
          },
          {
            "name": "driver_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific drivers. **Maximum:** 100 IDs",
              "title": "Driver Ids"
            },
            "description": "Limit results to specific drivers. **Maximum:** 100 IDs"
          },
          {
            "name": "vehicle_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "maxItems": 100
                },
                {
                  "type": "null"
                }
              ],
              "description": "Limit results to specific vehicles. **Maximum:** 100 IDs",
              "title": "Vehicle Ids"
            },
            "description": "Limit results to specific vehicles. **Maximum:** 100 IDs"
          },
          {
            "name": "include_source_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*",
              "default": false,
              "title": "Include Source Data"
            },
            "description": "Include the raw data from the telematics provider. *Useful for auditing or accessing fields not normalized by Catena*"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Cursor for the next page",
              "title": "Cursor"
            },
            "description": "Cursor for the next page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Page size",
              "default": 300,
              "title": "Size"
            },
            "description": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_CursorPage_TypeVar_Customized_VehicleLocation_"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
[...]
