openapi: 3.1.0
info:
  description: Telematics Data Service REST API.
  title: Telematics Data Service - REST API
  version: 0.1.0
servers:
- description: Catena Telematics API
  url: https://api.catenatelematics.com
tags:
- description: "Endpoints for tracking vehicles, trailers, assets, and trip activity\
    \ — including locations, movements, and operational telemetry. Useful for monitoring\
    \ utilization and real-time operational status."
  name: Fleet Operations & Tracking
- description: "Endpoints that provide safety-related insights such as harsh braking,\
    \ speeding, and other driver behavior events. Supports risk analysis and safety\
    \ program automation."
  name: Safety & Driver Behavior
- description: "Endpoints covering regulated requirements including DVIR inspections,\
    \ Hours of Service (HOS), violations, and IFTA fuel tax reporting. Helps organizations\
    \ meet DOT/FMCSA and interstate regulatory obligations."
  name: Compliance & Regulation
- description: "Endpoints providing data for vehicle condition monitoring and maintenance\
    \ workflows, such as DVIR defects and diagnostic sensor events. Enables early\
    \ issue detection and reduced downtime."
  name: Maintenance & Vehicle Health
- description: "Endpoints related to driver and user identities, assignments, and\
    \ operational context. Supports linking operational and safety data to specific\
    \ individuals."
  name: Drivers & Users
- description: "Lookup tables and enumerations that supply standardized codes, metadata,\
    \ and classifications used across the API."
  name: Reference Data (Supporting Tables)
- description: "Endpoints providing analytical insights and aggregated data for vehicles,\
    \ fleets, drivers, and trailers."
  name: Analytics
paths:
  /v2/telematics/driver-safety-events:
    get:
      description: Get a paginated list of driver safety events accessible to your
        organization.
      operationId: list_driver_safety_events
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead* To specify multiple\
          \ values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific fleets using your organization's fleet\
          \ reference identifiers. To specify multiple values, repeat the parameter\
          \ for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to a specific provider connection. This is the
          UUID assigned by Catena when your fleet connects to a TSP.
        explode: true
        in: query
        name: connection_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Return only records that occurred on or after this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
          **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 45 days
        explode: true
        in: query
        name: from_datetime
        required: false
        schema:
          description: Return only records that occurred on or after this date and
            time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
            **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 45 days
          format: date-time
          title: From Datetime
          type: string
        style: form
      - description: Return only records that occurred before this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
          **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 45 days
        explode: true
        in: query
        name: to_datetime
        required: false
        schema:
          description: Return only records that occurred before this date and time.
            **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
            **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 45 days
          format: date-time
          title: To Datetime
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: "Limit results to specific drivers. **Maximum:** 100 IDs To specify\
          \ multiple values, repeat the parameter for each value (e.g., `?driver_ids=id1&driver_ids=id2`)."
        explode: true
        in: query
        name: driver_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific vehicles. **Maximum:** 100 IDs To\
          \ specify multiple values, repeat the parameter for each value (e.g., `?vehicle_ids=id1&vehicle_ids=id2`)."
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "The name of the field to sort results by. If not provided, results\
          \ will be ordered by `occurred_at`. "
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "The order of sorting, either `asc` for ascending or `desc` for\
          \ descending. Defaults to `asc` if `sort_by` is provided without `sort_order`."
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: asc
          description: "The order of sorting, either `asc` for ascending or `desc`\
            \ for descending. Defaults to `asc` if `sort_by` is provided without `sort_order`."
          enum:
          - asc
          - desc
          title: Sort Order
          type: string
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_DriverSafetyEventRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Driver Safety Events
      tags:
      - Safety & Driver Behavior
      x-mint:
        metadata:
          title: 🧪 List Driver Safety Events
        content: "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional\
          \ endpoint</strong><br/>This endpoint is available for early access. The\
          \ core schema is stable, but minor details — such as field names or added\
          \ fields — may change before it becomes generally available. Backward compatibility\
          \ is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\"\
          >API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
  /v2/telematics/users/{user_id}:
    get:
      description: Get detailed information about a specific user.
      operationId: get_user
      parameters:
      - description: The unique identifier of the user.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          description: The unique identifier of the user.
          format: uuid
          title: User Id
          type: string
        style: simple
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: Get User
      tags:
      - Drivers & Users
  /v2/telematics/users:
    get:
      description: Get a paginated list of user information accessible to your organization.
      operationId: list_users
      parameters:
      - description: Filter users by whether they are drivers or not.
        explode: true
        in: query
        name: is_driver
        required: false
        schema:
          nullable: true
          type: boolean
        style: form
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead* To specify multiple\
          \ values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific fleets using your organization's fleet\
          \ reference identifiers. To specify multiple values, repeat the parameter\
          \ for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to a specific provider connection. This is the
          UUID assigned by Catena when your fleet connects to a TSP.
        explode: true
        in: query
        name: connection_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: "Limit results to specific users. **Maximum:** 100 IDs To specify\
          \ multiple values, repeat the parameter for each value (e.g., `?user_ids=id1&user_ids=id2`)."
        explode: true
        in: query
        name: user_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific resources using the identifier provided\
          \ by the TSP. **Maximum:** 100 IDs To specify multiple values, repeat the\
          \ parameter for each value (e.g., `?source_ids=id1&source_ids=id2`)."
        explode: true
        in: query
        name: source_ids
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "The name of the field to sort results by. If not provided, results\
          \ will be ordered by `occurred_at`. "
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "The order of sorting, either `asc` for ascending or `desc` for\
          \ descending. Defaults to `asc` if `sort_by` is provided without `sort_order`."
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: asc
          description: "The order of sorting, either `asc` for ascending or `desc`\
            \ for descending. Defaults to `asc` if `sort_by` is provided without `sort_order`."
          enum:
          - asc
          - desc
          title: Sort Order
          type: string
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_UserRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Users
      tags:
      - Drivers & Users
    post:
      description: "Create a new user. The user will be created asynchronously, and\
        \ you can check the status of the operation using the returned operation ID."
      operationId: create_user
      parameters:
      - description: "Whether to process the request synchronously. If `true`, Catena\
          \ will attempt to create or update the resource immediately with the TSP\
          \ and return the result in the response. When performing synchronous operations,\
          \ you are responsible for handling any necessary retries in case of transient\
          \ failures.If `false` (default), Catena will create an asynchronous operation,\
          \ and you can check the status of the operation using the returned operation\
          \ ID."
        explode: true
        in: query
        name: is_sync
        required: false
        schema:
          default: false
          description: "Whether to process the request synchronously. If `true`, Catena\
            \ will attempt to create or update the resource immediately with the TSP\
            \ and return the result in the response. When performing synchronous operations,\
            \ you are responsible for handling any necessary retries in case of transient\
            \ failures.If `false` (default), Catena will create an asynchronous operation,\
            \ and you can check the status of the operation using the returned operation\
            \ ID."
          title: Is Sync
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The user was created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to create the user has been accepted and is being
            processed.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to create the user could not be processed at this
            time. Please see the response for more details.
      security:
      - Bearer:
        - telematics:write
      summary: Create User
      tags:
      - Drivers & Users
      x-mint:
        metadata:
          title: 🧪 Create User
        content: "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional\
          \ endpoint</strong><br/>This endpoint is available for early access. The\
          \ core schema is stable, but minor details — such as field names or added\
          \ fields — may change before it becomes generally available. Backward compatibility\
          \ is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\"\
          >API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
  /v2/telematics/users/{id}:
    patch:
      description: "Update an existing user. The user will be updated asynchronously,\
        \ and you can check the status of the operation using the returned operation\
        \ ID."
      operationId: update_user
      parameters:
      - description: The unique identifier of the user
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of the user
          format: uuid
          title: Id
          type: string
        style: simple
      - description: "Whether to process the request synchronously. If `true`, Catena\
          \ will attempt to create or update the resource immediately with the TSP\
          \ and return the result in the response. When performing synchronous operations,\
          \ you are responsible for handling any necessary retries in case of transient\
          \ failures.If `false` (default), Catena will create an asynchronous operation,\
          \ and you can check the status of the operation using the returned operation\
          \ ID."
        explode: true
        in: query
        name: is_sync
        required: false
        schema:
          default: false
          description: "Whether to process the request synchronously. If `true`, Catena\
            \ will attempt to create or update the resource immediately with the TSP\
            \ and return the result in the response. When performing synchronous operations,\
            \ you are responsible for handling any necessary retries in case of transient\
            \ failures.If `false` (default), Catena will create an asynchronous operation,\
            \ and you can check the status of the operation using the returned operation\
            \ ID."
          title: Is Sync
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The user was updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to update the user has been accepted and is being
            processed.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to update the user could not be processed at this
            time. Please see the response for more details.
      security:
      - Bearer:
        - telematics:write
      summary: Update User
      tags:
      - Drivers & Users
      x-mint:
        metadata:
          title: 🧪 Update User
        content: "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional\
          \ endpoint</strong><br/>This endpoint is available for early access. The\
          \ core schema is stable, but minor details — such as field names or added\
          \ fields — may change before it becomes generally available. Backward compatibility\
          \ is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\"\
          >API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
  /v2/telematics/vehicles/{vehicle_id}:
    get:
      description: Get detailed information about a specific vehicle.
      operationId: get_vehicle
      parameters:
      - description: The unique identifier of the vehicle.
        explode: false
        in: path
        name: vehicle_id
        required: true
        schema:
          description: The unique identifier of the vehicle.
          format: uuid
          title: Vehicle Id
          type: string
        style: simple
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: Get Vehicle
      tags:
      - Fleet Operations & Tracking
  /v2/telematics/vehicles:
    get:
      description: Get a paginated list of vehicle information accessible to your
        organization.
      operationId: list_vehicles
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead* To specify multiple\
          \ values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific fleets using your organization's fleet\
          \ reference identifiers. To specify multiple values, repeat the parameter\
          \ for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to a specific provider connection. This is the
          UUID assigned by Catena when your fleet connects to a TSP.
        explode: true
        in: query
        name: connection_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: "Limit results to specific vehicles. **Maximum:** 100 IDs To\
          \ specify multiple values, repeat the parameter for each value (e.g., `?vehicle_ids=id1&vehicle_ids=id2`)."
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific resources using the identifier provided\
          \ by the TSP. **Maximum:** 100 IDs To specify multiple values, repeat the\
          \ parameter for each value (e.g., `?source_ids=id1&source_ids=id2`)."
        explode: true
        in: query
        name: source_ids
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "The name of the field to sort results by. If not provided, results\
          \ will be ordered by `occurred_at`. "
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "The order of sorting, either `asc` for ascending or `desc` for\
          \ descending. Defaults to `asc` if `sort_by` is provided without `sort_order`."
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: asc
          description: "The order of sorting, either `asc` for ascending or `desc`\
            \ for descending. Defaults to `asc` if `sort_by` is provided without `sort_order`."
          enum:
          - asc
          - desc
          title: Sort Order
          type: string
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_VehicleRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Vehicles
      tags:
      - Fleet Operations & Tracking
    post:
      description: "Create a new vehicle. By default, the vehicle will be created\
        \ asynchronously, and you can check the status of the operation using the\
        \ returned operation ID."
      operationId: create_vehicle
      parameters:
      - description: "Whether to process the request synchronously. If `true`, Catena\
          \ will attempt to create or update the resource immediately with the TSP\
          \ and return the result in the response. When performing synchronous operations,\
          \ you are responsible for handling any necessary retries in case of transient\
          \ failures.If `false` (default), Catena will create an asynchronous operation,\
          \ and you can check the status of the operation using the returned operation\
          \ ID."
        explode: true
        in: query
        name: is_sync
        required: false
        schema:
          default: false
          description: "Whether to process the request synchronously. If `true`, Catena\
            \ will attempt to create or update the resource immediately with the TSP\
            \ and return the result in the response. When performing synchronous operations,\
            \ you are responsible for handling any necessary retries in case of transient\
            \ failures.If `false` (default), Catena will create an asynchronous operation,\
            \ and you can check the status of the operation using the returned operation\
            \ ID."
          title: Is Sync
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The vehicle was created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to create the vehicle has been accepted and is
            being processed.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to create the vehicle could not be processed at
            this time. Please see the response for more details.
      security:
      - Bearer:
        - telematics:write
      summary: Create Vehicle
      tags:
      - Fleet Operations & Tracking
      x-mint:
        metadata:
          title: 🧪 Create Vehicle
        content: "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional\
          \ endpoint</strong><br/>This endpoint is available for early access. The\
          \ core schema is stable, but minor details — such as field names or added\
          \ fields — may change before it becomes generally available. Backward compatibility\
          \ is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\"\
          >API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
  /v2/telematics/vehicles/{id}:
    patch:
      description: "Update an existing vehicle. By default, the vehicle will be updated\
        \ asynchronously, and you can check the status of the operation using the\
        \ returned operation ID."
      operationId: update_vehicle
      parameters:
      - description: The unique identifier of the vehicle
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of the vehicle
          format: uuid
          title: Id
          type: string
        style: simple
      - description: "Whether to process the request synchronously. If `true`, Catena\
          \ will attempt to create or update the resource immediately with the TSP\
          \ and return the result in the response. When performing synchronous operations,\
          \ you are responsible for handling any necessary retries in case of transient\
          \ failures.If `false` (default), Catena will create an asynchronous operation,\
          \ and you can check the status of the operation using the returned operation\
          \ ID."
        explode: true
        in: query
        name: is_sync
        required: false
        schema:
          default: false
          description: "Whether to process the request synchronously. If `true`, Catena\
            \ will attempt to create or update the resource immediately with the TSP\
            \ and return the result in the response. When performing synchronous operations,\
            \ you are responsible for handling any necessary retries in case of transient\
            \ failures.If `false` (default), Catena will create an asynchronous operation,\
            \ and you can check the status of the operation using the returned operation\
            \ ID."
          title: Is Sync
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The vehicle was updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to update the vehicle has been accepted and is
            being processed.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to update the vehicle could not be processed at
            this time. Please see the response for more details.
      security:
      - Bearer:
        - telematics:write
      summary: Update Vehicle
      tags:
      - Fleet Operations & Tracking
      x-mint:
        metadata:
          title: 🧪 Update Vehicle
        content: "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional\
          \ endpoint</strong><br/>This endpoint is available for early access. The\
          \ core schema is stable, but minor details — such as field names or added\
          \ fields — may change before it becomes generally available. Backward compatibility\
          \ is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\"\
          >API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
  /v2/telematics/trailers/{trailer_id}:
    get:
      description: Get detailed information about a specific trailer.
      operationId: get_trailer
      parameters:
      - description: The unique identifier of the trailer.
        explode: false
        in: path
        name: trailer_id
        required: true
        schema:
          description: The unique identifier of the trailer.
          format: uuid
          title: Trailer Id
          type: string
        style: simple
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrailerRead'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: Get Trailer
      tags:
      - Fleet Operations & Tracking
  /v2/telematics/trailers:
    get:
      description: Get a paginated list of trailer information accessible to your
        organization.
      operationId: list_trailers
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead* To specify multiple\
          \ values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific fleets using your organization's fleet\
          \ reference identifiers. To specify multiple values, repeat the parameter\
          \ for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to a specific provider connection. This is the
          UUID assigned by Catena when your fleet connects to a TSP.
        explode: true
        in: query
        name: connection_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: "Limit results to specific trailers. **Maximum:** 100 IDs To\
          \ specify multiple values, repeat the parameter for each value (e.g., `?trailer_ids=id1&trailer_ids=id2`)."
        explode: true
        in: query
        name: trailer_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific resources using the identifier provided\
          \ by the TSP. **Maximum:** 100 IDs To specify multiple values, repeat the\
          \ parameter for each value (e.g., `?source_ids=id1&source_ids=id2`)."
        explode: true
        in: query
        name: source_ids
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "The name of the field to sort results by. If not provided, results\
          \ will be ordered by `occurred_at`. "
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "The order of sorting, either `asc` for ascending or `desc` for\
          \ descending. Defaults to `asc` if `sort_by` is provided without `sort_order`."
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: asc
          description: "The order of sorting, either `asc` for ascending or `desc`\
            \ for descending. Defaults to `asc` if `sort_by` is provided without `sort_order`."
          enum:
          - asc
          - desc
          title: Sort Order
          type: string
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TrailerRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Trailers
      tags:
      - Fleet Operations & Tracking
    post:
      description: "Create a new trailer. By default, the trailer will be created\
        \ asynchronously, and you can check the status of the operation using the\
        \ returned operation ID."
      operationId: create_trailer
      parameters:
      - description: "Whether to process the request synchronously. If `true`, Catena\
          \ will attempt to create or update the resource immediately with the TSP\
          \ and return the result in the response. When performing synchronous operations,\
          \ you are responsible for handling any necessary retries in case of transient\
          \ failures.If `false` (default), Catena will create an asynchronous operation,\
          \ and you can check the status of the operation using the returned operation\
          \ ID."
        explode: true
        in: query
        name: is_sync
        required: false
        schema:
          default: false
          description: "Whether to process the request synchronously. If `true`, Catena\
            \ will attempt to create or update the resource immediately with the TSP\
            \ and return the result in the response. When performing synchronous operations,\
            \ you are responsible for handling any necessary retries in case of transient\
            \ failures.If `false` (default), Catena will create an asynchronous operation,\
            \ and you can check the status of the operation using the returned operation\
            \ ID."
          title: Is Sync
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrailerCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The trailer was created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to create the trailer has been accepted and is
            being processed.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to create the trailer could not be processed at
            this time. Please see the response for more details.
      security:
      - Bearer:
        - telematics:write
      summary: Create Trailer
      tags:
      - Fleet Operations & Tracking
      x-mint:
        metadata:
          title: 🧪 Create Trailer
        content: "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional\
          \ endpoint</strong><br/>This endpoint is available for early access. The\
          \ core schema is stable, but minor details — such as field names or added\
          \ fields — may change before it becomes generally available. Backward compatibility\
          \ is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\"\
          >API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
  /v2/telematics/trailers/{id}:
    patch:
      description: "Update an existing trailer. By default, the trailer will be updated\
        \ asynchronously, and you can check the status of the operation using the\
        \ returned operation ID."
      operationId: update_trailer
      parameters:
      - description: The unique identifier of the trailer
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The unique identifier of the trailer
          format: uuid
          title: Id
          type: string
        style: simple
      - description: "Whether to process the request synchronously. If `true`, Catena\
          \ will attempt to create or update the resource immediately with the TSP\
          \ and return the result in the response. When performing synchronous operations,\
          \ you are responsible for handling any necessary retries in case of transient\
          \ failures.If `false` (default), Catena will create an asynchronous operation,\
          \ and you can check the status of the operation using the returned operation\
          \ ID."
        explode: true
        in: query
        name: is_sync
        required: false
        schema:
          default: false
          description: "Whether to process the request synchronously. If `true`, Catena\
            \ will attempt to create or update the resource immediately with the TSP\
            \ and return the result in the response. When performing synchronous operations,\
            \ you are responsible for handling any necessary retries in case of transient\
            \ failures.If `false` (default), Catena will create an asynchronous operation,\
            \ and you can check the status of the operation using the returned operation\
            \ ID."
          title: Is Sync
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrailerUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The trailer was updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to update the trailer has been accepted and is
            being processed.
        "502":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceOperation'
          description: The request to update the trailer could not be processed at
            this time. Please see the response for more details.
      security:
      - Bearer:
        - telematics:write
      summary: Update Trailer
      tags:
      - Fleet Operations & Tracking
      x-mint:
        metadata:
          title: 🧪 Update Trailer
        content: "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional\
          \ endpoint</strong><br/>This endpoint is available for early access. The\
          \ core schema is stable, but minor details — such as field names or added\
          \ fields — may change before it becomes generally available. Backward compatibility\
          \ is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\"\
          >API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
  /v2/telematics/ifta-summaries:
    get:
      description: Get a paginated list of International Fuel Tax Agreement (IFTA)
        summaries information accessible to your organization.
      operationId: list_ifta_summaries
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead* To specify multiple\
          \ values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific fleets using your organization's fleet\
          \ reference identifiers. To specify multiple values, repeat the parameter\
          \ for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to a specific provider connection. This is the
          UUID assigned by Catena when your fleet connects to a TSP.
        explode: true
        in: query
        name: connection_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Return only records that occurred on or after this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
          **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 45 days
        explode: true
        in: query
        name: from_datetime
        required: false
        schema:
          description: Return only records that occurred on or after this date and
            time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
            **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 45 days
          format: date-time
          title: From Datetime
          type: string
        style: form
      - description: Return only records that occurred before this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
          **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 45 days
        explode: true
        in: query
        name: to_datetime
        required: false
        schema:
          description: Return only records that occurred before this date and time.
            **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
            **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 45 days
          format: date-time
          title: To Datetime
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: "Limit results to specific vehicles. **Maximum:** 100 IDs To\
          \ specify multiple values, repeat the parameter for each value (e.g., `?vehicle_ids=id1&vehicle_ids=id2`)."
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "The name of the field to sort results by. If not provided, results\
          \ will be ordered by `occurred_at`. "
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "The order of sorting, either `asc` for ascending or `desc` for\
          \ descending. Defaults to `asc` if `sort_by` is provided without `sort_order`."
        explode: true
        in: query
        name: sort_order
        required: false
        schema:
          default: asc
          description: "The order of sorting, either `asc` for ascending or `desc`\
            \ for descending. Defaults to `asc` if `sort_by` is provided without `sort_order`."
          enum:
          - asc
          - desc
          title: Sort Order
          type: string
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_IftaSummaryRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Ifta Summaries
      tags:
      - Compliance & Regulation
      x-mint:
        metadata:
          title: 🧪 List IFTA Summaries
        content: "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional\
          \ endpoint</strong><br/>This endpoint is available for early access. The\
          \ core schema is stable, but minor details — such as field names or added\
          \ fields — may change before it becomes generally available. Backward compatibility\
          \ is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\"\
          >API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
  /v2/telematics/hos-events:
    get:
      description: |-
        Get a paginated list of Hours of Service (HOS) events information accessible to your organization.

        Note: This endpoint uses a smaller maximum page size (500) due to the size of HOS event objects.
      operationId: list_hos_events
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead* To specify multiple\
          \ values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific fleets using your organization's fleet\
          \ reference identifiers. To specify multiple values, repeat the parameter\
          \ for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to a specific provider connection. This is the
          UUID assigned by Catena when your fleet connects to a TSP.
        explode: true
        in: query
        name: connection_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Return only records that occurred on or after this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
          **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 45 days
        explode: true
        in: query
        name: from_datetime
        required: false
        schema:
          description: Return only records that occurred on or after this date and
            time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
            **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 45 days
          format: date-time
          title: From Datetime
          type: string
        style: form
      - description: Return only records that occurred before this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
          **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 45 days
        explode: true
        in: query
        name: to_datetime
        required: false
        schema:
          description: Return only records that occurred before this date and time.
            **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
            **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 45 days
          format: date-time
          title: To Datetime
          type: string
        style: form
      - description: Return only records that were still active at or after this date
          and time. **Format:** ISO 8601 (UTC) **Applies filter:** `ended_at >= active_from_datetime`
        explode: true
        in: query
        name: active_from_datetime
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Return only records that started before this date and time. **Format:**
          ISO 8601 (UTC) **Applies filter:** `started_at < active_to_datetime`
        explode: true
        in: query
        name: active_to_datetime
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: "Limit results to specific drivers. **Maximum:** 100 IDs To specify\
          \ multiple values, repeat the parameter for each value (e.g., `?driver_ids=id1&driver_ids=id2`)."
        explode: true
        in: query
        name: driver_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific vehicles. **Maximum:** 100 IDs To\
          \ specify multiple values, repeat the parameter for each value (e.g., `?vehicle_ids=id1&vehicle_ids=id2`)."
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific HOS event type codes. **Maximum:**\
          \ 5 codes To specify multiple values, repeat the parameter for each value\
          \ (e.g., `?event_type_codes=code1&event_type_codes=code2`)."
        explode: true
        in: query
        name: event_type_codes
        required: false
        schema:
          items:
            $ref: '#/components/schemas/HosEventTypeCodeEnum'
          maxItems: 5
          nullable: true
          type: array
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 500
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_LargeObjectCursorPage_HosEventRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List HOS Events
      tags:
      - Compliance & Regulation
  /v2/telematics/hos-events/{hos_event_id}/attachments:
    get:
      description: Get a paginated list of Hours of Service (HOS) event attachment
        information for a specific HOS event accessible to your organization.
      operationId: get_hos_event_attachments
      parameters:
      - description: The ID of the HOS event
        explode: false
        in: path
        name: hos_event_id
        required: true
        schema:
          description: The ID of the HOS event
          format: uuid
          title: Hos Event Id
          type: string
        style: simple
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead* To specify multiple\
          \ values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific fleets using your organization's fleet\
          \ reference identifiers. To specify multiple values, repeat the parameter\
          \ for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to a specific provider connection. This is the
          UUID assigned by Catena when your fleet connects to a TSP.
        explode: true
        in: query
        name: connection_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_HosEventAttachmentRead_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MethodNotAllowed'
          description: Method Not Allowed
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
          description: Conflict
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: Get Hos Event Attachments
      tags:
      - Compliance & Regulation
      x-mint:
        metadata:
          title: 🧪 List HOS Event Attachments
        content: "<Callout icon=\"vial\" color=\"#FFC107\" iconType=\"solid\"><strong>Provisional\
          \ endpoint</strong><br/>This endpoint is available for early access. The\
          \ core schema is stable, but minor details — such as field names or added\
          \ fields — may change before it becomes generally available. Backward compatibility\
          \ is not guaranteed.<br/><br/><em>See <a href=\"/api-reference/stability-versioning\"\
          >API Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>"
      x-hidden: true
  /v2/telematics/dvir-logs:
    get:
      description: List all Driver Vehicle Inspection Reports (DVIR).
      operationId: list_dvir_logs
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead* To specify multiple\
          \ values, repeat the parameter for each value (e.g., `?fleet_ids=id1&fleet_ids=id2`)."
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific fleets using your organization's fleet\
          \ reference identifiers. To specify multiple values, repeat the parameter\
          \ for each value (e.g., `?fleet_refs=ref1&fleet_refs=ref2`)."
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to a specific provider connection. This is the
          UUID assigned by Catena when your fleet connects to a TSP.
        explode: true
        in: query
        name: connection_id
        required: false
        schema:
          format: uuid
          nullable: true
          type: string
        style: form
      - description: Return only records that occurred on or after this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
          **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 45 days
        explode: true
        in: query
        name: from_datetime
        required: false
        schema:
          description: Return only records that occurred on or after this date and
            time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
            **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 45 days
          format: date-time
          title: From Datetime
          type: string
        style: form
      - description: Return only records that occurred before this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
          **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 45 days
        explode: true
        in: query
        name: to_datetime
        required: false
        schema:
          description: Return only records that occurred before this date and time.
            **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
            **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 45 days
          format: date-time
          title: To Datetime
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: "Limit results to specific drivers. **Maximum:** 100 IDs To specify\
          \ multiple values, repeat the parameter for each value (e.g., `?driver_ids=id1&driver_ids=id2`)."
        explode: true
        in: query
        name: driver_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "Limit results to specific vehicles. **Maximum:** 100 IDs To\
          \ specify multiple values, repeat the parameter for each value (e.g., `?vehicle_ids=id1&vehicle_ids=id2`)."
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: "The name of the field to sort results by. If not provided, results\
          \ will be ordered by `occurred_at`. "
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: "The order of sorting, either `asc` for ascending or `desc` for\
[...]
