openapi: 3.1.0
info:
  description: Telematics Data Service REST API.
  title: Telematics Data Service - REST API
  version: 0.1.0
servers:
- description: Catena Telematics API
  url: https://api.catenatelematics.com
tags:
- description: "Endpoints for tracking vehicles, trailers, assets, and trip activity\
    \ — including locations, movements, and operational telemetry. Useful for monitoring\
    \ utilization and real-time operational status."
  name: Fleet Operations & Tracking
- description: "Endpoints that provide safety-related insights such as harsh braking,\
    \ speeding, and other driver behavior events. Supports risk analysis and safety\
    \ program automation."
  name: Safety & Driver Behavior
- description: "Endpoints covering regulated requirements including DVIR inspections,\
    \ Hours of Service (HOS), violations, and IFTA fuel tax reporting. Helps organizations\
    \ meet DOT/FMCSA and interstate regulatory obligations."
  name: Compliance & Regulation
- description: "Endpoints providing data for vehicle condition monitoring and maintenance\
    \ workflows, such as DVIR defects and diagnostic sensor events. Enables early\
    \ issue detection and reduced downtime."
  name: Maintenance & Vehicle Health
- description: "Endpoints related to driver and user identities, assignments, and\
    \ operational context. Supports linking operational and safety data to specific\
    \ individuals."
  name: Drivers & Users
- description: "Lookup tables and enumerations that supply standardized codes, metadata,\
    \ and classifications used across the API."
  name: Reference Data (Supporting Tables)
paths:
  /v2/telematics/driver-safety-events:
    get:
      description: Get a paginated list of driver safety events accessible to your
        organization.
      operationId: list_driver_safety_events
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Return only records that occurred on or after this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
          **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-17T13:11:38.688841+00:00
        explode: true
        in: query
        name: from_datetime
        required: false
        schema:
          description: Return only records that occurred on or after this date and
            time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
            **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: From Datetime
          type: string
        style: form
      - description: Return only records that occurred before this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
          **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-18T13:11:38.688985+00:00
        explode: true
        in: query
        name: to_datetime
        required: false
        schema:
          description: Return only records that occurred before this date and time.
            **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
            **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: To Datetime
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Limit results to specific drivers. **Maximum:** 100 IDs
        explode: true
        in: query
        name: driver_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific vehicles. **Maximum:** 100 IDs
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_DriverSafetyEvent_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Driver Safety Events
      tags:
      - Safety & Driver Behavior
      x-mint:
        metadata:
          title: 🧪 List Driver Safety Events
        content: <Callout icon="vial" color="#FFC107" iconType="solid"><strong>Provisional
          endpoint</strong><br/>This endpoint may change or be removed in future releases.
          Backward compatibility is not guaranteed.<br/><br/><em>See <a href="/overview/api-stability-and-versioning">API
          Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>
      x-hidden: true
  /v2/telematics/users/{user_id}:
    get:
      description: Get detailed information about a specific user.
      operationId: get_user
      parameters:
      - description: The unique identifier of the user.
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          description: The unique identifier of the user.
          format: uuid
          title: User Id
          type: string
        style: simple
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: Get User
      tags:
      - Drivers & Users
  /v2/telematics/users:
    get:
      description: Get a paginated list of user information accessible to your organization.
      operationId: list_users
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Limit results to specific users. **Maximum:** 100 IDs
        explode: true
        in: query
        name: user_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_User_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Users
      tags:
      - Drivers & Users
  /v2/telematics/vehicles/{vehicle_id}:
    get:
      description: Get detailed information about a specific vehicle.
      operationId: get_vehicle
      parameters:
      - description: The unique identifier of the vehicle.
        explode: false
        in: path
        name: vehicle_id
        required: true
        schema:
          description: The unique identifier of the vehicle.
          format: uuid
          title: Vehicle Id
          type: string
        style: simple
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: Get Vehicle
      tags:
      - Fleet Operations & Tracking
  /v2/telematics/vehicles:
    get:
      description: Get a paginated list of vehicle information accessible to your
        organization.
      operationId: list_vehicles
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Limit results to specific vehicles. **Maximum:** 100 IDs
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_Vehicle_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Vehicles
      tags:
      - Fleet Operations & Tracking
  /v2/telematics/trailers/{trailer_id}:
    get:
      description: Get detailed information about a specific trailer.
      operationId: get_trailer
      parameters:
      - description: The unique identifier of the trailer.
        explode: false
        in: path
        name: trailer_id
        required: true
        schema:
          description: The unique identifier of the trailer.
          format: uuid
          title: Trailer Id
          type: string
        style: simple
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trailer'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: Get Trailer
      tags:
      - Fleet Operations & Tracking
      x-mint:
        metadata:
          title: 🧪 Get Trailer
        content: <Callout icon="vial" color="#FFC107" iconType="solid"><strong>Provisional
          endpoint</strong><br/>This endpoint may change or be removed in future releases.
          Backward compatibility is not guaranteed.<br/><br/><em>See <a href="/overview/api-stability-and-versioning">API
          Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>
      x-hidden: true
  /v2/telematics/trailers:
    get:
      description: Get a paginated list of trailer information accessible to your
        organization.
      operationId: list_trailers
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Limit results to specific trailers. **Maximum:** 100 IDs
        explode: true
        in: query
        name: trailer_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_Trailer_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Trailers
      tags:
      - Fleet Operations & Tracking
      x-mint:
        metadata:
          title: 🧪 List Trailers
        content: <Callout icon="vial" color="#FFC107" iconType="solid"><strong>Provisional
          endpoint</strong><br/>This endpoint may change or be removed in future releases.
          Backward compatibility is not guaranteed.<br/><br/><em>See <a href="/overview/api-stability-and-versioning">API
          Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>
      x-hidden: true
  /v2/telematics/ifta-summaries:
    get:
      description: Get a paginated list of International Fuel Tax Agreement (IFTA)
        summaries information accessible to your organization.
      operationId: list_ifta_summaries
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Limit results to specific vehicles. **Maximum:** 100 IDs
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_IftaSummary_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Ifta Summaries
      tags:
      - Compliance & Regulation
      x-mint:
        metadata:
          title: 🧪 List IFTA Summaries
        content: <Callout icon="vial" color="#FFC107" iconType="solid"><strong>Provisional
          endpoint</strong><br/>This endpoint may change or be removed in future releases.
          Backward compatibility is not guaranteed.<br/><br/><em>See <a href="/overview/api-stability-and-versioning">API
          Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>
  /v2/telematics/hos-events:
    get:
      description: Get a paginated list of Hours of Service (HOS) events information
        accessible to your organization.
      operationId: list_hos_events
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Return only records that occurred on or after this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
          **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-17T13:11:38.688841+00:00
        explode: true
        in: query
        name: from_datetime
        required: false
        schema:
          description: Return only records that occurred on or after this date and
            time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
            **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: From Datetime
          type: string
        style: form
      - description: Return only records that occurred before this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
          **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-18T13:11:38.688985+00:00
        explode: true
        in: query
        name: to_datetime
        required: false
        schema:
          description: Return only records that occurred before this date and time.
            **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
            **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: To Datetime
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Limit results to specific drivers. **Maximum:** 100 IDs
        explode: true
        in: query
        name: driver_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific vehicles. **Maximum:** 100 IDs
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_HosEvent_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List HOS Events
      tags:
      - Compliance & Regulation
  /v2/telematics/hos-events/{hos_event_id}/attachments:
    get:
      description: Get a paginated list of Hours of Service (HOS) event attachment
        information for a specific HOS event accessible to your organization.
      operationId: get_hos_event_attachments
      parameters:
      - description: The ID of the HOS event
        explode: false
        in: path
        name: hos_event_id
        required: true
        schema:
          description: The ID of the HOS event
          format: uuid
          title: Hos Event Id
          type: string
        style: simple
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_HosEventAttachment_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: Get Hos Event Attachments
      tags:
      - Compliance & Regulation
      x-mint:
        metadata:
          title: 🧪 List HOS Event Attachments
        content: <Callout icon="vial" color="#FFC107" iconType="solid"><strong>Provisional
          endpoint</strong><br/>This endpoint may change or be removed in future releases.
          Backward compatibility is not guaranteed.<br/><br/><em>See <a href="/overview/api-stability-and-versioning">API
          Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>
      x-hidden: true
  /v2/telematics/dvir-logs:
    get:
      description: List all Driver Vehicle Inspection Reports (DVIR).
      operationId: list_dvir_logs
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Return only records that occurred on or after this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
          **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-17T13:11:38.688841+00:00
        explode: true
        in: query
        name: from_datetime
        required: false
        schema:
          description: Return only records that occurred on or after this date and
            time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
            **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: From Datetime
          type: string
        style: form
      - description: Return only records that occurred before this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
          **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-18T13:11:38.688985+00:00
        explode: true
        in: query
        name: to_datetime
        required: false
        schema:
          description: Return only records that occurred before this date and time.
            **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
            **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: To Datetime
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Limit results to specific drivers. **Maximum:** 100 IDs
        explode: true
        in: query
        name: driver_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific vehicles. **Maximum:** 100 IDs
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          description: Page size
          maximum: 100
          minimum: 0
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPage_DvirLog_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Dvir Logs
      tags:
      - Compliance & Regulation
      x-mint:
        metadata:
          title: 🧪 List DVIRs
        content: <Callout icon="vial" color="#FFC107" iconType="solid"><strong>Provisional
          endpoint</strong><br/>This endpoint may change or be removed in future releases.
          Backward compatibility is not guaranteed.<br/><br/><em>See <a href="/overview/api-stability-and-versioning">API
          Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>
  /v2/telematics/dvir-logs/{dvir_log_id}/defects:
    get:
      description: Get a paginated list of Driver Vehicle Inspection Report (DVIR)
        log defects for a specific DVIR log.
      operationId: get_dvir_log_defects
      parameters:
      - description: The unique identifier of the DVIR log
        explode: false
        in: path
        name: dvir_log_id
        required: true
        schema:
          description: The unique identifier of the DVIR log
          format: uuid
          title: Dvir Log Id
          type: string
        style: simple
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          description: Page size
          maximum: 100
          minimum: 0
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPage_DvirLogDefect_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: Get Dvir Log Defects
      tags:
      - Compliance & Regulation
      x-mint:
        metadata:
          title: 🧪 Get DVIR Defects
        content: <Callout icon="vial" color="#FFC107" iconType="solid"><strong>Provisional
          endpoint</strong><br/>This endpoint may change or be removed in future releases.
          Backward compatibility is not guaranteed.<br/><br/><em>See <a href="/overview/api-stability-and-versioning">API
          Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>
  /v2/telematics/dvir-defects:
    get:
      description: Get a paginated list of Driver Vehicle Inspection Report (DVIR)
        log defects for a specific DVIR log.
      operationId: list_dvir_log_defects
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Return only records that occurred on or after this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
          **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-17T13:11:38.688841+00:00
        explode: true
        in: query
        name: from_datetime
        required: false
        schema:
          description: Return only records that occurred on or after this date and
            time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
            **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: From Datetime
          type: string
        style: form
      - description: Return only records that occurred before this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
          **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-18T13:11:38.688985+00:00
        explode: true
        in: query
        name: to_datetime
        required: false
        schema:
          description: Return only records that occurred before this date and time.
            **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
            **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: To Datetime
          type: string
        style: form
      - description: Limit results to specific DVIR logs. **Maximum:** 100 IDs
        explode: true
        in: query
        name: dvir_log_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 50
          description: Page size
          maximum: 100
          minimum: 0
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPage_DvirLogDefect_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Dvir Log Defects
      tags:
      - Compliance & Regulation
      x-mint:
        metadata:
          title: 🧪 List DVIR Defects
        content: <Callout icon="vial" color="#FFC107" iconType="solid"><strong>Provisional
          endpoint</strong><br/>This endpoint may change or be removed in future releases.
          Backward compatibility is not guaranteed.<br/><br/><em>See <a href="/overview/api-stability-and-versioning">API
          Stability &amp; Versioning</a> for details on provisional endpoints.</em></Callout>
  /v2/telematics/vehicle-locations:
    get:
      description: Get a paginated list of vehicle locations accessible to your organization.
      operationId: list_vehicle_locations
      parameters:
      - description: "If true, only the latest known location per vehicle is returned."
        explode: true
        in: query
        name: only_latest
        required: false
        schema:
          default: true
          description: "If true, only the latest known location per vehicle is returned."
          title: Only Latest
          type: boolean
        style: form
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Return only records that occurred on or after this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
          **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-17T13:11:38.688841+00:00
        explode: true
        in: query
        name: from_datetime
        required: false
        schema:
          description: Return only records that occurred on or after this date and
            time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
            **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: From Datetime
          type: string
        style: form
      - description: Return only records that occurred before this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
          **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-18T13:11:38.688985+00:00
        explode: true
        in: query
        name: to_datetime
        required: false
        schema:
          description: Return only records that occurred before this date and time.
            **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
            **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: To Datetime
          type: string
        style: form
      - description: Limit results to specific drivers. **Maximum:** 100 IDs
        explode: true
        in: query
        name: driver_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific vehicles. **Maximum:** 100 IDs
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_VehicleLocation_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List Vehicle Locations
      tags:
      - Fleet Operations & Tracking
      x-mint:
        content: "<Warning>When <code>only_latest=true</code>, the <code>from_datetime</code>\
          \ and <code>to_datetime</code> query parameters are not applied. Only the\
          \ most recent location per vehicle is returned regardless of the date range\
          \ specified.</Warning>"
  /v2/telematics/hos-availabilities:
    get:
      description: Get a paginated list of Hours of Service (HOS) Availabilities information
        accessible to your organization.
      operationId: list_hos_availabilities
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Limit results to specific drivers. **Maximum:** 100 IDs
        explode: true
        in: query
        name: driver_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific vehicles. **Maximum:** 100 IDs
        explode: true
        in: query
        name: vehicle_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_HosAvailability_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List HOS Availabilities
      tags:
      - Compliance & Regulation
  /v2/telematics/hos-violations:
    get:
      description: Get a paginated list of Hours of Service (HOS) violation information
        accessible to your organization.
      operationId: list_hos_violations
      parameters:
      - description: "Limit results to specific fleets using Catena's fleet IDs. *For\
          \ your own fleet identifiers, use `fleet_refs` instead*"
        explode: true
        in: query
        name: fleet_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Limit results to specific fleets using your organization's fleet
          reference identifiers
        explode: true
        in: query
        name: fleet_refs
        required: false
        schema:
          items:
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Return only records that occurred on or after this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
          **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-17T13:11:38.688841+00:00
        explode: true
        in: query
        name: from_datetime
        required: false
        schema:
          description: Return only records that occurred on or after this date and
            time. **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at >= from_datetime`
            **Default value:** `now() - 1 day` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: From Datetime
          type: string
        style: form
      - description: Return only records that occurred before this date and time.
          **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
          **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
          cannot exceed 15 days
        example: 2025-12-18T13:11:38.688985+00:00
        explode: true
        in: query
        name: to_datetime
        required: false
        schema:
          description: Return only records that occurred before this date and time.
            **Format:** ISO 8601 (UTC) **Applies filter:** `occurred_at < to_datetime`
            **Default value:** `now()` **Restriction:** `to_datetime - from_datetime`
            cannot exceed 15 days
          format: date-time
          title: To Datetime
          type: string
        style: form
      - description: Include the raw data from the telematics provider. *Useful for
          auditing or accessing fields not normalized by Catena*
        explode: true
        in: query
        name: include_source_data
        required: false
        schema:
          default: false
          description: Include the raw data from the telematics provider. *Useful
            for auditing or accessing fields not normalized by Catena*
          title: Include Source Data
          type: boolean
        style: form
      - description: Limit results to specific drivers. **Maximum:** 100 IDs
        explode: true
        in: query
        name: driver_ids
        required: false
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          nullable: true
          type: array
        style: form
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_HosViolation_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List HOS Violations
      tags:
      - Compliance & Regulation
  /v2/telematics/ref-hos-rulesets:
    get:
      description: Get a paginated list of Hours of Service (HOS) rulesets reference
        data
      operationId: list_rulesets_reference
      parameters:
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_RefHosRuleset_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List HOS Rulesets
      tags:
      - Reference Data (Supporting Tables)
  /v2/telematics/ref-hos-event-codes:
    get:
      description: Get a paginated list of Hours of Service (HOS) event codes reference
        data
      operationId: list_hos_event_codes_reference
      parameters:
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_RefHosEventCode_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List HOS Event Codes
      tags:
      - Reference Data (Supporting Tables)
  /v2/telematics/ref-hos-malfunction-codes:
    get:
      description: Get a paginated list of Hours of Service (HOS) malfunction codes
        reference data
      operationId: list_hos_malfunction_codes_reference
      parameters:
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_RefHosMalfunctionCode_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List HOS Malfunction Codes
      tags:
      - Reference Data (Supporting Tables)
  /v2/telematics/ref-hos-record-origins:
    get:
      description: Get a paginated list of Hours of Service (HOS) record origins reference
        data
      operationId: list_hos_record_origins_reference
      parameters:
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_RefHosRecordOrigin_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List HOS Record Origins
      tags:
      - Reference Data (Supporting Tables)
  /v2/telematics/ref-hos-record-statuses:
    get:
      description: Get a paginated list of Hours of Service (HOS) record statuses
        reference data
      operationId: list_hos_record_statuses_reference
      parameters:
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_RefHosRecordStatus_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List HOS Record Statuses
      tags:
      - Reference Data (Supporting Tables)
  /v2/telematics/ref-hos-regions:
    get:
      description: Get a paginated list of Hours of Service (HOS) regions reference
        data
      operationId: list_hos_regions_reference
      parameters:
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_RefHosRegion_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List HOS Regions
      tags:
      - Reference Data (Supporting Tables)
  /v2/telematics/ref-hos-violation-codes:
    get:
      description: Get a paginated list of Hours of Service (HOS) violation codes
        reference data
      operationId: list_hos_violation_codes_reference
      parameters:
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_CursorPage_TypeVar_Customized_RefHosViolationCode_'
          description: Successful Response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unauthorized'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
          description: Unprocessable Entity
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
          description: Internal Server Error
        "501":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotImplementedResponse'
          description: Not Implemented
      security:
      - Bearer:
        - telematics:read
      summary: List HOS Violation Codes
      tags:
      - Reference Data (Supporting Tables)
  /v2/telematics/ref-timezones:
    get:
      description: Get a paginated list of timezones reference data
      operationId: list_timezones_reference
      parameters:
      - description: Cursor for the next page
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - description: Page size
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 300
          description: Page size
          maximum: 1000
          minimum: 1
          title: Size
          type: integer
        style: form
      responses:
        "200":
[...]
